<%- include("../header") %>
<!--Container Main start-->
<div class="dashboard-main-wraper">
  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head"> 
        <h3>Bet List</h3>
        <div class="rowId" data-rowid="1"></div>
        <form action="">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            <input type="text" id="searchUser"  list=text_editors class="form-control searchUser" placeholder="search user" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off">
            <div class="wrapper">
              <ul id="search" class="users">

              </ul>
              <ul id="button" class="button">

              </ul>
            </div>
          </div>
        </form>
      </div>
     
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="table-data-section">
        <div class="table-heading">
          <div class="table-heading-btn">
            <form action="" class="betlist-heading-from">
              <div class="input-group">
                <label>Select Game</label>
                <select name="Sport" id="fGame">
                  <option value="All" selected=""> All </option>
                  <option value="Cricket">Cricket</option>
                  <option value="Football">FOOTBALL</option>
                  <option value="Tennis">TENNIS</option>
                  <option value="Basketball">BASKETBALL</option>
                  <option value="Horserace">Horserace</option>
                  <option value="Greyhound">Greyhound</option>
                  <option value="SportBook">SportBook</option>
                  <option value="Premium">Premium</option>
                  <option value="Casino">Casino</option>
                  <option value="binary">Binary</option>
                </select>
              </div>
              <div class="input-group">
                <label>Filter Bets</label>
                <select  id="fBets">
                  <option value="All" selected>All</option>
                  <option value="OPEN">Open</option>
                  <option value="WON">Won</option>
                  <option value="LOSS">Lost</option>
                  <option value="CANCEL">Vold</option>
                </select>
              </div>
              <div class="input-group">
                <label>From Date</label>
                <input type = "date"   id="fromDate"> 
              </div>
              <div class="input-group">
                <label>To Date</label>
                <input type = "date"   id="toDate"> 
              </div>
            </form>
            <button class="btn-filter" id="downloadBtn"><i class="fa-solid fa-download"></i> &nbsp; Download CSV</button>
            <%if(bets.length !== 0){%>

              <div id="load-more" >
                <%if(bets.length >= 10){ %>
                  <button class="load-more">Load More</button>
                  <%}%>
                </div>
            <%}%>
          </div>
        </div>
        <div class="data-table">
          <%- include("./table") %>
        </div>
      </div>
    </div>
  </section>

  <div class="pageId" data-pageid="1"></div>

</div>
<%if(bets.length !== 0){%>

  <div id="load-more" >
    <%if(bets.length >= 10){ %>
      <button class="load-more">Load More</button>
      <%}%>
    </div>
<%}%>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script type="text/javascript" src="../js/bundle.js"></script>


</body>
</html>