<%- include("../header") %>
  <!--Container Main start-->
  <div class="height-100" style="background-color: #EAEEF7;">
   



<!-- End banner Slider -->

<!-- skin device sec -->

  <section class="" style="padding-top: 70px ;">
    <div class="container-fluid">
    <section style="padding-top: 10px;">
      <div class="new-head"> 
          <h1 class="main-heading">Reports</h1>
          <form action="" style="display: flex;height: 30px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search or type  a URL" aria-label="Username" aria-describedby="basic-addon1" style="margin-right: 13px;height: 32px;">
              
            </div>
            <button class="btn-filter"><i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
          </form>
      </div>
   
    </section>
    <%- include("../loginUserAdminsideDetails") %>
  </section>

  <section style="padding: 15px 0px;">
    <div class="container-fluid">
    <div class="row" style="background-color: #fff;padding: 15px 0px;border-radius: 10px;margin: auto;">
      <div class="">
        
      <h3 class="fix-h3"><img src="../images/reports.png" alt=""> &nbsp;Reports</h3>
    </div>
    <div class="cms-rep">
    <div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #6359ca !important;color: #fff !important;border: 2px solid #6359CA; padding: 6px 34px;">
          Reports 
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item " href="/gamereport">Game Reports</a></li>
          <li><a class="dropdown-item " href="/useracount">User Account Statment</a></li>
          <li><a class="dropdown-item active" href="/reports">Bet List</a></li>
          <li><a class="dropdown-item" href="/userhistoryreport">User history</a></li>
          <li><a class="dropdown-item" href="/Notification">plreport</a></li>
          
        </ul>
      </div>
    </div>
    <!-- <div>
      <form action="">
        <select name="" id="" style="background-color: #fff;color: #000;border: 2px solid #EAEEF7;">
          <option value="">Cricket</option>
          <option value="">FOOTBALL</option>

          <option value="">TENNIS</option>
          <option value="">BASKETBALL</option>
          <option value="">BASEBALL</option>
          <option value="">Primium</option>
          <option value="">Sports Books</option>

        </select>
          
          <select name="" id="" style="background-color: #fff;color: #000;border: 2px solid #EAEEF7; padding: 6px 34px;">
            <option value="">Open</option>
            <option value="">Settle</option>
            <option value="">Won</option>
            <option value="">Lost</option>
            <option value="">Vold</option>
            
  
          </select>

          <input type = "date" style="border-radius: 10px;padding: 5px;border: 2px solid #EAEEF7;"> 

          <input type = "date" style="border-radius: 10px;padding: 5px;border: 2px solid #EAEEF7;"> 
          </form>
    </div> -->
    <div>
      <span class="up-down-form">Select Game</span>
      <form action="">
        <select name="" id="" style="background-color: #fff;color: #000;border: 2px solid #EAEEF7;">
          <option value="">Cricket</option>
          <option value="">FOOTBALL</option>

          <option value="">TENNIS</option>
          <option value="">BASKETBALL</option>
          <option value="">BASEBALL</option>
          <option value="">Primium</option>
          <option value="">Sports Books</option>
         
        </select>
      </form>
    </div>
    <div>
      <span class="up-down-form">Filter Bets</span>

      <form action="">
        <select name="" id="" style="background-color: #fff;color: #000;border: 2px solid #EAEEF7;">
          <option value="">Open Bets</option>
          <option value="">Settle</option>
          <option value="">Won</option>
          <option value="">Lost</option>
          <option value="">Vold</option>
         
        </select>
      </form>
    </div>
    
      <div>
        <span class="up-down-form">From Date</span>
      <form action="">
        
          <input type = "date" style="border-radius: 10px;padding: 5px;border: 2px solid #EAEEF7;"> 
      </form>
        </div>
        <div>
          <span class="up-down-form">To Date</span>  
          <form action="">
          <input type = "date" style="border-radius: 10px;padding: 5px;border: 2px solid #EAEEF7;"> 
          </form>
          </div>
      <div style="justify-content: flex-end;display: flex;gap: 10px;">
      <button class="btn-filter"><i class="fa-solid fa-download"></i> &nbsp; Excel</button>
    </div>
  </div>
  <section class="">
    <div class="">
      <div class="table_data_details_ col-lg-12">
      
        <!-- <div class="spcare-table_">
              <div class="hed-data">
                <h3 class="fix-h3"><img src="../images/tp.png" alt=""> &nbsp; Top Player</h3>
                
            </div> -->
              <table>
                <thead>
                    <tr style="text-align: center;font-size: 11px;">
                      <th>S.No</th>
                      <th>User Name</th>
                      <th>Date</th>
                      <th>Sport</th>
                      <th>Match</th>
                      <th>Market</th>
                      <th>Bet On </th>
                      <th>Odds</th>
                      <th>Stake</th>
                      <th>Returns</th>
                      <th>Txn ID </th>
                      <th>Game/Round</th>
                      
                    </tr>
                </thead>
                <tbody class="new-body" style="font-size: 11px;">
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;" class="">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;" class="">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;" class="">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>Bett3</td>
                    <td>22-12-2022</td>
                    <td>Cricket</td>
                    <td>S S v H H</td>
                    <td>Fancy</td>
                    <td>5 over runs SS (N) @ 100</td>
                    <td>44</td>
                    <td>100.00</td>
                    <td>0.00</td>
                    <td>177957406</td>
                    <td>-</td>
                  </tr>
                 
                </tbody>
              </table>
              </div>
            </div>

            </div>
          </div>
            </section>
<!-- end gallary -->


  </div>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>

</body>
    </html>