<form action="">
  <div class="table-top-from-data">
    <div class="input-group text">
    <div class="cur-bet-amount-dv">
        <!-- <select class="form-select form-select-sm acount-stat-ro-form-input" aria-label="Default select example">
            <option selected>All Reports</option>
            <option value="1">Deposit/Withdraw Reports</option>
            <option value="2">Game Reports</option>
        </select> -->
        
          <span class="cur-bet-amount-spn">Total Bets : <span>285</span></span>
          
            <span class="cur-bet-amount-spn">Total Amount : <span class="c-gren">68625.501</span></span>
          
        
    </div>
</div>

    <div class="input-group">
        <input type="date" class="form-control form-control-sm acount-stat-ro-form-input" id="FdateBet">
        <input type="date" class="form-control form-control-sm acount-stat-ro-form-input" id="TdateBet">
        <select id="selectBet" class="form-select form-select-sm acount-stat-ro-form-input" aria-label="Default select example">
          <option selected="">All Bets</option>
          <option value="OPEN">Open</option>
          <option value="CANCEL">Void</option>
          <option value="WON">Won</option>
          <option value="LOSS">Loss</option>
      </select>
    </div>
  </div>
  </form>
<div class="pageIdEvent" data-pageid="1"></div>

<div class="data-table">
    <table>
      <thead>
          <tr>
            <th>Event Date</th>
            <th>Event Name</th>
            <th>Commission</th>
          </tr>
      </thead>
      <tbody class="new-body" id="cricket-tbody">
        <%for(let i = 0; i < eventWiseData.length; i++){%>
            <%
                var timestamp = eventWiseData[i].eventDate ; 
                var date = new Date(timestamp);
                var options = { 
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric',
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
              };
              var formattedTime = date.toLocaleString('en-US', options);
               
            %>
            <tr class="tbl-data-href" data-href="/admin/commissionReportEvent?event=<%=eventWiseData[i]._id%>">
                <td><%=formattedTime%></td>
                <td><%=eventWiseData[i]._id%></td>
                <td><%=eventWiseData[i].totalCommission%></td>
            </tr>
        <%}%>
      </tbody>
    </table>
    <%if(eventWiseData.length >= 10){%>
    <div class="loadMorediveEvent">
      <a id="loadMoreEvent">Load More</a>
  </div>
  <%}%>
  </div>


