<div class="pageIdUser" data-pageid="1"></div>
<div class="data-table">
    <table>
      <thead>
          <tr>
            <th>User</th>
            <th>Commission</th>
            <th>Upline</th>
          </tr>
      </thead>
      <tbody class="new-body" id="cricket-tbody">
        <%for(let i = 0; i < userWiseData.length; i++){%>
            <tr class="tbl-data-href" data-href="/admin/commissionReportUser?User=<%=userWiseData[i]._id%>">
                <td><%=userWiseData[i]._id%></td>
                <td><%=userWiseData[i].totalCommission%></td>
                <td><%=userWiseData[i].totalUPline%></td>
            </tr>
        <%}%>
      </tbody>
    </table>
    <div class="loadMorediveUser">
      <a id="loadMoreUser">Load More</a>
  </div>
  </div>