<%- include("../header") %>
<div class="height-100" style="background-color: #EAEEF7;">
   
  <section class="pad-top-bottom" style="padding-top: 70px ;">
    <section style="padding-top: 10px;">
      <div class="new-head"> 
          <h3 style="font-weight: 700;font-size: 24px;">Dashboard</h3>
          <!-- <form action="" style="display: flex;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search or type  a URL" aria-label="Username" aria-describedby="basic-addon1" style="margin-right: 13px;">
              
            </div>
            <button class="btn-filter"><i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
          </form> -->
      </div>
    </section>
    <%- include("../loginUserAdminsideDetails") %>
  </section>

  <section class="">
    <div class="">
          <div class="video-section">
            
            <div class="" style="background-color: #fff; padding: 10px;border-radius: 10px;">
              <div id="chart"></div>
              
            </div>

            <div class="video-play">
                <div class="video-section" style="height: auto;">
                  <div class="small-part" style="background-color: #fff;"> 
                      <div class="hed-data">
                          <h3 class="fix-h3"><img src="../images/sum.png" alt=""> &nbsp; Summary</h3>
                          <%
                          const currentDate = new Date();
                            const threeDaysAgo = new Date(currentDate);
                            threeDaysAgo.setDate(currentDate.getDate() - 2);
                            const formattedDate = new Intl.DateTimeFormat('en-US', { year: 'numeric', month: 'short', day: 'numeric' }).format(threeDaysAgo);
                          %>
                          <select name="Today" class="selected">
                            <option value="all" selected >Select Options</option>
                            <option value="today">Today</option>
                            <option value="yesterday">Yesterday</option>
                            <option value="<%=formattedDate%>"><%=formattedDate%></option>
                          </select>
                      </div>
                      <table>
                        <thead></thead>
                        <tbody>
                          <tr class="flex-justify blue">
                            <td>Active Players</td>
                            <td class="text-purple" id="userCount"><%=data.dashboard.userCount%></td>
                          </tr>
                          <tr class="flex-justify">
                            <td>Active Admins</td>
                            <td class="text-purple" id="adminCount"><%=data.dashboard.adminCount%></td>
                          </tr>
                          <tr class="flex-justify blue">
                            <td>Turn Over</td>
                            <td class="text-purple" id="turnOver"><%=data.dashboard.turnOver[0].totalAmount%></td>
                          </tr>
                          <tr class="flex-justify">
                            <td>Profit</td>
                            <td class="text-purple" id="Profit"><%=currentUser.myPL%></td>
                          </tr> 
                          <tr class="flex-justify blue">
                            <td>Total Bets</td>
                            <%if(data.dashboard.betCount.length > 0){ %>
                              <td class="text-purple" id="betCount"><%=data.dashboard.betCount[0].totalBets%></td>
                            <%}else{ %>
                              <td class="text-purple" id="betCount">0</td>
                            <%} %>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <div class="small-part" style="background-color: #fff;">
                    <div class="hed-data">
                      <h3 class="fix-h3"><img src="../images/sum.png" alt=""> &nbsp; User Management</h3>
                      <a class="fix-h2" href="/admin/userManagement">View Details</a>
                  </div>
                  <table>
                    <thead>
                        <th>User Type</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        <%for(let i=0; i < data.dashboard.roles.length;i++){%>
                          <%if((i % 2) == 0){%>
                            <tr class="flex-justify blue">
                                <td><%=data.dashboard.roles[i]._id%></td>
                                <td class="text-purple"><%=data.dashboard.roles[i].total%></td>
                            </tr>
                            <%}else{%>
                              <tr class="flex-justify">
                                <td><%=data.dashboard.roles[i]._id%></td>
                                <td class="text-purple"><%=data.dashboard.roles[i].total%></td>
                              </tr>
                            <%}%>
                        <%}%>
                    </tbody>
                  </table>
                  </div>
              
                </div>
                <div class="video-section--" style="margin-top: 15px;">
                  <div class="video-play" style="background-color: #fff;padding: 10px;border-radius:10px;">
                    <div class="hed-data">
                      <h3 class="fix-h3"><img src="../images/wl.png" alt=""> &nbsp; White Labels</h3>

                    </div>
                    <div class="full-adta">
                      <table>
                        <thead>
                          <tr>
                            <th>Sr No.</th>
                            <th>Domain</th>
                            <%for(let i=0; i<data.dashboard.roles.length;i++){%>
                                <th><%=data.dashboard.roles[i]._id%></th>
                            <%}%>
                          </tr>
                        </thead>
                        <tbody>
                          <%for(let i=0; i<data.dashboard.users.length;i++){%>
                            <%if((i % 2) == 0){%>
                              <tr  class="blue">
                                  <td><%=i + 1%></td>
                                  <td><%=data.dashboard.users[i]._id%></td>
                                  <%for(let j=0; j<data.dashboard.roles.length;j++){%>
                                      <%let check = 0%>
                                      <%for(let k=0; k<data.dashboard.users[i].terms.length;k++){%>
                                          <%if(data.dashboard.users[i].terms[k].roleType == data.dashboard.roles[j]._id){%>
                                              <td class="text-purple"><%=data.dashboard.users[i].terms[k].total%></td>
                                              <%check = 1%>
                                          <%}%>
                                      <%}%>
                                      <%if(check != 1){%>
                                          <td class="text-purple">0</td>
                                      <%}%>
                                  <%}%>
                              </tr>
                            <%}else{%>
                              <tr  >
                                <td><%=i + 1%></td>
                                <td><%=data.dashboard.users[i]._id%></td>
                                <%for(let j=0; j<data.dashboard.roles.length;j++){%>
                                    <%let check = 0%>
                                    <%for(let k=0; k<data.dashboard.users[i].terms.length;k++){%>
                                        <%if(data.dashboard.users[i].terms[k].roleType == data.dashboard.roles[j]._id){%>
                                            <td class="text-purple"><%=data.dashboard.users[i].terms[k].total%></td>
                                            <%check = 1%>
                                        <%}%>
                                    <%}%>
                                    <%if(check != 1){%>
                                        <td class="text-purple">0</td>
                                    <%}%>
                                <%}%>
                            </tr>
                            <%}%>
                          <%}%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
           
          </div>
      </div>
      </section>
<!-- End skin device table-section-->
<section style="padding: 15px 0px;">
  <div class="table-section">
   
    <div class="table_data_details">
      <div class="spcare-table">
      <div class="hed-data">
        <h3 class="fix-h3"><img src="../images/tp.png" alt=""> &nbsp; Top Player</h3>
        
    </div>
      <table>
        <thead>
            <tr style="text-align: center;">
              <th></th>
              <th>Player</th>
              <th>No.of Bets</th>
              <th>Points</th>
              
            </tr>
        </thead>
        <tbody>
          <%for(let i = 0; i < data.dashboard.topPlayers.length; i++){%>
            <%if((i%2)==0){%>
              <tr style="text-align: center;" class="blue">
            <%}else{%>
              <tr style="text-align: center;">
            <%}%>
            <td><%=i+1%></td>
            <td><%=data.dashboard.topPlayers[i].userName%></td>
            <td><%=data.dashboard.topPlayers[i].Bets%></td>
            <td><%=data.dashboard.topPlayers[i].Bets%></td>
              </tr>
          <%}%>
        </tbody>
      </table>
</div>

<div class="spcare-table">
      <div class="hed-data">
        <h3 class="fix-h3"><img src="../images/cat.png" alt=""> &nbsp; Categories</h3>
        
    </div>
      <table>
        <thead>
            <tr style="text-align: center;">
              <th></th>
              <th>Category</th>
              <th>No.of Matches</th>
              <th>No.of Bets</th>
              <th>Amount</th>
            </tr>
        </thead>
        <tbody>
          <%for(let i = 0; i < data.dashboard.Categories.length; i++){ %>
            <%if((i%2)==0){%>
              <tr style="text-align: center;" class="blue">
            <%}else{%>
              <tr style="text-align: center;">
            <%}%>
            <td><%=i + 1 %></td>
            <td><%=data.dashboard.Categories[i]._id %></td>
            <td><%=data.dashboard.Categories[i].uniqueEvent.length %></td>
            <td><%=data.dashboard.Categories[i].totalBets %></td>
            <td class="text-purple"><%=data.dashboard.Categories[i].totalReturns %></td>
          </tr>
          <%} %>
          
        </tbody>
      </table>
</div>

<!-- <div class="spcare-table">
      <div class="hed-data">
        <h3 class="fix-h3"><img src="../images/tp.png" alt=""> &nbsp; Top Bets</h3>
        
    </div>
      <table>
        <thead>
            <tr style="text-align: center;">
              <th></th>
              <th>Name</th>
              <th>Event Type</th>
              <th>Event</th>
              <th>Market</th>
              <th>Odds</th>
              <th>Value</th>
              <th>Risk</th>
              
            </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
          <tr style="text-align: center;" class="blue">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
          <tr style="text-align: center;">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
          <tr style="text-align: center;" class="blue">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
          <tr style="text-align: center;">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
          <tr style="text-align: center;" class="blue">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
         
        </tbody>
      </table>
      </div> -->
      <div class="spcare-table">
        <div class="hed-data">
          <h3 class="fix-h3"><img src="../images/alert.png" alt=""> &nbsp; Alert Bets</h3>
          <a class="fix-h2" href="/admin/alertbet">View Details</a>
          
      </div>
        <table>
          <thead>
              <tr style="text-align: center;">
                <th></th>
                <th>Palyer</th>
                <th>Event</th>
                <th>Points</th>
  
                
              </tr>
          </thead>
          <tbody>
            <%for(let i = 0; i <  data.dashboard.alertBet.length; i++){%>
              <%if(i%2 == 0){ %>
                <tr style="text-align: center;" class="blue">
              <%}else{%>
                <tr style="text-align: center;" >
              <%} %>
              <td><%= i+1 %></td>
              <td><%= data.dashboard.alertBet[i].userName%></td>
              <td><%= data.dashboard.alertBet[i].betType%></td>
              <td class="text-purple"><%= data.dashboard.alertBet[i].Stake%></td>
            </tr>
              <%}%>
            
          </tbody>
        </table>
  </div>
    </div>

<!--  -->
    <div class="table_data_details">
      <div class="spcare-table">
      <div class="hed-data">
        <h3 class="fix-h3"><img src="../images/game.png" alt=""> &nbsp; Top Game</h3>
        
    </div>
      <table>
        <thead>
            <tr style="text-align: center;">
              <th></th>
              <th>Game</th>
              <th>No.of User </th>
              <th>No.of Bets</th>
              <th>Amount</th>

              
              
            </tr>
        </thead>
        <tbody>
          <%for(let i = 0; i < data.dashboard.topGames.length; i++){%>
            <%if((i%2)==0){%>
              <tr style="text-align: center;" class="blue">
            <%}else{%>
              <tr style="text-align: center;">
            <%}%>
              <td><%=i + 1%></td>
              <td><%=data.dashboard.topGames[i].event%></td>
              <td><%=data.dashboard.topGames[i].noOfUniqueUsers%></td>
              <td><%=data.dashboard.topGames[i].totalCount%></td>
              <td class="text-purple"><%=data.dashboard.topGames[i].totalReturns%></td>
            </tr>
          <%} %>
          
          
         
        </tbody>
      </table>
    </div>
    <div class="spcare-table">
      <div class="hed-data">
        <h3 class="fix-h3"><img src="../images/setal.png" alt=""> &nbsp; Settlements</h3>
        <a class="fix-h2" href="/admin/settlement">View Details</a>
        
    </div>
      <table>
        <thead>
            <tr style="text-align: center;">
              <th></th>
              <th>Sport</th>
              <th>Series</th>
              <th>Event Name</th>
              <th>Open Bets</th>
              
            </tr>
        </thead>
        <tbody>
        <%for(let i = 0; i < data.dashboard.settlement.length; i++){%>
          <%if((i%2)==0){%>
            <tr style="text-align: center;" class="blue">
          <%}else{%>
            <tr style="text-align: center;">
          <%}%>
          <td><%=i+1%></td>
          <td><%=data.dashboard.settlement[i].sport %></td>
          <td><%=data.dashboard.settlement[i].series %></td>
          <td><%=data.dashboard.settlement[i].matchName %></td>
          <td><%=data.dashboard.settlement[i].count %></td>
        </tr>
        <%} %>
      </tbody>
      </table>
      </div>
      
    </div>


  </div>
</section>
</div>
</div>
    

<script src="http://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>


<script >
 
    </script>
  </body>
</html>