<%for(let i = 0; i < liveCricket.length; i++){%>
    <section>
      <div class="container-fluid">
        <div class="new-head">
          <h3 class="head-hr"><%= liveCricket[i].eventData.name %></h3>
          <a class="btn-filter" href="/admin/viewall?id=<%=liveCricket[i].eventData.eventId%>">View Details &nbsp;<i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <%if(liveCricket[i].marketList.match_odd != null){%>
        <div class="video-section-1">
          <div class="video-play">
            <div class="hed-data">
              <h3 class="live-head"> MATCH ODDS </h3>
            </div>
            <div class="full-adta">
              <table>
                <thead>
                  <tr>
                    <th>OUTCOMES/RUNNER</th>
                    <th>EXPOSURE</th>
                    <th>TOTAL BETS</th>
                  </tr>
                </thead>
                <tbody>
                  <% let runners = JSON.parse(liveCricket[i].marketList.match_odd.runners); %>
                  <% const runners1 = []; %>
                  <%const secIds = []; %>
                  <%runners.forEach(item => {%>
                  <%runners1.push(item.runner);%>
                  <%secIds.push(item.secId);%>
                  <%});%>
                  <%for(let j = 0; j < runners1.length; j++){%>
                  <%if((j%2)===1){%>
                  <tr>
                    <%}else{%>
                    <tr>
                      <%}%>
                      <td><%=runners1[j]%></td>
                      <td id="<%=secIds[j]%>">00</td>
                      <td id="<%=secIds[j]%>B">00</td>
                      <%}%>
                    </tr>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <%}else{%>
          <div class="video-section-1">
            <div class="video-play">
              <div class="hed-data">
                <h3 class="live-head"> MATCH ODDS </h3>
              </div>
              <div class="full-adta">
                <table>
                  <thead>
                    <tr>
                      <th>OUTCOMES/RUNNER</th>
                      <th>EXPOSURE</th>
                      <th>TOTAL BETS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let runners = JSON.parse(liveCricket[i].eventData.runners); %>
                    <% const runners1 = []; %>
                  <%const secIds = []; %>
                  <%runners.forEach(item => {%>
                  <%runners1.push(item.runner);%>
                  <%secIds.push(item.secId);%>
                  <%});%>
                  <%for(let j = 0; j < runners1.length; j++){%>
                  <%if((j%2)===1){%>
                  <tr>
                    <%}else{%>
                    <tr>
                      <%}%>
                      <td><%=runners1[j]%></td>
                      <td>00</td>
                      <td>00</td>
                      <%}%>
                    </tr>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <%} %>
      </div> 
    </section>
    <%}%>