<div id="Cricket" class="tabcontent" style="margin-bottom:15px">
    <div class="row" style="padding:10px 0px">
    <%for(let i = 0; i < liveCricket.length; i++){%>
        <section style="background-color: #fff;padding: 10px;border-radius:10px;margin-top: 15px;">
            <div class="container-fluid">
            <div class="new-head">
              <h3 class="head-hr"><%= liveCricket[i].eventData.name %></h3>
              <a class="btn-filter" href="/admin/viewall?id=<%=liveCricket[i].eventData.eventId%>">View Details &nbsp;<i class="fa-solid fa-chevron-right"></i></a>
            </div>
               
          </div> 
          </section>
    <%}%> 
      


      
  
  </div>
  <!-- <button class="btn btn-view-all">View All</button> -->
  </div>