<div id="Cricket" class="tabcontent">
  <div class="row">
    <%for(let i = 0, i < openBet.length; i++){%> 
        <%if(openBet[i].bettype == "Cricket"){%>
          
        <%} %>
    <%} %>
  </div>
  <!-- <button class="btn btn-view-all">View All</button> -->
</div>