<div id="Cricket" class="tabcontent">
  <div class="row">
    
  <%for(let i = 0; i < runners.length; i++){%>
    <%if(runners[i].sport === "Cricket"){%>
      <section>
        <div class="container-fluid">
          <div class="new-head">
            <%let runnersData = JSON.parse(runners[i].runners)%>
            <h3 class="head-hr"><%=  runnersData[0].runner V runnersData[1].runner  %></h3>
            <a class="btn-filter" href="/admin/riskAnalysis?id=<%= runners[i].eventId %>" >View Details &nbsp;<i class="fa-solid fa-chevron-right"></i></a>
          </div>
        </div>
      </section>
    <%}%>
  <%}%>
  </div>
  <!-- <button class="btn btn-view-all">View All</button> -->
</div>