<div id="FOOTBALL" class="tabcontent" style="margin-bottom:15px;">
    <div class="container-fluid">
    <div class="row" style="padding:10px 0px">
      <section style="background-color: #fff;padding: 10px;border-radius:10px;">
      <div class="new-head">
      <h3 class="head-hr">Central Coast Mariners vs Newcastle jets - Dec 21,2022</h3>
      <a class="btn-filter" href="/viewall">View Details &nbsp;<i class="fa-solid fa-chevron-right"></i></a>
    </div>
      <div class="video-section-1">
        
        <div class="video-play">
          
          <div class="hed-data">
            <h3 class="fix-h3 live-head"> Match Odds </h3>
            
        </div>
          <div class="full-adta">
            <table>
              <thead>
                  <tr style="text-align: center;">
                  
                    <th style="text-align: left;">OUTCOMES/RUNNER</th>
                    <th>EXPOSURE</th>
                    <th>TOTAL BETS</th>
                    
                  </tr>
              </thead>
              <tbody>
                <tr style="text-align: center;" class="blue">
                  
                  <td style="text-align: left;">Newcastle Jets</td>
                  <td style="color:#FE3030;">-200.00</td>
                  <td>00</td>
                </tr>
                <tr style="text-align: center;">
                  
                  <td style="text-align: left;">Central Coast Mariners</td>
                  <td style="color:#46BCAA;">60.00</td>
                  <td>00</td>
                </tr>
                <tr style="text-align: center;" class="blue">
                  
                  <td style="text-align: left;">Newcastle Jets</td>
                  <td style="color:#FE3030;">-200.00</td>
                  <td>00</td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>

        <div class="video-play">
          <div class="hed-data">
            <h3 class="fix-h3 live-head"> Over/Under 1.5 Goals </h3>
            
        </div>
        <div class="full-adta">
          <table>
            <thead>
                <tr style="text-align: center;">
                
                  <th style="text-align: left;">OUTCOMES/RUNNER</th>
                  <th>EXPOSURE</th>
                  <th>TOTAL BETS</th>
                  
                </tr>
            </thead>
            <tbody>
              <tr style="text-align: center;" class="blue">
                
                <td style="text-align: left;">Over 1.5 Goals</td>
                <td style="color:#46BCAA;">51.00</td>
                <td>03</td>
              </tr>
              <tr style="text-align: center;">
                
                <td style="text-align: left;">Under 1.5 Goals</td>
                <td style="color:#FE3030;">-200.00</td>
                <td>00</td>
              </tr>
              
             
            </tbody>
          </table>
        </div>
        </div>


    </div>
  </div>
  </section>
  
  <section style="background-color: #fff;padding: 10px;border-radius:10px;margin-top: 15px;">
    <div class="container-fluid">
    <div class="new-head">
      <h3 class="head-hr">Pisa v Brescia -Dec 17,2022</h3>
      <button class="btn-filter">View Details &nbsp;<i class="fa-solid fa-chevron-right"></i></button>
    </div>
      <div class="video-section-1">
        
        <div class="video-play">
          
          <div class="hed-data">
            <h3 class="fix-h3 live-head"> MATCH ODDS </h3>
            
        </div>
          <div class="full-adta">
            <table>
              <thead>
                  <tr style="text-align: center;">
                  
                    <th style="text-align: left;">OUTCOMES/RUNNER</th>
                    <th>EXPOSURE</th>
                    <th>TOTAL BETS</th>
                    
                  </tr>
              </thead>
              <tbody>
                <tr style="text-align: center;" class="blue">
                  
                  <td style="text-align: left;">Pisa</td>
                  <td style="color:#46BCAA;">46.00</td>
                  <td>00</td>
                </tr>
                <tr style="text-align: center;">
                  
                  <td style="text-align: left;">Brescia</td>
                  <td style="color:#FE3030;">-100.00</td>
                  <td>00</td>
                </tr>
                <tr style="text-align: center;" class="blue">
                  
                  <td style="text-align: left;">The Draw</td>
                  <td style="color:#FE3030;">-100.00</td>
                  <td>00</td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>

        


    </div> 
  </div> 
  </section>
  
    </div>
  </div>