<div id="FOOTBALL" class="tabcontent">
  <div class="row">
      <%for(let F = 0, F < openBet.length; F++){%> 
        
    <%} %>
  </div>
  <!-- <button class="btn btn-view-all">View All</button> -->
</div>