<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../images/logo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Balaji Dashboard</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.css">
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js" integrity="sha256-6ec2OYfOEVNM4UoRBRGoUP5SRgKyf/FhNoOjTwtqD3k=" crossorigin="anonymous"></script>
<style>
 

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2b90d9;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: #555;
  border-color: #2b90d9;
}


.nav-pills .nav-link {
  color: #555;
}
.text-uppercase {
  letter-spacing: 0.1em;
}

</style>
</head>
<body id="body-pd" class="fix-width-body" style="background-color:#EAEEF7;">
  <header class="header" id="header">
      <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> 
        
          <span class="datre-time">Date 21-12-22   Time-11:08</span>
        
      </div>
      
      <div>
      
        <div class="social-media">
          <!-- <span>Follow us: </span> -->
          <span><a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa-solid fa-moon"></i></a></span> 
          <span> <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa-solid fa-bell"></i></a></span> 
          <span> <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa-solid fa-message"></i></a></span> 
          <span> <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa-solid fa-gear"></i></a></span> 
        </div>
      </div>
  </header>
  <div class="l-navbar" id="nav-bar" style="background-color: #FFFFFF;">
      <nav class="nav">
          
        <div class="nav_list"> 
          <a href="/" class="nav_link active"> <img src="../images/dash.png" alt=""> <span class="nav_name">Dashboard</span> </a> 
          <a href="/about" class="nav_link"> <img src="../images/user.png" alt=""> <span class="nav_name">User Mangement</span> </a> 
          <a href="/operation" class="nav_link"> <img src="../images/222.png" alt=""> <span class="nav_name">Operation</span> </a> 
          <a href="/livemarket" class="nav_link"> <img src="../images/333.png" alt=""> <span class="nav_name">Live Market</span> </a> 
          <a href="/casinocontrol" class="nav_link"> <img src="../images/44.png" alt=""> <span class="nav_name">Casino Control</span> </a> 
          <a href="/reports" class="nav_link"> <img src="../images/55.png" alt=""> <span class="nav_name">Reports</span> </a> 
          <a href="/payment" class="nav_link"> <img src="../images/66.png" alt=""> <span class="nav_name">Payments Gateway Option</span> </a>
          <a href="/promotion" class="nav_link"> <img src="../images/77.png" alt=""> <span class="nav_name">Promotion</span> </a>
          <a href="/cms" class="nav_link"> <img src="../images/88.png" alt=""> <span class="nav_name">Cms</span> </a>
        </div>
          
      </nav>
  </div>
  <!--Container Main start-->
  <div class="height-100" style="background-color: #EAEEF7;">
   



<!-- End banner Slider -->

<!-- skin device sec -->

  <section class="pad-top-bottom-" style="padding-top: 70px;">
    <div class="container-fluid">
    <section style="padding-top: 10px;">
      <div class="align-fix"> 
          <h1 class="main-heading">Mark Risk Analysis</h1>
          <form action="" style="display: flex;height: 30px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search or type  a URL" aria-label="Username" aria-describedby="basic-addon1" style="margin-right: 13px;height: 32px;">
              
            </div>
            <button class="btn-filter"><i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
          </form>
      </div>
    </div>
    </section>
    
<!-- seling section -->

<section class="pad-top-bottom-" >
  <div class="container-fluid">
      
      <div class="tab end" >

        <button class="tablinks" onclick="openCity(event, 'Cricket')"><img src="../images/cball.png" alt=""> &nbsp; Cricket  </button>
        <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'FOOTBALL')"><img src="../images/fball.png" alt=""> &nbsp; FOOTBALL</button>
        <button class="tablinks" onclick="openCity(event, 'TENNIS')"><img src="../images/tball.png" alt=""> &nbsp; TENNIS</button>
        <button class="tablinks" onclick="openCity(event, 'BASEBALL')"><img src="../images/bball.png" alt=""> &nbsp; BASEBALL  </button>
        <button class="tablinks" onclick="openCity(event, 'BASKETBALL')"><img src="../images/bbball.png" alt=""> &nbsp; BASKETBALL</button>
        <button class="tablinks" onclick="openCity(event, 'HORSE RACING')"><img src="../images/htrade.png" alt=""> &nbsp; HORSE RACING</button>
        <button class="tablinks" onclick="openCity(event, 'Greyhound')"><img src="../images/gray.png" alt=""> &nbsp; Greyhound</button>
        
    </div>

            <div id="Cricket" class="tabcontent" style="margin-bottom:15px">
              <div class="row" style="padding:10px 0px">
                
            
            
            </div>
            <!-- <button class="btn btn-view-all">View All</button> -->
            </div>
            
            <div id="FOOTBALL" class="tabcontent" style="margin-bottom:15px;">
              <div class="container-fluid">
              <div class="row" style="padding:10px 0px">
                <section style="background-color: #fff;padding: 10px;border-radius:10px;">
                <div class="new-head">
                <h3 class="head-hr">Central Coast Mariners vs Newcastle jets - Dec 21,2022</h3>
                <a class="btn-filter" href="/viewall">View Details &nbsp;<i class="fa-solid fa-chevron-right"></i></a>
              </div>
                <div class="video-section-1">
                  
                  <div class="video-play">
                    
                    <div class="hed-data">
                      <h3 class="fix-h3 live-head"> Match Odds </h3>
                      
                  </div>
                    <div class="full-adta">
                      <table>
                        <thead>
                            <tr style="text-align: center;">
                            
                              <th style="text-align: left;">OUTCOMES/RUNNER</th>
                              <th>EXPOSURE</th>
                              <th>TOTAL BETS</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                          <tr style="text-align: center;" class="blue">
                            
                            <td style="text-align: left;">Newcastle Jets</td>
                            <td style="color:#FE3030;">-200.00</td>
                            <td>00</td>
                          </tr>
                          <tr style="text-align: center;">
                            
                            <td style="text-align: left;">Central Coast Mariners</td>
                            <td style="color:#46BCAA;">60.00</td>
                            <td>00</td>
                          </tr>
                          <tr style="text-align: center;" class="blue">
                            
                            <td style="text-align: left;">Newcastle Jets</td>
                            <td style="color:#FE3030;">-200.00</td>
                            <td>00</td>
                          </tr>
                         
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="video-play">
                    <div class="hed-data">
                      <h3 class="fix-h3 live-head"> Over/Under 1.5 Goals </h3>
                      
                  </div>
                  <div class="full-adta">
                    <table>
                      <thead>
                          <tr style="text-align: center;">
                          
                            <th style="text-align: left;">OUTCOMES/RUNNER</th>
                            <th>EXPOSURE</th>
                            <th>TOTAL BETS</th>
                            
                          </tr>
                      </thead>
                      <tbody>
                        <tr style="text-align: center;" class="blue">
                          
                          <td style="text-align: left;">Over 1.5 Goals</td>
                          <td style="color:#46BCAA;">51.00</td>
                          <td>03</td>
                        </tr>
                        <tr style="text-align: center;">
                          
                          <td style="text-align: left;">Under 1.5 Goals</td>
                          <td style="color:#FE3030;">-200.00</td>
                          <td>00</td>
                        </tr>
                        
                       
                      </tbody>
                    </table>
                  </div>
                  </div>


              </div>
            </div>
            </section>
            
            <section style="background-color: #fff;padding: 10px;border-radius:10px;margin-top: 15px;">
              <div class="container-fluid">
              <div class="new-head">
                <h3 class="head-hr">Pisa v Brescia -Dec 17,2022</h3>
                <button class="btn-filter">View Details &nbsp;<i class="fa-solid fa-chevron-right"></i></button>
              </div>
                <div class="video-section-1">
                  
                  <div class="video-play">
                    
                    <div class="hed-data">
                      <h3 class="fix-h3 live-head"> MATCH ODDS </h3>
                      
                  </div>
                    <div class="full-adta">
                      <table>
                        <thead>
                            <tr style="text-align: center;">
                            
                              <th style="text-align: left;">OUTCOMES/RUNNER</th>
                              <th>EXPOSURE</th>
                              <th>TOTAL BETS</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                          <tr style="text-align: center;" class="blue">
                            
                            <td style="text-align: left;">Pisa</td>
                            <td style="color:#46BCAA;">46.00</td>
                            <td>00</td>
                          </tr>
                          <tr style="text-align: center;">
                            
                            <td style="text-align: left;">Brescia</td>
                            <td style="color:#FE3030;">-100.00</td>
                            <td>00</td>
                          </tr>
                          <tr style="text-align: center;" class="blue">
                            
                            <td style="text-align: left;">The Draw</td>
                            <td style="color:#FE3030;">-100.00</td>
                            <td>00</td>
                          </tr>
                         
                        </tbody>
                      </table>
                    </div>
                  </div>

                  


              </div> 
            </div> 
            </section>
              </div>
            </div>

            <div id="TENNIS" class="tabcontent" style="margin-bottom:15px">
              <div class="row" style="padding:10px 0px">
                
              </div>
            </div>
            <div id="BASEBALL" class="tabcontent" style="margin-bottom:15px">
              <div class="row" style="padding:10px 0px">
                
              </div>
            </div>
            <div id="BASKETBALL" class="tabcontent" style="margin-bottom:15px">
              <div class="row" style="padding:10px 0px">
                
              </div>
            </div>
            <div id="HORSE RACING" class="tabcontent" style="margin-bottom:15px">
              <div class="row" style="padding:10px 0px">
                
              </div>
            </div>
            <div id="Greyhound" class="tabcontent" style="margin-bottom:15px">
              <div class="row" style="padding:10px 0px">
                
              </div>
            </div>
  </div>
</section>
 
</div>



  </div>

<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>


  <script>
        function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    
  }
  document.getElementById("defaultOpen").click();
  </script>

</body>
    </html>