<div class="new-head"> 
  <h3 >User Management</h3>
  <form>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
      <input type="text" placeholder="search user" id="searchUser" class="searchUser">
      
    </div>
    <!-- <button ><i class="fa-solid fa-filter"></i>&nbsp;Filter</button> -->
      <!-- <label for="role" style="color-scheme: #0000;">Choose a Role</label> -->
      <select name="ROLEselect" id="ROLEselect" class="ROLEselect">
        <option value="" selected >Select Role</option>
        <%for(let i = 0 ; i < roles.length; i++){%>
          <option value="<%=roles[i].role_type%>"><%=roles[i].roleName%></option>
        <%}%>
      </select>
      <%if(currentUser.role_type == 1){%>
        <select name="WhiteLabel" id="WhiteLabel" class="WhiteLabel">
          <option value="" selected >select WhiteLabel</option>
          <%for(let i = 0 ; i < WhiteLabel.length; i++){%>
            <option value="<%=WhiteLabel[i].whiteLabelName%>"><%=WhiteLabel[i].whiteLabelName%></option>
          <%}%>
        </select>
      <%}%>
        <!-- <br><br> -->
    <button class="logOut">logout</button>
  </form>
</div>