    <section style="padding-top: 10px;">
      <div class="new-head"> 
          <h3 style="font-weight: 700;font-size: 24px;">Welcome to User Management</h3>
          <form action="" style="display: flex;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search or type  a URL" aria-label="Username" aria-describedby="basic-addon1" style="margin-right: 13px;">
              
            </div>
            <button class="btn-filter"><i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
          </form>
      </div>
    </section>