<table>
    <thead>
        <tr style="text-align: center;font-size: 11px;">
          <th>S.No</th>
          <th>User Name</th>
          <th>White Labels</th>
          <th>Credit Reference<br>3,52,66,13,710.00</th>
          <th>Balance</th>
          <th>Available Balance<br>11,81,93,19,543.58</th>
          <th>Downlevel Balance<br>4040372561.46</th>
          <th>Client P/L<br>-2,62,10,40,161.45</th>
          <th>Upline P/L<br>12333078395.04</th>

          <th>Exposure<br>0.00</th>

          <th>Exposure<br>0.00</th>
          <th>Lifetime Credit</th>
          <th>Lifetime Deposit</th>
          <th colspan="6">Exposure Limit</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          

          
        </tr>
    </thead>
    <tbody class="new-body">
      <tr style="text-align: center;" class="blue">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal5"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal5"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;" class="blue">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;" class="blue">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;" class="blue">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;" class="">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;" class="blue">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;" class="">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;" class="blue">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;" class="">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
      </tr>
      <tr style="text-align: center;" class="blue">
        <td>1</td>
        <td>AbitestS </td>
        <td>jerambro</td>
        <td>10,00,700.00 </td>
        <td>1000700.00</td>
        <td>10,00,700.00 </td>
        <td>0</td>
        <td style="color:#FE3030;">17900</td>
        <td>0.00 </td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
        <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#myModal5"><i class="fa-solid fa-database"></i></button></td>
      </tr>
     
    </tbody>
  </table>