<%- include("./header") %>

<div id="data123" style="padding-top: 70px;">
    <%for(let i = 0; i < data.length; i++){%>
        <img src="<%=data[i].url_thumb%>" alt="" width="300" height="200" id="<%=data[i]._id%>" class="img"> 
    <%}%>
</div>
