<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>

<h2>Create User</h2>

<div class="createForm">
  <form class= "login-form" id="my-form">
    <!-- <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->
  
    <div class="container">
      <label for="userName"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="userName" required id=uname>

      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter name" name="name" required id=name>

      <label for="phoneNumber"><b>Phone Number</b></label>
      <input type="number" name="phoneNumber" id=pNumber>
      <br><br>
      <label for="role">Choose a Role</label>
        <select name="role" id="role">
          <%for(let i = 0; i < role.length; i++){%>
            <option value="<%=role[i]._id%>" ><%=role[i].roleName%></option>
          <%}%>
        </select>
      <br><br>
      <%if(currentUser.role_type == 1){%>
        <label for="role" >Choose a whitelabel</label>
          <select id="whitelabel">
            <option value="123" selected disabled hidden>select WhiteLabel</option>
            <%for(let i = 0; i < WhiteLabel.length; i++){%>
              <option value="<%=WhiteLabel[i].whiteLabelName%>" ><%=WhiteLabel[i].whiteLabelName%></option>
            <%}%>
          </select>
          <div >
            <input name="whiteLabel" type="text" id="for_new_whitelabel" required>
          </div>
      <%}%>
      <br><br>
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required id=password>

      <label for="passwordConfirm"><b>Confirm Password</b></label>
      <input type="password" placeholder="Enter Password" name="passwordConfirm" required id=cpsw>

      <button type="submit">Login</button>
    </div>
  </form>
</div>

<!--================================== JAVASCRIPT ==================================-->
<script type="text/javascript" src="js/bundle.js"></script>


</body>
</html>
