<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item active" href="/admin/cms">Home Page Manager</a></li>
    <li><a class="dropdown-item" href="/admin/pageManager">Page Manager</a></li>
    <li><a class="dropdown-item" href="/admin/gameRules">Game Rules Manager</a></li>
<<<<<<< HEAD
    <li><a class="dropdown-item" href="/">vitual Sports</a></li>
=======
    <!-- <li><a class="dropdown-item" href="/">vitual Sports</a></li>
>>>>>>> 4dfe15377a0e35d954e7af35a413aa490c6221bd
    <li><a class="dropdown-item" href="/">Poker</a></li>
    <li><a class="dropdown-item" href="/">Animal Gamelist</a></li>
    <li><a class="dropdown-item" href="/firstpage">FirstPageManager</a></li>
    <li><a class="dropdown-item" href="/menumanager">Menu Manager</a></li>
    <li><a class="dropdown-item" href="/userprofile">User Profile Manager</a></li>
    <li><a class="dropdown-item" href="/">Fp-GL-Setting</a></li>
    <li><a class="dropdown-item" href="/FpGLSetting">Fp-GL-setting(casino)</a></li>
    <li><a class="dropdown-item" href="/profilemenu">profile-menu</a></li>
    <li><a class="dropdown-item" href="/typemanager">TypeManager</a></li>
    <li><a class="dropdown-item" href="/playermenu">Profile-menu by Player</a></li>
    <li><a class="dropdown-item" href="/middalemenu">Middle Menu</a></li>
    <li><a class="dropdown-item" href="/">SSEXCH</a></li>
    <li><a class="dropdown-item" href="/">AndHar Bahar</a></li>
    <li><a class="dropdown-item" href="/gallary">Gallery</a></li>
    <li><a class="dropdown-item" href="/">Hourse Race</a></li>
    <li><a class="dropdown-item" href="/">Teen Patti</a></li>
    <li><a class="dropdown-item" href="/">Cricket</a></li>
    <li><a class="dropdown-item" href="/">Sportsbook</a></li>
<<<<<<< HEAD
    <li><a class="dropdown-item" href="/">Lottery Game list</a></li>
=======
    <li><a class="dropdown-item" href="/">Lottery Game list</a></li> -->
>>>>>>> 4dfe15377a0e35d954e7af35a413aa490c6221bd

    
  </ul>