<!DOCTYPE html>
<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>

        // $('a').click(function(e){
        //   e.preventDefault();
        //   console.log($(this).attr('href'))
        // })
        $(document).ready(function(){
            function findQueryParam(href) {
      
            // Get the href attribute value
            var href = href;
      
            // Use a regular expression to extract the value of the 'param1' query parameter
            var param1Value = getQueryParamValue(href, 'sessiontoken');
      
            if (param1Value !== null) {
              return true
            } else {
              return false
            }
          }
      
          function getQueryParamValue(url, param) {
            // Use a regular expression to match the query parameter and extract its value
            var regex = new RegExp('[?&]' + param + '=([^&#]*)');
            var results = regex.exec(url);
      
            return results === null ? null : decodeURIComponent(results[1].replace(/\+/g, ' '));
          }
          function appendquerttourl(){
            let elements = $('a').each(function(index,ele){
              if($(this).attr('href')){
                if($(this).attr('href').startsWith('/admin')){
                  if($(this).attr('href').includes('?')){
                    $(this).attr('href',$(this).attr('href') + '&sessiontoken=' +sessionStorage.getItem('sessiontoken'))
                  }else{
                    $(this).attr('href',$(this).attr('href') + '?sessiontoken=' +sessionStorage.getItem('sessiontoken'))
                  }
                }
              }
        
            })
          }
          appendquerttourl()
          // setInterval(()=>{
          //   appendquerttourl
          // },100)
          
        })
        let currentURL = window.location.href;
      
      // Check if the URL already has query parameters
      let separator = currentURL.includes('?') ? '&' : '?';
      
      // Add or update a query parameter
      let updatedURL = currentURL + separator + `sessiontoken=${sessionStorage.getItem('sessiontoken')}`;
      
      // Update the browser's address bar
      // window.history.replaceState({}, '', updatedURL);
      </script>
    <head>
        <title>Page Error</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
            body { font-family: 'Kanit', sans-serif; font-size: 14px; line-height: 1.2; font-weight: 400; background-color: #EFEFEF;-webkit-font-smoothing: antialiased; font-smoothing: antialiased; margin: 0;}
            .page-not-found { height: 100vh; display: flex; align-items: center; flex-direction: column; justify-content: center; text-align: center;}
            .page-not-found h2 { margin: 0; font-size: 45px; text-align: center;}
            .page-not-found h2 span { display: block; font-size: 300%; color: #e36a6a;}
            .page-not-found h2 span::before { content: ''; height: 160px; width: 160px; background: url(../images/error-crying-face.svg) no-repeat center, linear-gradient(15deg, #182ea6 40%, #7a8ced 60%, #dbe0fb 1000%) repeat; color: #fff; display: table; background-size: 100px; margin: auto; border-radius: 50%; animation: error404anim infinite 2s; transform: scale(1);}
            .page-not-found p { margin: 10px 0 40px; font-size: 20px; }
            .page-not-found .error-404-btn a { display: inline-block; text-decoration: none; background: #182ea6; color: #fff; padding: 11px 15px 12px; min-width: 110px; text-align: center; border-radius: 5px; font-size: 20px; border: 1px solid #182ea6; margin: 0 5px; transition: 0.5s;}
            .page-not-found .error-404-btn a:hover{background: transparent; color: #182ea6;}
            .page-not-found .error-404-btn a:nth-child(2) { background: transparent; color: #182ea6; }
            .page-not-found .error-404-btn a:nth-child(2):hover{background: #182ea6; color: #fff;}
        
            @keyframes error404anim {
                0%{transform: scale(1.03);}
                50%{transform: scale(1);}
                100%{transform: scale(1.03);}
            }

            @media (max-width:767px) {
                .page-not-found h2 span::before{    height: 130px; width: 130px; background-size: 80px;}
                .page-not-found h2 { font-size: 28px;}
                .page-not-found p{font-size: 16px; margin: 10px 0 30px;}
                .page-not-found .error-404-btn a{font-size: 16px;padding: 8px 15px 9px; min-width: 85px;}
            }

        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="page-not-found">
            <h2><span><%=statusCode%></span><%=message%></h2>
            <p><%=mainMassage%></p>
            <div class="error-404-btn">
                    <a href="/admin/dashboard">Home</a>
                <a href="#">Contact us</a>
            </div>
        </div>
    </body>
</html>