<div class="page-not-found">
    <h2><span><%=statusCode%></span><%=message%></h2>
    <p>Sorry the page you are looking is doesn't exist. If you think something is broken, click contact us.</p>
    <div class="error-404-btn">
        <a href="/">Home</a>
        <a href="#">Contact us</a>
    </div>
</div>