<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/webSocket.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    .tennis-score-card .tennis-player span.player-name { width: calc(100% - 126px); float: left; }
    .tennis-score-card .tennis-player{height: auto !important;}
</style>
<div id="data">

</div>