<!DOCTYPE html>
<html>
 
<body>
    <h1>Verify if browser supports JavaScript</h1>
     
<p>
      "GeeksforGeeks" will be displayed by
       browser if it supports JavaScript
    </p>
 
 
    <script>
        document.write("GeeksforGeeks");
    </script>
 
    <noscript>
        Sorry, JavaScript is not supported by your browser!
    </noscript>
</body>
 
</html>