<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
  <%if(currentUser.roleName == "Admin"){ %>
    <li><a class="dropdown-item" href="/admin/houseManagement">House Management</a></li>
    <li><a class="dropdown-item" href="/admin/whiteLableAnalysis">White Label Analysis</a></li>
    <%}%>
    <li><a class="dropdown-item" href="/admin/settlement">Settlements</a></li>
    <li><a class="dropdown-item" href="/admin/settlementHistory">Settlements History</a></li>
    <li><a class="dropdown-item" href="/admin/commissionReport">Commission History </a></li>
    <li><a class="dropdown-item" href="/admin/gameanalysis">Game  Analysis</a></li>
    <!-- <li><a class="dropdown-item" href="/admin/streammanagement">Stream Managements</a></li> -->
    <li><a class="dropdown-item" href="/admin/Notification">Notification</a></li>
    <li><a class="dropdown-item" href="/admin/betmoniter">Bets Monitoring</a></li>
    <li><a class="dropdown-item" href="/admin/onlineUsers">Online Users</a></li>
    <li><a class="dropdown-item" href="/admin/alertbet">Alert Bets</a></li>
    <li><a class="dropdown-item" href="/admin/betlimit">Bet Limits</a></li>
    <li><a class="dropdown-item" href="/admin/voidbet">Void Bets</a></li>
  </ul>