<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item active" href="/admin/gamereport">Game Reports</a></li>
    <li><a class="dropdown-item " href="/admin/useracount">User Account Statment</a></li>
    <li><a class="dropdown-item " href="/admin/reports">Bet List</a></li>
    <li><a class="dropdown-item" href="/admin/userhistoryreport">User history</a></li>
    <li><a class="dropdown-item" href="/admin/plreport">P/L report</a></li>
    
  </ul>