<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="http://dev.ollscores.com/css/style.css" />
<link rel="stylesheet" type="text/css" href="http://dev.ollscores.com/css/responsive.css" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="js/bundle.js"></script>
</head>
<body>
  <div class="loginForm-section">
    <div class="loginForm-wraper">
      <span class="adminSide-logo" >
        <img  src="../../assets/img/Royal777.png" alt="logo">
      </span>
      <form class= "login-form loginFormAdmin">
        <h2>Reset Your Password</h2>
        <!-- <div class="imgcontainer">
          <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div> -->
        <div class="container">
          <label for="uname"><b>Old Password</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required id=uname autofocus>
      
          <label for="psw"><b>New Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required id=password>

          <label for="psw"><b>Confirm Password</b></label>
          <input type="password" placeholder="Enter Password" name="cpsw" required id=password>
               
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
</div>

<!--================================== JAVASCRIPT ==================================-->



</body>
</html>
