<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Home</title>
</head>
<body>
    <button type="button"  class="logOut">logout</button>
    <button class="edit"><a href="/edit">Edit</a></button>
    <button class="account"><a href="/myAccountStatment">My Account Statement</a></button>
    <button class="account"><a href="/changeUserPassword">change password</a></button>


    <script src="userJs/logOut.js"></script>
</body>
</html>