<div id="Cricket" class="tabcontent">
<div class="row">
  <div class="bredcum-container">

  </div>
  <div class="dashboard-welcome-section">
    
  </div>
  <section>
    <table class="accountLevel">
      <thead>
          <tr >
            <th>S.No</th>
            <th>White Label</th>
            <th>Active Users</th>
            <th>Total Bets</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Void </th>
            <th>Open </th>
            <th>P/L</th>
          </tr>
      </thead>
      <tbody class="new-body">
        <tr class="empty_table"><td>No record found</td></tr>
      </tbody>
    </table>
  </section>

</div>

<div id="load-more-cricket" style="display: none;">
  <button class="load-more-cricket">Load More</button>
</div>
</div>