<div id="Cricket" class="tabcontent">
<div class="row">
  <div class="bredcum-container">

  </div>
  <section>
    <table class="accountLevel">
      <thead>
          <tr >
            <th>S.No</th>
            <th>WHITE LABEL</th>
            <th>ACTIVE USERS</th>
            <th>Total Bets</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Void </th>
            <th>Open </th>
            <th>P/L</th>
          </tr>
      </thead>
      <tbody class="new-body">
        <tr class="empty_table"><td>No record found</td></tr>
      </tbody>
    </table>
  </section>
</div>
</div>