<div id="FOOTBALL" class="tabcontent">
<div class="row">
    <div class="matchOddsBack">

    </div>
    <div class="dashboard-welcome-section">
    
    </div>
    <section>
        <table class="marketLevel">
        <thead>
            <tr >
                <th>S.No</th>
                <th>Market</th>
                <th>Total Bets</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Void </th>
                <th>Open </th>
                <th>P/L</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody class="new-body">
            <tr class="empty_table"><td>No record found</td></tr>
        </tbody>
        </table>
    </section>
</div>
<div id="load-more-football" style="display: none;">
    <button class="load-more-football">Load More</button>
</div>
</div>