<%- include("../header") %>
<div class="height-100" style="background-color: #EAEEF7;">

    <section class="pad-top-bottom" style="padding:70px 0px 10px;">
      <div class="container-fluid">
        <section style="padding-top: 10px;">
            <div class="new-head"> 
                <h3 style="font-weight: 700;font-size: 24px;">Welcome to Role Management</h3>
                <form action="" style="display: flex;">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <input type="text" placeholder="search user" style="margin-right: 13px;" id="searchUser" class="searchUser">
                    
                  </div>
                  <!-- <button ><i class="fa-solid fa-filter"></i>&nbsp;Filter</button> -->
                    <!-- <label for="role" style="color-scheme: #0000;">Choose a Role</label> -->
                    
                    
                      <!-- <br><br> -->
                  <button class="logOut">logout</button>
                </form>
            </div>
          </section>
          <%- include("../loginUserAdminsideDetails") %>
  </div>
  </section>

  <%- include("./table") %>