<section style="padding: 15px 0px;">
    <div class="container-fluid">
    <div class="row" style="background-color: #fff;padding: 15px 0px;border-radius: 10px;margin: auto;">
      <div class="">
        
      <h3 class="fix-h3"><img src="../images/role.png" alt=""> &nbsp;Role Management</h3>
    </div>
      <div style="justify-content: flex-end;
      display: flex;
      gap: 10px;">
      <button class="btn-filter"><i class="fa-solid fa-download"></i> &nbsp; Excel</button>
      <button class="btn-filter" data-bs-toggle="modal" data-bs-target="#myModaladduser"><i class="fa-solid fa-plus"></i> &nbsp; Add Role</button>
    </div>
  
  <div class="row">
      <div class="table_data_details col-lg-12">
        
  <div class="spcare-table_">
        <table>
          <thead>
              <tr style="text-align: center;font-size: 11px;">
                <th>S.No</th>
                <th>Role Id</th>
                <th>Role Lavel</th>
                <th>Exposure<br>0.00</th>
                <th>Lifetime Credit</th>
                <th>Lifetime Deposit</th>
                <th colspan="6">Exposure Limit</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
  
                
              </tr>
          </thead>
          <tbody class="new-body table-new-tr">
            <tr  class="blue">
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal5"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr >
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal5"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr  class="blue">
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr >
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr  class="blue">
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr >
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr  class="blue">
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr  class="">
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr  class="blue">
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr  class="">
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr  class="blue">
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr  class="">
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-database"></i></button></td>
            </tr>
            <tr  class="blue">
              <td>1</td>
              <td>AbitestS </td>
              <td>jerambro</td>
              <td>10,00,700.00 </td>
              <td>1000700.00</td>
              <td>10,00,700.00 </td>
              <td>0</td>
              <td style="color:#FE3030;">17900</td>
              <td>0.00 </td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal5"><i class="fa-solid fa-database"></i></button></td>
            </tr>
           
          </tbody>
        </table>
        </div>
      </div>
  
        </div>
      </div>
    </div>
  </div>
  </section>