<section class="footer-sec">
    <footer class="footer-sec-tg">
      <div class="footer-sec-contnr container-fluid">
        <div class="footer-sec-col-dv col-lg-11 col-md-11 col-12">

          <div class="footer-sec--logo-ro">
            <a href="/">
              <%if(basicDetails.length > 0){%>
                <img class="footer-logo" src="logo/<%=basicDetails[0].logo2%>.png" alt="logo">
              <%}else{%>
                <img class="footer-logo" src="logo/Royal77701.png" alt="logo">
              <%}%>
            </a>
          </div>

          <div class="footer-sec--p-ro">
            <div class="footer-sec--p-col col-lg-10 col-md-10 col-11">
              <p>
                <%let footerDetails = pages.find(item => item.Name === "footerDetails")%>
                <%=footerDetails.details%>
              </p>
            </div>
          </div>

          <div class="footer-sec--payment-ro">
            <div class="footer-sec--payment-ro-wrp">
              <h6>PAYMENT ACCEPTED BY :</h6>
              <div class="footer-sec--payment-img-ro">
                <a >
                  <img class="img-fluid" src="assets/img/home/footer-payment-img01.png" alt="payment image">
                </a>
                <a >
                  <img class="img-fluid" src="assets/img/home/footer-payment-img02.png" alt="payment image">
                </a>
                <a >
                  <img class="img-fluid" src="assets/img/home/footer-payment-img03.png" alt="payment image">
                </a>
                <a >
                  <img class="img-fluid" src="assets/img/home/footer-payment-img04.png" alt="payment image">
                </a>
                <a >
                  <img class="img-fluid" src="assets/img/home/footer-payment-img05.png" alt="payment image">
                </a>
              </div>
            </div>
          </div>

          <div class="footer-sec--contact-ro">
            <div class="footer-sec--contact-col">
              <h6 class="">CONTACT US</h6>
            </div>
            <div class="footer-sec--contact-col2">
              <a >+91 00000 00000</a>  <span>|</span>  <a >info@royal777.com</a>
            </div>
          </div>

          <div class="footer-sec--options-ro">
            <ul class="footer-sec--options-ul">
              <li><a href="/">About us  |</a></li>
              <li><a href="/">gambling responsibilities  |</a></li>
              <li><a href="/">Terms & Conditions  |</a></li>
              <li><a href="/">Privacy policy  |</a></li>
              <li><a href="/">fAQs</a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>
  </section>