<div class="modal fade my-model-regestermodl" id="gameroulspop" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content regestermodl-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body regestermodl-body">
          <div class="gam-rul-pop-data-wrp">
            <div class="gam-rul-pop-data-wrp-titl">
              <h6>Game Rules</h6>
            </div>
            <div class="gam-rul-pop-data-acc-sv">
              <div class="accordion accordion-flush gam-rul-pop-data-btnnh2-item" id="accordionFlushExample">
                <div class="accordion-item ">
                  <h2 class="accordion-header  gam-rul-pop-data-btnnh2" id="flush-headingOne">
                    <button class="accordion-button gam-rul-pop-data-btnn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamrulpop01" aria-expanded="false" aria-controls="gamrulpop01">
                      Match Odds
                    </button>
                  </h2>
                  <div id="gamrulpop01" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="gam-rul-pop-data-txt-dv">
                        <ol>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header gam-rul-pop-data-btnnh2" id="flush-headingTwo">
                    <button class="accordion-button gam-rul-pop-data-btnn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamrulpop02" aria-expanded="false" aria-controls="gamrulpop02">
                      Fancy
                    </button>
                  </h2>
                  <div id="gamrulpop02" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="gam-rul-pop-data-txt-dv">
                        <ol>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header gam-rul-pop-data-btnnh2" id="flush-headingThree">
                    <button class="accordion-button gam-rul-pop-data-btnn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamrulpop03" aria-expanded="false" aria-controls="gamrulpop03">
                      Player Bookmaker
                    </button>
                  </h2>
                  <div id="gamrulpop03" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="gam-rul-pop-data-txt-dv">
                        <ol>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="accordion-item">
                  <h2 class="accordion-header gam-rul-pop-data-btnnh2" id="flush-headingThree">
                    <button class="accordion-button gam-rul-pop-data-btnn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamrulpop04" aria-expanded="false" aria-controls="gamrulpop04">
                      Other Fancy
                    </button>
                  </h2>
                  <div id="gamrulpop04" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="gam-rul-pop-data-txt-dv">
                        <ol>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="accordion-item">
                  <h2 class="accordion-header gam-rul-pop-data-btnnh2" id="flush-headingThree">
                    <button class="accordion-button gam-rul-pop-data-btnn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamrulpop05" aria-expanded="false" aria-controls="gamrulpop05">
                      T20/ODI Rules
                    </button>
                  </h2>
                  <div id="gamrulpop05" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="gam-rul-pop-data-txt-dv">
                        <ol>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="accordion-item">
                  <h2 class="accordion-header gam-rul-pop-data-btnnh2" id="flush-headingThree">
                    <button class="accordion-button gam-rul-pop-data-btnn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamrulpop06" aria-expanded="false" aria-controls="gamrulpop06">
                      Test Match
                    </button>
                  </h2>
                  <div id="gamrulpop06" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="gam-rul-pop-data-txt-dv">
                        <ol>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="accordion-item">
                  <h2 class="accordion-header gam-rul-pop-data-btnnh2" id="flush-headingThree">
                    <button class="accordion-button gam-rul-pop-data-btnn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamrulpop07" aria-expanded="false" aria-controls="gamrulpop07">
                      Cheating
                    </button>
                  </h2>
                  <div id="gamrulpop07" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="gam-rul-pop-data-txt-dv">
                        <ol>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                          <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          </li>
                          <li>
                            Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer regestermodl-fotr">
          <button type="button" class="myloginmodl-fotr-closbtn" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>