<section class="nav2menu-dv2">
    <div class="nav2menu-dv-wrp container-fluid">
      <div class="nav2menu-dv-wrp2">
        <div class="nav2menu-item" onclick="window.location.href = '/exchange/inPlay'; ">
          <img class="img-fluid" src="/assets/img/home/side-menuimg02.svg" alt="">
          <p>In-play</p>
        </div>
        <div class="nav2menu-item" onclick="window.location.href = '/exchange/cricket'; ">
          <img class="img-fluid" src="/assets/img/home/side-menuimg03.svg" alt="">
          <p>Cricket</p>
        </div>
        <div class="nav2menu-item" onclick="window.location.href = '/exchange/football'; ">
          <img class="img-fluid" src="/assets/img/home/side-menuimg04.svg" alt="">
          <p>Football</p>
        </div>
        <div class="nav2menu-item" onclick="window.location.href = '/exchange/tennis'; ">
          <img class="img-fluid" src="/assets/img/home/side-menuimg05.svg" alt="">
          <p>Tennis</p>
        </div>
        <div class="nav2menu-item" onclick="window.location.href = '/exchange/inPlay'; ">
          <img class="img-fluid" src="/assets/img/home/side-menuimg06.svg" alt="">
          <p>Basketball</p>
        </div>
        <div class="nav2menu-item" onclick="window.location.href = '/exchange/inPlay'; ">
          <img class="img-fluid" src="/assets/img/home/side-menuimg07.png" alt="">
          <p>Basketball</p>
        </div>
        <div class="nav2menu-item" onclick="window.location.href = '/exchange/inPlay'; ">
          <img class="img-fluid" src="/assets/img/home/side-menuimg08.png" alt="">
          <p>Basketball</p>
        </div>
      </div>
    </div>
  </section>