<section class="nav2menu-dv2">
    <div class="nav2menu-dv-wrp container-fluid">
      <div class="nav2menu-dv-wrp2">
        <%if(check === "In-Play"){%>
            <div class="nav2menu-item active" onclick="window.location.href = '/exchange/inPlay'; ">
              <%}else{%>
            <div class="nav2menu-item" onclick="window.location.href = '/exchange/inPlay'; ">
          <%} %>
          <span>
          <img class="img-fluid" src="/assets/img/home/in-play.svg" alt="">
          </span>
          <p>In-play</p>
        </div>
        <%if(check === "Cricket"){%>
          <div class="nav2menu-item active" onclick="window.location.href = '/exchange/cricket'; ">
            <%}else{%>
          <div class="nav2menu-item" onclick="window.location.href = '/exchange/cricket'; ">
        <%} %>
          <span>
          <img class="img-fluid" src="/assets/img/home/cricket.svg" alt="">
          </span>
          <p>Cricket</p>
        </div>
        <%if(check === "Football"){%>
            <div class="nav2menu-item active" onclick="window.location.href = '/exchange/football'; ">
              <%}else{%>
            <div class="nav2menu-item" onclick="window.location.href = '/exchange/football'; ">
          <%} %>
          <span>
          <img class="img-fluid" src="/assets/img/home/football.svg" alt="">
          </span>
          <p>Football</p>
        </div>
        <%if(check === "Tennis"){%>
          <div class="nav2menu-item active" onclick="window.location.href = '/exchange/tennis'; ">
            <%}else{%>
          <div class="nav2menu-item" onclick="window.location.href = '/exchange/tennis'; ">
        <%} %>
          <span>
          <img class="img-fluid" src="/assets/img/home/tennis.svg" alt="">
          </span>
          <p>Tennis</p>
        </div>
        <!-- <%if(check === "Cricket"){%>
        <%}else{%>
          <%} %> -->
          <div class="nav2menu-item" onclick="window.location.href = '/exchange/inPlay'; ">
          <span>
          <img class="img-fluid" src="/assets/img/home/basketball.svg" alt="">
          </span>
          <p>Basketball</p>
        </div>
        <!-- <%if(check === "Cricket"){%>
        <%}else{%>
        <%} %> -->
        <div class="nav2menu-item" onclick="window.location.href = '/exchange/inPlay'; ">
          <span>
          <img class="img-fluid" src="/assets/img/home/horseracing.svg" alt="">
          </span>
          <p>Horse Racing</p>
        </div>
        <!-- <%if(check === "Cricket"){%>
        <%}else{%>
        <%} %> -->
        <div class="nav2menu-item" onclick="window.location.href = '/exchange/inPlay'; ">
          <span>
          <img class="img-fluid" src="/assets/img/home/greyhound.svg" alt="">
          </span>
          <p>Grayhound</p>
        </div>
        <!-- <%if(check === "Cricket"){%>
        <%}else{%>
        <%} %> -->
      </div>
    </div>
  </section>