<script src="http://www.google.com/recaptcha/api.js" async defer></script>
<div class="modal fade my-model-regestermodl" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content regestermodl-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body regestermodl-body">
          <div class="regestermodl-body-wrp">
            <div class="myloginmodl-form-logodv">
              <img class="myloginmodl-form-logo2" src="assets/img/Royal77701.png" alt="">
            </div>
            <form class="row g-3 regestermodl-form">

              <div class="col-md-6">
                <label for="name" class="form-label regestermodl-forminput-labl">Full Name</label>
                <input type="text" class="form-control regestermodl-forminput" name="name" required >
              </div>
              <div class="col-md-6">
                <label for="userName" class="form-label regestermodl-forminput-labl">Username</label>
                <input type="text" class="form-control regestermodl-forminput" name="userName" required>
              </div>
              
              <div class="col-md-6">
                <label for="password" class="form-label regestermodl-forminput-labl">Password</label>
                <input type="password" class="form-control regestermodl-forminput" name="password" required>
              </div>
              <div class="col-md-6">
                <label for="passwordConfirm" class="form-label regestermodl-forminput-labl">Confirm Password</label>
                <input type="password" class="form-control regestermodl-forminput" name="passwordConfirm" required>
              </div>
              <div class="col-md-6">
                <label for="contectNumber" class="form-label regestermodl-forminput-labl">Phone No.</label>
                <input type="number" class="form-control regestermodl-forminput" name="contectNumber" required>
              </div>
              <div class="col-md-6">
                <label for="email" class="form-label regestermodl-forminput-labl">E-Mail</label>
                <input type="email" class="form-control regestermodl-forminput" name="email" required>
              </div>
              <div class="col-12 regestermodl-captcha">
                <div class="g-recaptcha" data-sitekey="6LcFdCEpAAAAANgf5DhJQCkqfb2Tvv5RknyN8xKe"></div>
              </div>
              <div class="col-12 regestermodl-submit-btn-dv">
                <button type="submit" class="btn regestermodl-submit-btn">REGISTER</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer regestermodl-fotr">
          <button type="button" class="myloginmodl-fotr-closbtn" data-bs-dismiss="modal" aria-label="Close">BACK TO HOME</button>
        </div>
      </div>
    </div>
  </div>