<div class="modal fade my-model-regestermodl" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content regestermodl-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body regestermodl-body">
          <div class="regestermodl-body-wrp">
            <div class="myloginmodl-form-logodv">
              <img class="myloginmodl-form-logo2" src="assets/img/Royal77701.png" alt="">
            </div>
            <form class="row g-3 regestermodl-form">

              <div class="col-md-6">
                <label for="inputCity" class="form-label regestermodl-forminput-labl">Full Name</label>
                <input type="text" class="form-control regestermodl-forminput" name="inputCity">
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label regestermodl-forminput-labl">Username</label>
                <input type="text" class="form-control regestermodl-forminput" name="inputCity">
              </div>
              
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label regestermodl-forminput-labl">Password</label>
                <input type="password" class="form-control regestermodl-forminput" id="inputPassword4">
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label regestermodl-forminput-labl">Country</label>
                <input type="text" class="form-control regestermodl-forminput" name="inputCity">
              </div>
              
              <div class="col-md-6">
                <label for="inputCity" class="form-label regestermodl-forminput-labl">State</label>
                <input type="text" class="form-control regestermodl-forminput" name="inputCity">
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label regestermodl-forminput-labl">City</label>
                <input type="text" class="form-control regestermodl-forminput" name="inputCity">
              </div>
              
              <div class="col-md-6">
                <label for="inputCity" class="form-label regestermodl-forminput-labl">Phone No.</label>
                <input type="number" class="form-control regestermodl-forminput" name="inputCity">
              </div>
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label regestermodl-forminput-labl">E-Mail</label>
                <input type="email" class="form-control regestermodl-forminput" id="inputEmail4">
              </div>
              
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label regestermodl-forminput-labl">Captcha Code</label>
                  <div class="input-group mb-3 myloginmodl-formgroup2">
                    <span id="captchaCode"></span>
                    <span class="input-group-text myloginmodl-formgroup-input-spn" id="basic-addon1"><button type="button" class="captcha-ref-btn" id="refreshCaptcha"><i class="fa-solid fa-arrows-rotate"></i></button></span>
                  </div>
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label regestermodl-forminput-labl">Enter Captcha</label>
                <input type="text" class="form-control regestermodl-forminput" id="captchaInput" name="captchaInput">
              </div>
              
              <div class="col-12 regestermodl-submit-btn-dv">
                <button type="submit" class="btn regestermodl-submit-btn">REGISTER</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer regestermodl-fotr">
          <button type="button" class="myloginmodl-fotr-closbtn" data-bs-dismiss="modal" aria-label="Close">BACK TO HOME</button>
        </div>
      </div>
    </div>
  </div>