<div class="sidebar-main-sec" id="offsetmenubody">
  <div class="sidebar-menue-wrp">
    <div class="sidebar-menue-col">
      <div class="sidebar-menue-col1">
        <div class="sidebar-menue-col1-data">
          <span class="sidebar-menue-active-spn">
            <a href="#" class="sidebar-menue-active-a">
              <img class="img-fluid" src="/assets/img/home/side-menuimg01.svg" alt="menu icon">
            </a>
            <h6 class="side-menu-nm">Home</h6>
            <!-- <span class="avtive-curve-spn"></span> -->
          </span>
          <span class="sidebar-menu-option-spn">
            <a href="/exchange/cricket" class="sidebar-menu-option-a">
              <img class="img-fluid hover-img-side-menu1" src="/assets/img/home/side-menuimg02.svg" alt="menu icon">
              <img class="img-fluid hover-img-side-menu2" src="/assets/img/home/bx_cricket-ball.svg" alt="menu icon">
            </a>
            <h6 class="side-menu-nm">Cricket</h6>
            <!-- <span class="avtive-curve-spn"></span> -->
          </span>
          <span class="sidebar-menu-option-spn">
            <a href="/exchange/football" class="sidebar-menu-option-a">
              <img class="img-fluid hover-img-side-menu1" src="/assets/img/home/side-menuimg03.svg" alt="menu icon">
              <img class="img-fluid hover-img-side-menu2" src="/assets/img/home/side-menuimg03blk.svg" alt="menu icon">
            </a>
            <h6 class="side-menu-nm">Football</h6>
          </span>
          <span class="sidebar-menu-option-spn">
            <a href="/exchange/tennis" class="sidebar-menu-option-a">
              <img class="img-fluid hover-img-side-menu1" src="/assets/img/home/side-menuimg04.svg" alt="menu icon">
              <img class="img-fluid hover-img-side-menu2" src="/assets/img/home/side-menuimg04blk.svg" alt="menu icon">
            </a>
            <h6 class="side-menu-nm">Tennis</h6>
          </span>
          <span class="sidebar-menu-option-spn">
            <a href="#" class="sidebar-menu-option-a">
              <img class="img-fluid hover-img-side-menu1" src="/assets/img/home/side-menuimg05.svg" alt="menu icon">
              <img class="img-fluid hover-img-side-menu2" src="/assets/img/home/side-menuimg05blk.svg" alt="menu icon">
            </a>
            <h6 class="side-menu-nm">Basketball</h6>
          </span>
          <span class="sidebar-menu-option-spn">
            <a href="#" class="sidebar-menu-option-a">
              <img class="img-fluid hover-img-side-menu1" src="/assets/img/home/side-menuimg06.svg" alt="menu icon">
              <img class="img-fluid hover-img-side-menu2" src="/assets/img/home/side-menuimg06blk.svg" alt="menu icon">
            </a>
            <h6 class="side-menu-nm">Baseball</h6>
          </span>
          <span class="sidebar-menu-option-spn">
            <a href="#" class="sidebar-menu-option-a">
              <img class="img-fluid hover-img-side-menu1" src="/assets/img/home/side-menuimg07.png" alt="menu icon">
              <img class="img-fluid hover-img-side-menu2" src="/assets/img/home/side-menuimg07blk.png" alt="menu icon">
            </a>
            <h6 class="side-menu-nm">Horse Racing</h6>
          </span>
          <span class="sidebar-menu-option-spn">
            <a href="#" class="sidebar-menu-option-a">
              <img class="img-fluid hover-img-side-menu1" src="/assets/img/home/side-menuimg08.png" alt="menu icon">
              <img class="img-fluid hover-img-side-menu2" src="/assets/img/home/side-menuimg08blk.png" alt="menu icon">
            </a>
            <h6 class="side-menu-nm">Grey Hound</h6>
          </span>
        </div>
      </div>
      <div class="sidebar-menue-col2"></div>
    </div>
  </div>
</div>