<%if(check === "Cards" || check === "Sportsbook" || check === "Royal Casino" || check === "Virtuals" || check === "Other" || check === "Live Casino InPlay" || check === "Live Casino" || check === "Slots" || check === "ACCC" || check === "plStatemenet" || check === "My Bets" || check === "My game" || check === "profileU" || check === "Comm" || check === "userP" || check === "Kyc" || check === 'MNGACC' || check === 'withdrawal'){%>
  <div class="sidebar-main-sec side-menu-show" id="offsetmenubody">
<%}else{%>
  <div class="sidebar-main-sec" id="offsetmenubody">
<%}%>
  <div class="navigation">
    <ul class="listWrap">
      <%if(check === "Home"){%>
        <li class="list active">
      <%}else{%>
        <li class="list">
      <%}%>  
        <a href="/">
          <div class="svg_icon Home">
            <svg xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M1.875 9.99993L9.33667 2.53743C9.51259 2.36182 9.75101 2.26318 9.99958 2.26318C10.2482 2.26318 10.4866 2.36182 10.6625 2.53743L18.125 9.99993M3.75 8.12493V16.5624C3.75 17.0799 4.17 17.4999 4.6875 17.4999H8.125V13.4374C8.125 12.9199 8.545 12.4999 9.0625 12.4999H10.9375C11.455 12.4999 11.875 12.9199 11.875 13.4374V17.4999H15.3125C15.83 17.4999 16.25 17.0799 16.25 16.5624V8.12493M6.875 17.4999H13.75" stroke="#ffffff" stroke-width="1.875" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <span class="text">Home</span>
        </a>
      </li>
      <%if(check === "Exchange"){%>
        <li class="list active">
      <%}else{%>
        <li class="list">
      <%}%>
        <a href="/exchange">
          <div class="svg_icon">
            <svg width="24" height="24" viewBox="0 0 512 512" fill="none" class="material-icons MuiIcon-root" aria-hidden="true"><path d="M394.487 83.0529C351.937 40.5032 274.111 49.0495 220.833 102.328C191.739 131.421 175.01 172.698 174.647 201.61C174.283 230.341 179.374 272.345 150.099 301.621L85.9104 365.809C78.7802 372.939 78.7802 384.499 85.9104 391.63V391.63C93.0406 398.76 104.601 398.76 111.731 391.63L175.92 327.441C205.195 298.166 247.2 303.257 275.93 302.893C304.66 302.53 346.119 285.801 375.212 256.707C428.309 203.429 437.037 125.603 394.487 83.0529ZM227.197 250.161C199.376 222.34 208.105 166.334 246.472 127.967C284.84 89.599 340.664 80.8709 368.666 108.692C396.487 136.513 387.759 192.519 349.392 230.886C311.024 269.254 255.2 277.982 227.197 250.161ZM366.848 346.898C376.485 346.898 385.759 350.716 392.487 357.626C406.67 371.81 406.67 394.903 392.487 409.086C385.759 415.814 376.485 419.633 366.848 419.633C357.211 419.633 347.937 415.814 341.209 408.904C327.026 394.721 327.026 371.628 341.209 357.444C347.937 350.716 357.211 346.898 366.848 346.898ZM366.848 310.531C352.446 310.502 338.361 314.751 326.378 322.74C314.395 330.728 305.054 342.096 299.541 355.401C294.029 368.705 292.592 383.348 295.413 397.47C298.234 411.593 305.187 424.559 315.388 434.725C329.572 448.908 348.301 456 366.848 456C381.25 456.029 395.335 451.779 407.318 443.791C419.301 435.802 428.642 424.435 434.155 411.13C439.667 397.825 441.104 383.183 438.283 369.06C435.462 354.937 428.509 341.971 418.308 331.805C411.549 325.052 403.526 319.696 394.696 316.046C385.866 312.395 376.403 310.521 366.848 310.531Z" fill="white"></path>
            </svg>
          </div>
          <span class="text">Sports</span>
        </a>
      </li>
      <%if(check === "In-Play"){%>
        <li class="list active">
      <%}else{%>
        <li class="list">
      <%}%> 
        <a href="/exchange/inPlay">
          <div class="svg_icon">
            <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="https://www.w3.org/2000/svg">
              <path d="M18.7498 -3.8147e-05C19.0813 -3.8147e-05 19.3992 0.131658 19.6336 0.366079C19.8681 0.600499 19.9998 0.918441 19.9998 1.24996V6.49996L26.516 1.93746C26.6097 1.87178 26.7196 1.83308 26.8338 1.82559C26.948 1.81809 27.062 1.84209 27.1635 1.89496C27.265 1.94782 27.35 2.02754 27.4093 2.1254C27.4686 2.22327 27.4999 2.33554 27.4998 2.44996V17.55C27.4999 17.6644 27.4686 17.7767 27.4093 17.8745C27.35 17.9724 27.265 18.0521 27.1635 18.105C27.062 18.1578 26.948 18.1818 26.8338 18.1743C26.7196 18.1668 26.6097 18.1281 26.516 18.0625L19.9998 13.5V18.75C19.9998 19.0815 19.8681 19.3994 19.6336 19.6338C19.3992 19.8683 19.0813 20 18.7498 20H1.24976C0.918235 20 0.600293 19.8683 0.365872 19.6338C0.131452 19.3994 -0.000244141 19.0815 -0.000244141 18.75V1.24996C-0.000244141 0.918441 0.131452 0.600499 0.365872 0.366079C0.600293 0.131658 0.918235 -3.8147e-05 1.24976 -3.8147e-05H18.7498ZM17.4998 2.49996H2.49976V17.5H17.4998V2.49996ZM7.99976 6.03621C8.09489 6.03595 8.18812 6.06284 8.26851 6.11371L13.7123 9.57746C13.7832 9.62262 13.8417 9.68495 13.8822 9.7587C13.9227 9.83244 13.9439 9.91521 13.9439 9.99934C13.9439 10.0835 13.9227 10.1662 13.8822 10.24C13.8417 10.3137 13.7832 10.3761 13.7123 10.4212L8.26851 13.8875C8.19268 13.9358 8.10523 13.9628 8.01536 13.9656C7.92549 13.9684 7.83652 13.9469 7.75783 13.9034C7.67914 13.8599 7.61363 13.796 7.56822 13.7184C7.5228 13.6408 7.49915 13.5524 7.49976 13.4625V6.53746C7.49976 6.40485 7.55243 6.27768 7.6462 6.18391C7.73997 6.09014 7.86715 6.03621 7.99976 6.03621ZM24.9998 6.04996L19.9998 9.54996V10.4475L24.9998 13.9475V6.04996Z" fill="white"/>
            </svg>              
          </div>
          <span class="text">In Play</span>
        </a>
      </li>
      <%if(check === "Multi Markets"){%>
        <li class="list active">
      <%}else{%>
        <li class="list">
      <%}%>
        <a href="/exchange/multimarkets">
          <div class="svg_icon">
            <svg width="24" height="24" viewBox="0 0 512 512" fill="none" xmlns="https://www.w3.org/2000/svg">
              <defs>
                <clipPath id="clip0">
                  <rect width="512" height="512" fill="white"></rect>
                </clipPath>
              </defs>
              <circle cx="256" cy="256" r="200" stroke="white" stroke-width="50" fill="none" clip-path="url(#clip0)"></circle>
              <path d="M255.531 171C266.432 171 275.269 179.782 275.269 190.615V236.385H321.325C332.226 236.385 341.063 245.167 341.063 256C341.063 266.833 332.226 275.615 321.325 275.615H275.269V321.385C275.269 332.218 266.432 341 255.531 341C244.63 341 235.793 332.218 235.793 321.385V275.615H189.738C178.837 275.615 170 266.833 170 256C170 245.167 178.837 236.385 189.738 236.385H235.793V190.615C235.793 179.782 244.63 171 255.531 171Z" fill="white"></path>
            </svg>            
                                
          </div>
          <span class="text">Multi Markets</span>
        </a>
      </li>
      <%if(check === "Sportsbook"){%>
        <li class="list active">
      <%}else{%>
        <li class="list">
      <%}%>
        <%if(user){ %>
          <a href="/premium_sports">
        <%}else{%>
          <a href="/">
        <%}%>
          <div class="svg_icon">
            <svg width="24" height="24" viewBox="0 0 512 512" fill="none" class="material-icons MuiIcon-root" aria-hidden="true"><path d="M167.449 288.302L223.698 344.551L203.923 364.326L147.674 308.077L167.449 288.302ZM298.185 31.0044C315.03 31.0044 331.217 33.1284 346.744 37.3764C362.271 41.6244 376.846 47.7767 390.469 55.8333C404.092 63.8898 416.397 73.4112 427.383 84.3974C438.369 95.3836 447.89 107.688 455.947 121.311C464.004 134.934 470.156 149.509 474.404 165.036C478.652 180.563 480.849 196.823 480.996 213.815C480.996 235.202 477.48 255.636 470.449 275.118C463.418 294.6 453.603 312.252 441.006 328.072C428.408 343.892 413.32 357.368 395.743 368.501C378.165 379.634 359.049 387.544 338.394 392.231C339.713 403.071 340.372 413.911 340.372 424.751C340.372 432.514 338.907 439.765 335.977 446.503C333.048 453.241 329.02 459.247 323.893 464.521C318.766 469.794 312.833 473.822 306.095 476.606C299.357 479.389 292.033 480.854 284.123 481C260.832 481 238.42 477.997 216.887 471.991C195.354 465.986 175.139 457.489 156.243 446.503C137.347 435.517 120.281 422.334 105.047 406.953C89.8129 391.572 76.6294 374.507 65.4967 355.757C54.364 337.007 45.868 316.866 40.0087 295.333C34.1494 273.8 31.1465 251.315 31 227.877C31 220.114 32.4648 212.863 35.3945 206.125C38.3241 199.387 42.3524 193.381 47.4793 188.107C52.6062 182.834 58.5388 178.806 65.277 176.023C72.0152 173.239 79.3394 171.775 87.2495 171.628C98.0892 171.628 108.929 172.287 119.769 173.606C124.456 152.805 132.366 133.689 143.499 116.257C154.632 98.826 168.108 83.8115 183.928 71.214C199.748 58.6164 217.4 48.7288 236.882 41.5512C256.364 34.3735 276.798 30.8579 298.185 31.0044ZM375.967 156.028C382.999 161.154 390.689 165.036 399.038 167.673C407.388 170.31 415.957 171.628 424.746 171.628C432.07 171.628 439.248 170.749 446.279 168.991C443.349 159.03 439.394 149.509 434.414 140.427C429.434 131.345 423.648 122.849 417.056 114.939L375.967 156.028ZM397.061 94.9442C389.151 88.3525 380.655 82.5664 371.573 77.586C362.491 72.6056 352.97 68.6505 343.009 65.7209C341.251 72.752 340.372 79.9297 340.372 87.2538C340.372 96.0428 341.69 104.612 344.327 112.962C346.964 121.311 350.846 129.001 355.972 136.033L397.061 94.9442ZM315.543 60.2277C312.613 59.7883 309.757 59.4953 306.974 59.3488C304.191 59.2024 301.261 59.1291 298.185 59.1291C280.021 59.1291 262.516 62.2053 245.671 68.3575C228.825 74.5098 213.371 83.4453 199.309 95.1639L298.185 194.04L335.977 156.247C328.214 146.433 322.355 135.666 318.4 123.948C314.444 112.229 312.394 99.9979 312.247 87.2538C312.247 78.0254 313.346 69.0167 315.543 60.2277ZM179.314 114.939C171.55 124.168 164.959 134.128 159.539 144.822C154.119 155.515 150.091 166.867 147.454 178.879C167.522 183.566 186.785 190.817 205.241 200.632C223.698 210.446 240.617 222.238 255.998 236.007L278.41 213.815L179.314 114.939ZM284.123 452.875C288.078 452.875 291.74 452.143 295.109 450.678C298.478 449.213 301.408 447.236 303.898 444.745C306.388 442.255 308.439 439.252 310.05 435.737C311.661 432.221 312.394 428.559 312.247 424.751C312.247 404.096 309.611 384.175 304.337 364.986C299.064 345.796 291.447 327.925 281.486 311.373C271.525 294.82 259.806 279.659 246.33 265.89C232.853 252.12 217.693 240.329 200.847 230.514C184.001 220.7 166.057 213.156 147.014 207.883C127.972 202.609 108.05 199.899 87.2495 199.753C83.2944 199.753 79.6323 200.485 76.2632 201.95C72.8941 203.415 69.9645 205.392 67.4743 207.883C64.984 210.373 62.9333 213.376 61.322 216.891C59.7107 220.407 58.9782 224.069 59.1247 227.877C59.1247 248.532 61.7614 268.453 67.0348 287.643C72.3082 306.832 79.9253 324.703 89.8861 341.255C99.847 357.808 111.566 372.969 125.042 386.738C138.518 400.508 153.679 412.3 170.525 422.114C187.371 431.928 205.315 439.472 224.357 444.745C243.4 450.019 263.322 452.729 284.123 452.875ZM275.993 256.002C289.762 271.383 301.554 288.302 311.368 306.759C321.183 325.215 328.434 344.478 333.121 364.546C344.986 361.909 356.265 357.881 366.959 352.461C377.652 347.041 387.686 340.45 397.061 332.686L298.185 233.59L275.993 256.002ZM416.836 312.691C428.408 298.775 437.27 283.395 443.423 266.549C449.575 249.703 452.724 232.125 452.871 213.815C452.871 210.885 452.798 208.029 452.651 205.246C452.505 202.463 452.212 199.533 451.772 196.457C442.983 198.654 433.975 199.753 424.746 199.753C412.149 199.753 399.991 197.775 388.272 193.82C376.553 189.865 365.714 183.933 355.753 176.023L317.96 213.815L416.836 312.691Z" fill="white"></path></svg>
          </div>
          <span class="text">Sportsbook</span>
        </a>
      </li>
      <li class="list">
        <a href="/live_casino">
          <div class="svg_icon">
            <svg width="24" height="24" viewBox="0 0 512 512" fill="none" class="material-icons MuiIcon-root" aria-hidden="true"><path d="M256 48C214.862 48 174.647 60.199 140.441 83.0543C106.236 105.91 79.5762 138.395 63.8332 176.402C48.0901 214.409 43.971 256.231 51.9968 296.579C60.0225 336.927 79.8326 373.989 108.922 403.078C138.011 432.168 175.073 451.978 215.421 460.003C255.769 468.029 297.591 463.91 335.598 448.167C373.605 432.424 406.09 405.764 428.946 371.559C451.801 337.353 464 297.139 464 256C463.942 200.853 442.009 147.981 403.014 108.986C364.019 69.9912 311.147 48.0582 256 48ZM256 352C237.013 352 218.452 346.37 202.665 335.821C186.878 325.272 174.574 310.279 167.308 292.738C160.042 275.196 158.141 255.894 161.845 237.271C165.549 218.649 174.692 201.544 188.118 188.118C201.544 174.692 218.649 165.549 237.271 161.845C255.894 158.14 275.196 160.042 292.738 167.308C310.279 174.574 325.273 186.878 335.821 202.665C346.37 218.452 352 237.013 352 256C351.974 281.453 341.851 305.855 323.853 323.853C305.855 341.851 281.453 351.974 256 352ZM334.42 154.94C316.337 140.806 294.77 131.822 272 128.94V80.74C307.507 83.9386 341.193 97.893 368.56 120.74L334.42 154.94ZM240 129.04C217.23 131.922 195.663 140.906 177.58 155.04L143.44 120.8C170.807 97.953 204.493 83.9986 240 80.8V129.04ZM154.94 177.58C140.806 195.663 131.822 217.23 128.94 240H80.7401C83.9386 204.493 97.8931 170.807 120.74 143.44L154.94 177.58ZM129.04 272C131.922 294.77 140.906 316.337 155.04 334.42L120.8 368.56C97.9531 341.193 83.9987 307.507 80.8001 272H129.04ZM177.58 357.06C195.674 371.159 217.24 380.107 240 382.96V431.26C204.493 428.061 170.807 414.107 143.44 391.26L177.58 357.06ZM272 382.96C294.76 380.107 316.326 371.159 334.42 357.06L368.56 391.2C341.193 414.047 307.507 428.001 272 431.2V382.96ZM357.06 334.42C371.159 316.326 380.107 294.76 382.96 272H431.26C428.062 307.507 414.107 341.193 391.26 368.56L357.06 334.42ZM382.96 240C380.107 217.24 371.159 195.674 357.06 177.58L391.2 143.44C414.047 170.807 428.002 204.493 431.2 240H382.96Z" fill="white"></path>
            </svg>
          </div>
          <span class="text">Live Casino</span>
        </a>
      </li>
      <li class="list">
        <a href="/allCards">
          <div class="svg_icon">
            <svg width="24" height="24" viewBox="0 0 512 512" fill="none" class="material-icons MuiIcon-root" aria-hidden="true"><path d="M126.424 351.931C122.698 365.948 124.68 380.871 131.936 393.43C139.191 405.99 151.129 415.161 165.134 418.935L314.397 459.121C321.325 460.988 328.555 461.47 335.67 460.538C342.785 459.607 349.647 457.28 355.861 453.691C362.076 450.103 367.521 445.323 371.885 439.626C376.248 433.93 379.445 427.428 381.291 420.493L450.728 160.158C454.464 146.141 452.49 131.214 445.239 118.649C437.988 106.085 426.052 96.9067 412.046 93.127L262.783 52.941C255.853 51.0694 248.621 50.5846 241.502 51.5144C234.384 52.4441 227.519 54.7701 221.301 58.3589C215.084 61.9476 209.636 66.7286 205.271 72.4276C200.905 78.1265 197.707 84.6313 195.861 91.5688L126.424 351.903V351.931ZM172.16 392.527C165.161 390.631 159.199 386.04 155.577 379.759C151.955 373.478 150.968 366.018 152.832 359.011L222.269 98.6765C223.192 95.211 224.79 91.9618 226.971 89.115C229.153 86.2682 231.874 83.8799 234.98 82.0869C238.086 80.2939 241.515 79.1316 245.071 78.6664C248.627 78.2013 252.24 78.4425 255.703 79.3763L404.993 119.562C419.564 123.472 428.23 138.48 424.348 153.078L354.911 413.385C353.991 416.856 352.394 420.111 350.212 422.963C348.03 425.815 345.307 428.208 342.197 430.004C339.088 431.8 335.654 432.964 332.094 433.429C328.533 433.894 324.916 433.65 321.45 432.713L172.16 392.527ZM97.255 282.548L60.8689 146.79C57.1104 132.786 59.0686 117.863 66.3126 105.303C73.5566 92.7423 85.4931 83.5737 99.4967 79.8137L101.574 79.2669C98.678 87.7702 97.2003 96.692 97.2003 105.675V110.787C92.8475 114.067 89.5744 118.573 87.8013 123.727C86.0282 128.88 85.836 134.446 87.2495 139.71L97.2277 176.916L97.255 282.548ZM124.565 252.805V105.675C124.565 91.1742 130.326 77.2675 140.579 67.0139C150.833 56.7604 164.739 51 179.24 51H182.138C178.119 57.0416 174.975 63.8486 173.007 71.2571L170.765 79.677C165.289 81.4626 160.517 84.9325 157.129 89.5914C153.742 94.2503 151.913 99.8601 151.903 105.62V150.317L124.565 252.805ZM343.265 160.295C343.265 167.546 340.385 174.499 335.258 179.626C330.131 184.752 323.178 187.633 315.927 187.633C308.677 187.633 301.724 184.752 296.597 179.626C291.47 174.499 288.59 167.546 288.59 160.295C288.59 153.045 291.47 146.091 296.597 140.965C301.724 135.838 308.677 132.958 315.927 132.958C323.178 132.958 330.131 135.838 335.258 140.965C340.385 146.091 343.265 153.045 343.265 160.295ZM261.252 378.995C268.503 378.995 275.456 376.115 280.583 370.988C285.71 365.861 288.59 358.908 288.59 351.657C288.59 344.407 285.71 337.454 280.583 332.327C275.456 327.2 268.503 324.32 261.252 324.32C254.002 324.32 247.049 327.2 241.922 332.327C236.795 337.454 233.915 344.407 233.915 351.657C233.915 358.908 236.795 365.861 241.922 370.988C247.049 376.115 254.002 378.995 261.252 378.995Z" fill="white"></path></svg>
          </div>
          <span class="text">Cards</span>
        </a>
      </li>
      <!-- <li class="list">
        <a href="/OtherGames">
          <div class="svg_icon">
            <svg width="24" height="24" viewBox="0 0 512 512" fill="none" class="material-icons MuiIcon-root" aria-hidden="true"><g clip-path="url(#clip0_3132_8210)"><path d="M256 56C366.46 56 456 145.54 456 256C456 366.46 366.46 456 256 456C145.54 456 56 366.46 56 256C56 145.54 145.54 56 256 56ZM256 96C213.565 96 172.869 112.857 142.863 142.863C112.857 172.869 96 213.565 96 256C96 298.435 112.857 339.131 142.863 369.137C172.869 399.143 213.565 416 256 416C298.435 416 339.131 399.143 369.137 369.137C399.143 339.131 416 298.435 416 256C416 213.565 399.143 172.869 369.137 142.863C339.131 112.857 298.435 96 256 96ZM166 226C173.956 226 181.587 229.161 187.213 234.787C192.839 240.413 196 248.044 196 256C196 263.956 192.839 271.587 187.213 277.213C181.587 282.839 173.956 286 166 286C158.044 286 150.413 282.839 144.787 277.213C139.161 271.587 136 263.956 136 256C136 248.044 139.161 240.413 144.787 234.787C150.413 229.161 158.044 226 166 226ZM256 226C263.956 226 271.587 229.161 277.213 234.787C282.839 240.413 286 248.044 286 256C286 263.956 282.839 271.587 277.213 277.213C271.587 282.839 263.956 286 256 286C248.044 286 240.413 282.839 234.787 277.213C229.161 271.587 226 263.956 226 256C226 248.044 229.161 240.413 234.787 234.787C240.413 229.161 248.044 226 256 226ZM346 226C353.956 226 361.587 229.161 367.213 234.787C372.839 240.413 376 248.044 376 256C376 263.956 372.839 271.587 367.213 277.213C361.587 282.839 353.956 286 346 286C338.044 286 330.413 282.839 324.787 277.213C319.161 271.587 316 263.956 316 256C316 248.044 319.161 240.413 324.787 234.787C330.413 229.161 338.044 226 346 226Z" fill="white"></path></g><defs><clipPath id="clip0_3132_8210"><rect width="512" height="512" fill="white"></rect></clipPath></defs></svg>
          </div>
          <span class="text">Other</span>
        </a>
      </li> -->
      <li class="indicator"></li>
    </ul>
  </div>
  </div>



  <script type="text/javascript">
    const listItem = document.querySelectorAll('.list');

    function activateLink() {
      listItem.forEach( item => {
        item.classList.remove('active');
      });
      this.classList.add('active');
    }

    listItem.forEach( item => {
      item.addEventListener('mouseover', activateLink);
    });
  </script>