<div class="modal fade change-pass-model" id="navmod2" tabindex="-1" aria-labelledby="navmod1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered change-pass-model-inn">
      <div class="modal-content change-pass-model-txt">
        <div class="modal-header change-pass-model-hed">
          <div class="featured-sec-ro--titl-txt">
            <span class="titl-bodr-lft-spn-model"></span>
            <h3 class="featured-sec-ro--titl-txt-tg-model">SET BUTTON STAKE</h3>
          </div>
          <button type="button" class="change-pass-clos-btnn fa-regular fa-circle-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body change-pass-model-body" id="stakeLableForm">
          
        </div>
      </div>
    </div>
  </div>