<div class="modal fade change-pass-model" id="navmod2" tabindex="-1" aria-labelledby="navmod1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered change-pass-model-inn">
      <div class="modal-content change-pass-model-txt">
        <div class="modal-header change-pass-model-hed">
          <div class="featured-sec-ro--titl-txt">
            <span class="titl-bodr-lft-spn-model"></span>
            <h3 class="featured-sec-ro--titl-txt-tg-model">SET BUTTON STAKE</h3>
          </div>
          <button type="button" class="change-pass-clos-btnn fa-regular fa-circle-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body change-pass-model-body">
          <form class="set-stake-form">
            <div class="row mb-2 set-stake-form-ro">
              <div class="col set-stake-form-col">
                <fieldset >
                  <label for="exampleInputEmail1" class="form-label">Label Name</label>
                  <input type="text" required class="form-control set-stake-form-input1" value="100"  >
                </fieldset>
              </div>
              <div class="col set-stake-form-col">
                <label for="exampleInputPassword1" class="form-label">Value</label>
                <input type="text" required class="form-control set-stake-form-input2" value="100" aria-label="Last name">
              </div>
            </div>
            <div class="row mb-2 set-stake-form-ro">
              <div class="col set-stake-form-col">
                <fieldset >
                  <input type="text" required class="form-control set-stake-form-input1" value="500"  >
                </fieldset>
              </div>
              <div class="col set-stake-form-col">
                <input type="text" required class="form-control set-stake-form-input2" value="500" aria-label="Last name">
              </div>
            </div>
            <div class="row mb-2 set-stake-form-ro">
              <div class="col set-stake-form-col">
                <fieldset >
                  <input type="text" required class="form-control set-stake-form-input1" value="1000"  >
                </fieldset>
              </div>
              <div class="col set-stake-form-col">
                <input type="text" required class="form-control set-stake-form-input2" value="1000" aria-label="Last name">
              </div>
            </div>
            <div class="row mb-2 set-stake-form-ro">
              <div class="col set-stake-form-col">
                <fieldset >
                  <input type="text" required class="form-control set-stake-form-input1" value="5000"  >
                </fieldset>
              </div>
              <div class="col set-stake-form-col">
                <input type="text" required class="form-control set-stake-form-input2" value="5000" aria-label="Last name">
              </div>
            </div>
           
            
            
            <button type="submit" class="btn change-pass-model-form-submit-btn">SAVE</button>
          </form>
        </div>
      </div>
    </div>
  </div>