<div class="modal fade change-pass-model" id="navmod1" tabindex="-1" aria-labelledby="navmod1Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered change-pass-model-inn">
      <div class="modal-content change-pass-model-txt">
        <div class="modal-header change-pass-model-hed">
          <div class="featured-sec-ro--titl-txt">
            <span class="titl-bodr-lft-spn-model"></span>
            <h3 class="featured-sec-ro--titl-txt-tg-model">CHANGE PASSWORD</h3>
          </div>
          <button type="button" class="change-pass-clos-btnn fa-regular fa-circle-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body change-pass-model-body">
          <form class="change-pass-model-form change-pass-model-form1">

            <div class="change-pass-model-form-inputs">
              <label for="exampleInputPassword1" class="form-label">Enter Old Password</label>
              <div class="input-group flex-nowrap mb-2 change-pass-model-form-inputgrup">
                <input type="password" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" name="oldPass">
                <span class="input-group-text oldPass" id="addon-wrapping"><i class="fa-solid fa-eye-slash"></i></span>
              </div>
            </div>
            
            <div class="change-pass-model-form-inputs">
              <label for="exampleInputPassword1" class="form-label">Enter New Password</label>
              <div class="input-group flex-nowrap mb-2 change-pass-model-form-inputgrup">
                <input type="password" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" name="newPass">
                <span class="input-group-text newPass" id="addon-wrapping"><i class="fa-solid fa-eye-slash"></i></span>
              </div>
            </div>
            
            <div class="change-pass-model-form-inputs">
              <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
              <div class="input-group flex-nowrap mb-2 change-pass-model-form-inputgrup">
                <input type="password" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" name="confPass">
                <span class="input-group-text confPass" id="addon-wrapping"><i class="fa-solid fa-eye-slash"></i></span>
              </div>
            </div>

            <button type="submit" class="btn change-pass-model-form-submit-btn">UPDATE CHANGES</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="modal fade change-pass-model paymentDepositePopup" id="navmod3" tabindex="-1" aria-labelledby="navmod3Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered change-pass-model-inn">
      <div class="modal-content change-pass-model-txt">
        <div class="modal-header change-pass-model-hed">
          <div class="featured-sec-ro--titl-txt">
            <span class="titl-bodr-lft-spn-model"></span>
            <h3 class="featured-sec-ro--titl-txt-tg-model">Deposit</h3>
          </div>
          <button type="button" class="change-pass-clos-btnn fa-regular fa-circle-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body change-pass-model-body">
          <div class="choose-payment-option">
            <div class="payment-tab">
                <div class="payment-tab-list">
                    <a href="#" class="img-payment bank-img active"><img src="http://b2c.ollscores.com/images/bank-transfer.png"></a>
                    <a href="#" class="img-payment upi-img"><img src="http://b2c.ollscores.com/images/upi-pay.png"></a>
                    <a href="#" class="img-payment pytm-img"><img src="http://b2c.ollscores.com/images/paytm-pay.png"></a>
                </div>
                <div class="payment-tab-content">
                    <div class="title">Choose Beneficiary Account</div>
                    <div class="luck-enterprise">
                      <div class="accountnamecontainer">
                        <div class="luck-enterprise-tag" id="Acc-Name-button" data-accountname="" active></div>
                      </div>
                        
                        <ul id="BANK-DATA">
                            <li id="Acc-Name"> <span class="copy-icon"></span></li>
                            <li id="Acc-Number"> <span class="copy-icon"></span></li>
                            <li id="Bank-Name"> <span class="copy-icon"></span></li>
                            <li id="IFSC"> <span class="copy-icon"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="enter-payment-detail">
            <div class="title">Enter Payment Details</div>
            <form  class="payment-fom" method="post" action="">
                <div class="change-pass-model-form-inputs">
                    <div class="input-group flex-nowrap mb-2 change-pass-model-form-inputgrup">
                      <input type="text" class="form-control" name="amount" placeholder="Enter Amount" required>
                      <input type="hidden" name="pmethod" class="pmethod" value="banktransfer">
                      <input type="hidden" name="accountholdername" value="">
                    </div>
                </div>
                <div class="change-pass-model-form-inputs">
                    <div class="input-group flex-nowrap mb-2 change-pass-model-form-inputgrup">
                      <input type="text" class="form-control" name="notes" placeholder="Enter Notes" required>
                    </div>
                </div>
                <div class="change-pass-model-form-inputs">
                    <div class="input-group flex-nowrap mb-2 change-pass-model-form-inputgrup">
                      <input type="text" class="form-control" name="utr" placeholder="Enter Transaction Reference ID" required>
                      <span class="input_err"></span>
                    </div>
                </div>
                <div class="change-pass-model-form-inputs">
                    <div class="input-group flex-nowrap mb-2 change-pass-model-form-inputgrup">
                      <input type="file" class="form-control" name="file" id="payment-img-upload" required>
                    </div>
                </div>
                <button type="submit" class="btn change-pass-model-form-submit-btn">Submit</button>
            </form>
        </div>
        </div>
      </div>
    </div>
    <div id="loader2-overlay">
      <div class="loader"></div>
    </div>
  </div> -->



  <!-- <div class="modal fade change-pass-model paymentDepositePopup" id="navmod4" tabindex="-1" aria-labelledby="navmod4Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered change-pass-model-inn">
      <div class="modal-content change-pass-model-txt">
        <div class="modal-header change-pass-model-hed">
          <div class="featured-sec-ro--titl-txt">
            <span class="titl-bodr-lft-spn-model"></span>
            <h3 class="featured-sec-ro--titl-txt-tg-model">withdraw</h3>
          </div>
          <button type="button" class="change-pass-clos-btnn fa-regular fa-circle-xmark" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body change-pass-model-body">
          <div class="choose-payment-option">
            <div class="payment-tab">
                <div class="payment-tab-list">
                    <a class="img-payment bankW-img active"><img src="http://b2c.ollscores.com/images/bank-transfer.png"></a>
                    <a class="img-payment upiW-img"><img src="http://b2c.ollscores.com/images/upi-pay.png"></a>
                    <a class="img-payment pytmW-img"><img src="http://b2c.ollscores.com/images/paytm-pay.png"></a>
                    <a class="payment-mng-link" href="/withdrawalRequest" >Past Requests</a>
                </div>
                <div class="payment-tab-content">
                    <div class="title">Choose Beneficiary Account for withdraw</div>
                    <div class="luck-enterprise">
                      <div class="accountnamecontainer">
                        
                      </div>
                        
                        <ul id="BANK-DATA1">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="enter-withdraw-detail enter-payment-detail"  id="enter-withdraw-detail">
            <div class="title">Enter withdraw Details</div>
            <form  class="withdraw-fom">
                <div class="change-pass-model-form-inputs">
                    <div class="input-group flex-nowrap mb-2 change-pass-model-form-inputgrup">
                      <input type="number" class="form-control" name="amount" placeholder="Enter Amount" required>
                    </div>
                </div>
                <div class="change-pass-model-form-inputs">
                    <div class="input-group flex-nowrap mb-2 change-pass-model-form-inputgrup">
                      <input type="text" class="form-control" name="notes" placeholder="Enter Notes" required>
                    </div>
                </div>
                <button type="submit" class="btn change-pass-model-form-submit-btn">Submit</button>
            </form>
        </div>
        </div>
      </div>
    </div>
    <div id="loader3-overlay">
      <div class="loader"></div>
    </div>
  </div> -->

  <script>
//    document.addEventListener("DOMContentLoaded", function () {
//   const passwordInputs = document.querySelectorAll('input[type="password"]');
//   const eyeIcons = document.querySelectorAll('.input-group-text');

//   eyeIcons.forEach((eyeIcon, index) => {
//     eyeIcon.addEventListener("click", function () {
//       const passwordInput = $(this).closest('div').find('input');
//       console.log(passwordInput, passwordInput.attr("type"),"passwordInputpasswordInputpasswordInput")
//       const isVisible = passwordInput.attr("type") === "text";
//       console.log(isVisible, "isVisibleisVisibleisVisible")

//       if (isVisible) {
//          passwordInput.attr("type", "password");
//         eyeIcon.innerHTML = '<i class="fa-solid fa-eye-slash"></i>';
//       } else {
//         passwordInput.attr("type", "text");
//         eyeIcon.innerHTML = '<i class="fa-solid fa-eye"></i>';

//         // Hide the password after 3 seconds
//         setTimeout(function () {
//            passwordInput.attr("type", "password");
//           eyeIcon.innerHTML = '<i class="fa-solid fa-eye-slash"></i>';
//         }, 3000);
//       }
//     });
//   });
// });


  $(document).on('click', ".input-group-text", function(e){
    const passwordInput = $(this).closest('div').find('input');
    const isVisible = passwordInput.attr("type") === "text";
    if (isVisible) {
        passwordInput.attr("type", "password");
        $(this).html('<i class="fa-solid fa-eye-slash"></i>');
      } else {
        passwordInput.attr("type", "text");
        $(this).html('<i class="fa-solid fa-eye"></i>');

        // Hide the password after 3 seconds
        setTimeout(function () {
           passwordInput.attr("type", "password");
          $(this).html('<i class="fa-solid fa-eye-slash"></i>');
        }, 3000);
      }

  })

  </script>

  <% if (userLog && userLog.length === 1) { %>
    <%if(userLog[0].logs.length === 0){%>
    <script>
      $(document).ready(function() {
          $('#navmod1').modal('show');
        }
      );
    </script>
  <% } %>
  <% } %>
  
  
  
  