<section>
    <div class="container-fluid">
      <div class="table-data-section">
        <div class="table-heading New_table_heading">
          <h3>Basic Details</h3>
          <!-- <div class="table-heading-btn">
            <button class="btn-filter" data-bs-toggle="modal" data-bs-target="#myModaladduser"><i class="fa-solid fa-plus"></i> &nbsp; Add Menu</button>
          </div> -->
        </div>
        <div class="data-table">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Data</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>