<%- include("../header") %>
  <!--Container Main start-->
  <div class="dashboard-main-wraper">
  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head bet-monitoring-heading"> 
          <h3>Payment Methods</h3>
          <form action="" class="betmonitor-heading-from">
            <div class="input-group">
              <label>Payment Method</label>
              <select name="pmethod" id="pmethod">
                <option value="All" selected>All</option>
                <option value="banktransfer">Bank Transfer</option>
                <option value="upi">UPI</option>
                <option value="paytm">Paytm</option>
              </select>
            </div>
            <div class="input-group">
                <button class="refresh btn-group" data-bs-toggle="modal" data-bs-target="#myModal" type="button"><i class="fa-solid fa-plus"></i> &nbsp; Add Payment Method</button>
            </div>
          </form>
         
      </div>
  </section>

  <section>
    <div class="container-fluid">
        <div class="table-data-section">
            <div class="table-heading">
                <h3>Alert Bet</h3>
                <div class="table-heading-btn">
                  
                </div>
            </div>
            <div class="data-table">
              <%- include("./table") %>
            </div>
        </div>
    </div>
</section>
<div class="pageId" data-pageid="1"></div>
</div>


  <div class="modal fade deposit-withdraw-modal" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Select Payment Method</h4>
        </div>
        <div class="modal-body">
            <form class="form-data acc-form" id="6493dd673a8db8e3847e9d58">
                <div class="row">
                  <div class="col">
                    <p class="depositeWD active">Add Bank</p>
                  </div>
                  <div class="col">
                    <p class="withdrawWD">Add UPI</p>
                  </div>
                  <div class="col">
                    <p class="withdrawWD">Add Paytm</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="hidden" name="pmethod" class="pmethod" value="banktransfer">
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <label for="">Account Name</label>
                    <input type="text" class="bankTransferInp form-control ml0" placeholder="Account Name" name="accountholdername" required>
                  </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="">Account Number</label>
                        <input type="number" class="bankTransferInp form-control ml0" placeholder="Account Number" name="accountnumber" required>
                    </div>
                </div>
                <div class="row mt-2" style="display: none;">
                    <div class="col">
                        <label for="">UPI Id</label>
                        <input type="number" class="form-control ml0 upiTransferInp" placeholder="UPI Id" name="upiid" required>
                    </div>
                </div>
                <div class="row mt-2" style="display: none;">
                    <div class="col">
                        <label for="">Phone Number</label>
                        <input type="number" class="form-control ml0 paytmTransferInp" placeholder="Phone Number" name="phonenumber" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="">Display Name</label>
                        <input type="text" class="bankTransferInp form-control ml0"  name="displayname" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="">Ifsc Code</label>
                        <input type="text" class="bankTransferInp form-control ml0"  name="ifsccode" required>
                    </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <label for="">Bank Name</label>
                    <input type="text" class="bankTransferInp form-control ml0"  name="bankname" required>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <label for="">Branch Name</label>
                    <input type="text" class="bankTransferInp form-control ml0"  name="branchname" required>
                  </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="submit" class="bankTransferInp btn-submit mt-3">Submit</button>
                    </div>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
<script>
  
</script>

  
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script type="text/javascript" src="../js/bundle.js"></script>


</body>
</html>