<table>
    <thead>
        <tr>
          <th>S.No</th>
          <th>Date</th>
          <th>User Name</th>
          <th>Event</th>
          <th>Market </th>
          <th>Odds</th>
          <th>Match</th>
          <th>Bet On</th>
          <th>Stake</th>
          <th>Txn ID </th>
          <th>Status</th>
          <th>Remark</th>
          <th>Actions</th>                      
        </tr>
    </thead>
    <tbody class="new-body">
        
    </tbody>
  </table>