<%- include("../header") %>
<!--Container Main start-->
<div class="dashboard-main-wraper">

  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head"> 
        <h3>Page Management</h3>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
        <div class="table-data-section">
            <div class="table-heading">
                <h3>Page Management</h3>
                <div class="table-heading-btn">
                    <button class="btn-filter" data-bs-toggle="modal" data-bs-target="#myModaladduser"><i class="fa-solid fa-plus"></i> &nbsp; Add Page</button>
                </div>
            </div>
            <div class="data-table">
              <table>
                <thead>
                  <th>Sr. No.</th>
                  <th>Name</th>
                  <th>Update</th>
                </thead>
                <tbody >
                  <%for(let i = 0; i < pages.length; i++){%>
                  <tr>
                    <td><%= i+1 %></td>
                    <td><%=pages[i].heading%></td>
                    <td>
                      <div class="btn-group">
                        <button data-bs-toggle="modal" data-bs-target="#uploadFile" id="<%=pages[i]._id%>" class="UploadEjs"><i class="fa-solid fa-database"></i></button>
                      </div>
                    </td>
                  </tr>
                  <%}%>
                </tbody>
              </table>
              <div class="modal fade" id="myModaladduser" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-header">
                      <h4 class="modal-title">Add page</h4>
                    </div>
                    <div class="modal-body">
                      <form class="uploadEJS">
                        <div class="row">
                          <div class="col">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control ml0" name="Name" required>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col">
                            <label for="heading">Heading</label>
                            <input type="text" class="form-control ml0" name="heading" required>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col">
                            <label for="details">Details</label>
                            <textarea  class="form-control ml0" name="details"></textarea>
                          </div>
                        </div>
                        <button type="submit" class="btn-submit mt-3">Add</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="uploadFile" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-header">
                      <h4 class="modal-title">Update Page</h4>
                    </div>
                    <div class="modal-body">
                      <form class="updatePages" id="updatePages">
                        <div class="row mt-2">
                          <div class="col">
                            <label for="heading">Heading</label>
                            <input type="text" class="form-control ml0 heading"  name="heading" required>
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col">
                            <label for="details">Details</label>
                            <textarea class="form-control ml0" name="details"></textarea>
                          </div>
                        </div>
                        <button type="submit" class="btn-submit mt-3">Update</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </section>

  <div class="modal fade" id="adduser" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Slider Upload</h4>
        </div>
        <div class="modal-body">
          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">Image</label>
                <input type="file" class="form-control ml0" placeholder="" name="email">
              </div>
            </div>
            <button type="button" class="btn-submit mt-3">Add </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="../js/bundle.js"></script> 
<script src="http://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>

<script>
  function openCity(evt, cityName) {
var i, tabcontent, tablinks;
tabcontent = document.getElementsByClassName("tabcontent");
for (i = 0; i < tabcontent.length; i++) {
tabcontent[i].style.display = "none";
}
tablinks = document.getElementsByClassName("tablinks");
for (i = 0; i < tablinks.length; i++) {
tablinks[i].className = tablinks[i].className.replace(" active", "");
}
document.getElementById(cityName).style.display = "block";
evt.currentTarget.className += " active";

}
document.getElementById("defaultOpen").click();
</script>
</body>
</html>