<div id="Cricket" class="tabcontent" style="margin-bottom:15px">
    <div class="align-fix">
  
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #fff !important;color: #000;border: 2px solid #6359CA; padding: 6px 34px;">
        Top Gamers
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item active" href="/cms">Top Gamers</a></li>
        <li><a class="dropdown-item" href="/menumanger">Managar</a></li>
        <li><a class="dropdown-item" href="/telegram">Telegram  Menu</a></li>
        
      </ul>
    </div>
      

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton12" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #fff  !important;color: #000;border: 2px solid #6359CA; padding: 6px 34px;">
        All
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton12">
        <li><a class="dropdown-item active" href="">All</a></li>
        <li><a class="dropdown-item" href="">ANDAR BAHAR</a></li>
        <li><a class="dropdown-item" href="">Roulette</a></li>
        <li><a class="dropdown-item" href="">BLACKJACK</a></li>

        <li><a class="dropdown-item" href="">BACCARAT</a></li>

        <li><a class="dropdown-item" href="">Teenpatti</a></li>

        <li><a class="dropdown-item" href="">Lucky 7</a></li>

        <li><a class="dropdown-item" href="">Dragon Tiger</a></li>
        <li><a class="dropdown-item" href="">Card Game</a></li>
        <li><a class="dropdown-item" href="">Others</a></li>

        
      </ul>
    </div>

      <!-- <select name="" id="" style="background-color: #fff;color: #000;border: 2px solid #6359CA; padding: 6px 34px;">
        <option value="">All</option>
        <option value="">ANDAR BAHAR</option>
        <option value="">Roulette</option>
        <option value="">BLACKJACK</option>
        <option value="">BACCARAT</option>
        <option value="">Teenpatti</option>
        <option value="">Lucky 7</option>
        <option value="">Dragon Tiger</option>
        <option value="">Card Game</option>
        <option value="">Others</option>

        

      </select> -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton11" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #fff  !important;color: #000;border: 2px solid #6359CA; padding: 6px 34px;">
          1 - 10
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton11">
          <li><a class="dropdown-item" href="">10</a></li>
          <li><a class="dropdown-item active" href="">25</a></li>
          <li><a class="dropdown-item" href="">50</a></li>
          <li><a class="dropdown-item" href="">100</a></li>

          
        </ul>
      </div>
    </div>
    <div class="row" style="padding:10px 0px">

        <div class="cms">
            <div class="cms-data">
              <section style="padding: 15px 0px;">
                
                <div class="row" style="background-color: #fff;padding: 15px 0px;border-radius: 10px;margin: auto;">
                
              <section class="">
                <div class="">
                  <div class="table_data_details_ col-lg-12">
                  
                  
                          <table>
                            <thead>
                              
                                  <tr style="text-align: center;font-size: 11px;">
                                  <th>Providerid</th>
                                  <th>Type</th>
                                  <th>Name</th>
                                  <th>Image</th>
                                  <th>Actions</th>
                                  
              
                                    
              
                              
            
                                </tr>
                            </thead>
                            <tbody class="new-body" style="font-size: 11px;">
                              <tr style="text-align: center;" class="blue">
                                <td>Vivo</td>
                                <td>Roulette </td>
                                <td>MORGANA</td>
                                <td><img src="../images/game1.png" alt=""></td>
                                <td><i class="fa-solid fa-trash-can"></i></td>
                              </tr>
                              <tr style="text-align: center;">
                                <td>Vivo</td>
                                <td>Roulette </td>
                                <td>MORGANA</td>
                                <td><img src="../images/game1.png" alt=""></td>
                                <td><i class="fa-solid fa-trash-can"></i></td>
                              </tr>
                              <tr style="text-align: center;" class="blue">
                                <td>Vivo</td>
                                <td>Roulette </td>
                                <td>MORGANA</td>
                                <td><img src="../images/game1.png" alt=""></td>
                                <td><i class="fa-solid fa-trash-can"></i></td>
                              </tr>
                              <tr style="text-align: center;">
                                <td>Vivo</td>
                                <td>Roulette </td>
                                <td>MORGANA</td>
                                <td><img src="../images/game1.png" alt=""></td>
                                <td><i class="fa-solid fa-trash-can"></i></td>
                              </tr>
                              <tr style="text-align: center;" class="blue">
                                <td>Vivo</td>
                                <td>Roulette </td>
                                <td>MORGANA</td>
                                <td><img src="../images/game1.png" alt=""></td>
                                <td><i class="fa-solid fa-trash-can"></i></td>
                              </tr>
                              <tr style="text-align: center;">
                                <td>Vivo</td>
                                <td>Roulette </td>
                                <td>MORGANA</td>
                                <td><img src="../images/game1.png" alt=""></td>
                                <td><i class="fa-solid fa-trash-can"></i></td>
                              </tr>
                              <tr style="text-align: center;" class="blue">
                                <td>Vivo</td>
                                <td>Roulette </td>
                                <td>MORGANA</td>
                                <td><img src="../images/game1.png" alt=""></td>
                                <td><i class="fa-solid fa-trash-can"></i></td>
                              </tr>
                             
                            </tbody>
                          </table>
                          </div>
                        </div>
            
                        </div>
                        </section>
              
              
                        
                  
            </div>
            <div class="cms-data">
            <section style="padding: 15px 0px;">
              <div class="row" style="background-color: #fff;padding: 15px 0px;border-radius: 10px;">
              
            <section class="">
              <div class="">
                <div class="table_data_details_ col-lg-12">
                  
                  <!-- <div class="spcare-table_">
                        <div class="hed-data">
                          <h3 class="fix-h3"><img src="../images/tp.png" alt=""> &nbsp; Top Player</h3>
                          
                      </div> -->
                        <table>
                          <thead>
                            
                                <tr style="text-align: center;font-size: 11px;">
                                <th >Providerid</th>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Actions</th>
                                
            
                                  
            
                            
          
                              </tr>
                          </thead>
                          <tbody class="new-body" style="font-size: 11px;">
                            <tr style="text-align: center;" class="blue">
                              <td>Vivo</td>
                              <td>Roulette </td>
                              <td>MORGANA</td>
                              <td><img src="../images/game1.png" alt=""></td>
                              <td><i class="fa-solid fa-trash-can"></i></td>
                            </tr>
                            <tr style="text-align: center;">
                              <td>Vivo</td>
                              <td>Roulette </td>
                              <td>MORGANA</td>
                              <td><img src="../images/game1.png" alt=""></td>
                              <td><i class="fa-solid fa-trash-can"></i></td>
                            </tr>
                            <tr style="text-align: center;" class="blue">
                              <td>Vivo</td>
                              <td>Roulette </td>
                              <td>MORGANA</td>
                              <td><img src="../images/game1.png" alt=""></td>
                              <td><i class="fa-solid fa-trash-can"></i></td>
                            </tr>
                            <tr style="text-align: center;">
                              <td>Vivo</td>
                              <td>Roulette </td>
                              <td>MORGANA</td>
                              <td><img src="../images/game1.png" alt=""></td>
                              <td><i class="fa-solid fa-trash-can"></i></td>
                            </tr>
                            <tr style="text-align: center;" class="blue">
                              <td>Vivo</td>
                              <td>Roulette </td>
                              <td>MORGANA</td>
                              <td><img src="../images/game1.png" alt=""></td>
                              <td><i class="fa-solid fa-trash-can"></i></td>
                            </tr>
                            <tr style="text-align: center;">
                              <td>Vivo</td>
                              <td>Roulette </td>
                              <td>MORGANA</td>
                              <td><img src="../images/game1.png" alt=""></td>
                              <td><i class="fa-solid fa-trash-can"></i></td>
                            </tr>
                            <tr style="text-align: center;" class="blue">
                              <td>Vivo</td>
                              <td>Roulette </td>
                              <td>MORGANA</td>
                              <td><img src="../images/game1.png" alt=""></td>
                              <td><i class="fa-solid fa-trash-can"></i></td>
                            </tr>
                           
                          </tbody>
                        </table>
                        </div>
                      </div>
          
                      </div>
                      </section>
            
            
                        
                
        </div>
    </div>
  </div>
</div>