    
    <div class="">
      
      <div class="table_data_details_ col-lg-12" style="">
          <table>
            <thead>
                <tr style="font-size: 11px;">
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th colspan="2"></th>
                  <th></th>
                </tr>
            </thead>
            <tbody class="new-body" style="font-size: 11px;">
              <tr class="blue">
                <td><img src="../images/game1.png" alt=""></td>
                <td></td>
                <td></td>
                <td><button class="btn-filter" data-bs-toggle="modal" data-bs-target="#adduser">Add &nbsp; <i class="fa-solid fa-plus"></i></button></td>
                <td></td>
                <td></td>
                <td><i class="fa-solid fa-trash-can"></i></td>
                <td><i class="fa-regular fa-pen-to-square"></td>
              </tr>
              <tr style="">
                <td>Mobile First Page Slider</td>
                <td> </td>
                <td></td>
                <td><button class="btn-filter" data-bs-toggle="modal" data-bs-target="#adduser">Add &nbsp; <i class="fa-solid fa-plus"></i></button></td>
                <td></td>
                <td></td>

                <td><i class="fa-solid fa-trash-can"></i></td>
                <td><i class="fa-regular fa-pen-to-square"></td>
              </tr>
              <tr style="" class="blue">
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-filter" data-bs-toggle="modal" data-bs-target="#adduser">Add &nbsp; <i class="fa-solid fa-plus"></i></button></td>
                <td></td>
                <td></td>

                <td><i class="fa-solid fa-trash-can"></i></td>
                <td><i class="fa-regular fa-pen-to-square"></td>
              </tr>
              <tr style="">
                <td><img src="../images/game1.png" alt=""></td>
                <td>Even Bet Poker  </td>
                <td>Even Bet  Lobby</td>
                <td><button class="btn-filter" data-bs-toggle="modal" data-bs-target="#adduser">Add &nbsp; <i class="fa-solid fa-plus"></i></button></td>
                <td>Poker</td>
                <td><img src="../images/game1.png" alt=""></td>
                

                <td><i class="fa-solid fa-trash-can"></i></td>
                <td><i class="fa-regular fa-pen-to-square"></td>
              </tr>
              <tr style="" class="blue">
                <td>Mobile First Page Slider</td>
                <td></td>
                <td></td>
                <td><button class="btn-filter" data-bs-toggle="modal" data-bs-target="#adduser">Add &nbsp; <i class="fa-solid fa-plus"></i></button></td>
                <td></td>
                <td></td>

                <td><i class="fa-solid fa-trash-can"></i></td>
                <td><i class="fa-regular fa-pen-to-square"></td>
              </tr>
            
            </tbody>
          </table>
        </div>
      </div>
   
    </div>
  </section>

</div>
</div>
</div>