<div id="FOOTBALL" class="tabcontent" style="margin-bottom:15px;">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #fff  !important;color: #000;border: 2px solid #6359CA; padding: 6px 34px;">
        Slider Management
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item active" href="/cms">Slider Management</a></li>
        <li><a class="dropdown-item" href="/">Live-casino Gamelist</a></li>
        <li><a class="dropdown-item" href="/">Casino Gamelist</a></li>
        <li><a class="dropdown-item" href="/">vitual Sports</a></li>
        <li><a class="dropdown-item" href="/">Poker</a></li>
        <li><a class="dropdown-item" href="/">Animal Gamelist</a></li>
        <li><a class="dropdown-item" href="/firstpage">FirstPageManager</a></li>
        <li><a class="dropdown-item" href="/menumanager">Menu Manager</a></li>
        <li><a class="dropdown-item" href="/userprofile">User Profile Manager</a></li>
        <li><a class="dropdown-item" href="/">Fp-GL-Setting</a></li>
        <li><a class="dropdown-item" href="/FpGLSetting">Fp-GL-setting(casino)</a></li>
        <li><a class="dropdown-item" href="/profilemenu">profile-menu</a></li>
        <li><a class="dropdown-item" href="/typemanager">TypeManager</a></li>
        <li><a class="dropdown-item" href="/playermenu">Profile-menu by Player</a></li>
        <li><a class="dropdown-item" href="/middalemenu">Middle Menu</a></li>
        <li><a class="dropdown-item" href="/">SSEXCH</a></li>
        <li><a class="dropdown-item" href="/">AndHar Bahar</a></li>
        <li><a class="dropdown-item" href="/gallary">Gallery</a></li>
        <li><a class="dropdown-item" href="/">Hourse Race</a></li>
        <li><a class="dropdown-item" href="/">Teen Patti</a></li>
        <li><a class="dropdown-item" href="/">Cricket</a></li>
        <li><a class="dropdown-item" href="/">Sportsbook</a></li>
        <li><a class="dropdown-item" href="/">Lottery Game list</a></li>

        
      </ul>
    </div>
    <br>
    <div class="row" style="padding:10px 0px;background-color: #ffff;border-radius: 10px;">
      <div class="container-fluid">
      <section class="" >
        
        <div class="">
          
          <div class="table_data_details_ col-lg-12" style="">
              <table>
                <thead>
                    <tr style="font-size: 11px;">
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th colspan="2"></th>
                      <th></th>
                    </tr>
                </thead>
                <tbody class="new-body" style="font-size: 11px;">
                  <tr style="" class="blue">
                    <td><img src="../images/game1.png" alt=""></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn-filter" data-bs-toggle="modal" data-bs-target="#adduser">Add &nbsp; <i class="fa-solid fa-plus"></i></button></td>
                    <td></td>
                    <td></td>
                    <td><i class="fa-solid fa-trash-can"></i></td>
                    <td><i class="fa-regular fa-pen-to-square"></td>
                  </tr>
                  <tr style="">
                    <td>Mobile First Page Slider</td>
                    <td> </td>
                    <td></td>
                    <td><button class="btn-filter" data-bs-toggle="modal" data-bs-target="#adduser">Add &nbsp; <i class="fa-solid fa-plus"></i></button></td>
                    <td></td>
                    <td></td>

                    <td><i class="fa-solid fa-trash-can"></i></td>
                    <td><i class="fa-regular fa-pen-to-square"></td>
                  </tr>
                  <tr style="" class="blue">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn-filter" data-bs-toggle="modal" data-bs-target="#adduser">Add &nbsp; <i class="fa-solid fa-plus"></i></button></td>
                    <td></td>
                    <td></td>

                    <td><i class="fa-solid fa-trash-can"></i></td>
                    <td><i class="fa-regular fa-pen-to-square"></td>
                  </tr>
                  <tr style="">
                    <td><img src="../images/game1.png" alt=""></td>
                    <td>Even Bet Poker  </td>
                    <td>Even Bet  Lobby</td>
                    <td><button class="btn-filter" data-bs-toggle="modal" data-bs-target="#adduser">Add &nbsp; <i class="fa-solid fa-plus"></i></button></td>
                    <td>Poker</td>
                    <td><img src="../images/game1.png" alt=""></td>
                    

                    <td><i class="fa-solid fa-trash-can"></i></td>
                    <td><i class="fa-regular fa-pen-to-square"></td>
                  </tr>
                  <tr style="" class="blue">
                    <td>Mobile First Page Slider</td>
                    <td></td>
                    <td></td>
                    <td><button class="btn-filter" data-bs-toggle="modal" data-bs-target="#adduser">Add &nbsp; <i class="fa-solid fa-plus"></i></button></td>
                    <td></td>
                    <td></td>

                    <td><i class="fa-solid fa-trash-can"></i></td>
                    <td><i class="fa-regular fa-pen-to-square"></td>
                  </tr>
                
                </tbody>
              </table>
            </div>
          </div>
       
        </div>
      </section>
    
</div>
</div>
</div>