<div id="FOOTBALL" class="tabcontent" style="margin-bottom:15px;">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #fff  !important;color: #000;border: 2px solid #6359CA; padding: 6px 34px;">
        Home Page Manager
      </button>
      <%- include("../dropdownManager")%>
    </div>
    <br>
    <div class="row" style="padding:10px 0px;background-color: #ffff;border-radius: 10px;">
        <div class="container-fluid" id="verticalMenuManager"> 
            <section class="verticalMenuManager" >
                <div class="new-head">
                    <h3 style="font-weight: 700;font-size: 24px;">Vertical Menu Management</h3>
                </div>
            </section>
        </div>
    </div>
</div>