/* MOBILE DEVICE  */
@media (min-width: 360px) and (max-width: 767px){

    .my-nav-togl-btnn>span{
        color: var(--color3);
    }

    .my-nav-togl-btnn{
        border: none;
    }

    .my-nav-togl-btnn:focus{
        box-shadow: 0px 0px 10px var(--color3);
    }

    .my-nav-ul{
        border-radius: 10px;
        width: fit-content;
    }

    .my-nav-ul-dv{
        padding-bottom: 10px;
    }

    .nav-login-regstr-btn-dv{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ---------- HOME PAGE ----------  */
    
    .logo-col-dv{
        width: fit-content;
    }

    .my-navbrand{
        margin-right: 0px;
    }

    .bg-elemnt-dv{
        display: none;
    }

    .sidebar-main-sec{
        transform: translateX(-80px);
        transition: all 0.3s ease-in-out;
    }

    .mob-sidevar-mnu-btn-dv{
        display: block;
        position: relative;
    }

    .mob-offcanvas-mnu{
        padding: 10px;
        color: var(--color3);
        font-size: 20px;
    }

    .mob-sidevar-mnu-offset-body{
        position: absolute;
        top: 45px;
        left: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-120px);
        transition: all 0.3s ease-in-out;
    }

    .mob-sidevar-mnu-offset-mnu-wrp{
        width: 120px;
        background-color: var(--color5);
        padding: 10px 0px;
        border-radius: 0px 15px 15px 0px;
        z-index: 10;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: -5px;
    }

    /* .mob-sidevar-mnu-offset-body::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #02020269;
        z-index: 1;
    } */

    .overlay-offset-mnu{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #02020269;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        /* transform: translateX(-120); */
    }

    .overlay-offset-mnu-on{
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }

    .featured-sec{
        padding: 1em 0em;
    }

    .our-casino-sec{
        padding-bottom: 1em;
    }
    
    .royalgaming-sec{
        padding-bottom: 1em;
    }
    
    .explore-sec{
        padding-bottom: 1em;
    }
    
    .services-sec{
        padding-bottom: 1em;
    }

    .footer-sec{
        padding-bottom: 1em;
        padding-top: 0px;
    }

    .mob-sidevar-mnu-offset-mnu-clos-btn-dv{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .mob-sidevar-mnu-offset-mnu-clos-btn-dv>span{
        display: inline-flex;
        padding: 7px 14px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: var(--color1);
        font-size: 10px;
        color: var(--color3);
        text-align: center;
    }

    .mbl-login-reg-btnn-dv{
        display: block;
    }

    .mbl-login-reg-btnn-dv-a{
        display: inline-flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 30px;
        background: #FFF;
        font-size: 10px;
        border: none;
    }

    .featured-sec-ro--titl-txt-tg{
        font-size: 20px;
    }

    .featured-sec-ro--titl-brows-all-btn{
        font-size: 12px;
    }

    .mbl-featured-sec-slide-ro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    
    .featured-sec-slide-ro{
        display: none;
    }

    .diss-no{
        display: none;
    }

    .featured-sec-card-col-img-dv{
        padding: 0px;
    }

    .explore-sec-col1-bg {
        padding: 2em 1em;
    }

    .explore-sec-col1-bg>h4{
        font-size: 18px;
    }

    .explore-sec-col-innro-col2{
        padding-left: 0px;
    }

    .explore-sec-col-innro-col{
        padding-right: 0px;
        padding-bottom: 10px;
    }

    .services-sec-card-ro{
        gap: 10px;
    }

    .pad-r-10{
        padding-right: 0px;
    }

    .pad-l-10 {
        padding-left: 0px;
    }

    .services-sec-card-wrp{
        padding: 2em 1em;
    }

    .footer-sec--payment-ro-wrp{
        padding: 0px 10px;
    }

    .mbl-botm-mnu-sec{
        display: inline-flex;
        position: fixed;
        bottom: 0;
        z-index: 999;
        width: 100%;
        background-color: var(--color3);
        /* border-radius: 40px 40px 0px 0px; */
    }

    .mbl-botm-mnu-sec-contnr{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: var(--color3);
        position: relative;
        
    }

    .mbl-botm-mnu-sec-wrp{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0px;
    }

    .mbl-botm-mnu-sec-wrp>span{
        text-align: center;
    }

    .mzin-mnu-botom{
        padding: 10px 10px;
        border-radius: 40px;
        background-color: var(--color2);
        position: relative;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .mbl-botm-mnu-wrp-dv{
        /* position: absolute;
        bottom: -350px;
        left: 50%;
        transform: translate(-50%); */
        display: block;
        transition: all 0.3s ease-in-out;
    }

    .mbl-botm-mnu-wrp-dv-txt{
        padding: 10px 20px;
        background-color: var(--color3);
        border-radius: 20px;
        width: fit-content;
    }

    .mbl-botm-mnu-wrp-dv-txt>ul{
        list-style: none;
        padding-left: 0px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 0px;
        border-radius: 20px;
    }

    .mbl-botm-mnu-wrp-dv-txt>ul>li>a{
        padding: 2px 10px;
    }

    .botom-mnu-active{
        background-color: var(--color2);
        color: var(--color3);
        border-radius: 30px;
    }

    .botom-mnu-wrp{
        bottom: 20%;
        transform: translate(-50%, -20%);
        transition: all 0.3s ease-in-out;
    }

    .my-off-canvas-botm-mnu{
        bottom: 100px;
        height: fit-content !important;
        background-color: transparent;
    }

    .my-offcanvas-body{
        padding: 0px;
    }

    .mbl-botm-mnu-wrp-dv-inn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mbl-botom-mnu-spacer{
        padding: 2em 0em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px 40px 0px 0px;
    }

    /* ---------- HOME PAGE MODEL ----------  */
    .myloginmodl-body-txt-ro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .mymodelloginimg{
        display: none;
    }

    .mymodelloginimg-mbl{
        display: block;
    }

    /* ---------- HOME PAGE MODEL ----------  */

    /* ---------- HOME PAGE ----------  */


    /* ---------- CARDS PAGE ----------  */

    .cards-pg-sec{
        padding: 1em 0em;
    }

    /* ---------- CARDS PAGE ----------  */


    /* ---------- ROYAL CASINO PAGE ----------  */
    .royal-cassino-pg-sec{
        padding: 1em 0em;
    }
    /* ---------- ROYAL CASINO PAGE ----------  */
    
    
    /* ---------- OTHER GAMES PAGE ----------  */
    .other-games-pg-content-sec{
        padding: 1em 0em;
    }
    /* ---------- OTHER GAMES PAGE ----------  */


    /* ---------- LIVE CASINO PAGE ----------  */
    .live-casino-pg-sec{
        padding: 0em 0em;
    }

    .live-casino-tab-sec{
        padding: 1em 0em;
    }

    .liv-casino-nav-tabcol{
        overflow-x: scroll;
        margin-bottom: 10px;
    }

    .liv-casino-nav-tab-ul{
        background-color: var(--color3);
        margin-bottom: 0px;
        display: flex;
        flex-wrap: nowrap;
        width: max-content;
    }

    /* ---------- LIVE CASINO PAGE ----------  */

    /* ---------- EXCHANGE PAGE PAGE ----------  */
    .exchange-pg-main-col-ro{
        flex-direction: column-reverse;
    }

    .mob-dis-no{
        display: none;
    }

    .exchange-pg-main-col-mini{
        position: relative;
        top: 0;
        padding-bottom: 10px;
    }

    .exchange-pg-main-col-big{
        padding-right: 0px;
    }

    .nav2menu-dv{
        padding-top: 20px;
        display: block;
    }

    .nav2menu-dv-wrp{
        display: flex;
        align-items: center;
        overflow-x: scroll;
    }

    .nav2menu-dv-wrp2{
        display: flex;
        align-items: center;
        gap: 30px;
        width: max-content;
    }

    .nav2menu-item{
        text-align: center;
        width: max-content;
    }

    .nav2menu-item>img{
        padding: 5px 5px;
        background-color: var(--color2);
        border-radius: 30px;
    }

    .nav2menu-item>p{
        margin-bottom: 0;
        font-size: 13px;
        color: var(--color4);
    }

    /* ---------- EXCHANGE PAGE PAGE ----------  */


    /* ---------- sports book PAGE PAGE ----------  */
    .spots-bok-tbl-td-datadv1-inn2{
        width: max-content;
    }
    .spots-bok-tbl-td-datadv1-inn{
        width: max-content;
    }
    .spots-bok-tbl-td-datadv2{
        width: max-content;
    }

    .spots-bok-inn-inply-col2{
        position: relative;
        padding-bottom: 10px;
    }

    .spots-bok-inn-inply-ro{
        flex-direction: column-reverse;
    }

    .spots-bok-inn-inply-col{
        padding-right: 0px;
    }

    /* ---------- sports book PAGE PAGE ----------  */

}

@media (min-width: 360px) and (max-width: 991px){
    


}

@media (min-width: 360px) and (max-width: 991px){
    .sidebar-main-sec {
        transform: translateX(-80px);
        transition: all 0.3s ease-in-out;
    }

    .mob-sidevar-mnu-btn-dv {
        display: block;
    }
}

@media (min-width: 767px){
    .nav2menu-dv{
        padding-top: 20px;
        display: none;
    }

    .exchange-pg-rit-rombl{
        display: none;
    }

    .mbl-exchange-pg-main-col-mini{
        display: block;
    }
    
    .mbl-see-no-exchange-pg-inn-banner-col{
        display: block;
    }

    .mbl-exc-inn-tab-dv{
        display: none
    }

    .exchange-pg-inn-banner-col2{
        display: block;
    }

    .mbl-exc-inn-tab-dv-main{
        display: none;
    }

    /* ---------- HOME PAGE ----------  */
    .hiro-banner-sec{
        display: flex;
    }

    .mbl-hiro-banner{
        display: none;
    }

    .hiro-nanner-sec-slide-ro{
        display: none;
    }
    /* ---------- HOME PAGE ----------  */

    /* ---------- EXCHANGE PAGE ----------  */
    .exch-pg-mob-sec-main{
        display: none;
    }
    /* ---------- EXCHANGE PAGE ----------  */

    /* ---------- binary PAGE ----------  */
    .binary-page-mob-data-main{
        display: none;
    }
    /* ---------- binary PAGE ----------  */

    /* ---------- SPORTS BOOK PAGE ----------  */
    .mbl-spotd-book-wrp{
        display: none;
    }
    /* ---------- SPORTS BOOK PAGE ----------  */

    

}

@media only screen and (max-width: 767px){

    /* ---------- HOME PAGE ----------  */
    .liv-casino-nav-serchcol{
        overflow-x: scroll;
    }

    .exchange-pg-tranding-maches-nav-sec-wrp{
        width: max-content;
    }
    
    .exchange-pg-tranding-maches-nav-sec-wrp>a{
        width: max-content;
    }

    .featured-sec-card-col-img-dv {
        padding: 5px;
    }

    .liv-casino-nav-tabcol{
        width: 100%;
    }
    
    .home-ro2-spots-casino-btns{
        width: 100%;
    }

    .home-ro2-spots-casino-btns1{
        flex: 1;
    }
    
    .home-ro2-spots-casino-btns2{
        flex: 1;
    }

    .mbl-login-reg-btnn-dv {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .mbl-login-reg-btnn-dv {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: auto;
    } 

    .sidebar-main-sec{
        top: 8%;
    }

    /* ---------- HOME PAGE ----------  */

    /* ---------- exchange PAGE ----------  */
    .exch-mob-data-tbl-ro{
        padding: 10px 10px;
        background-color: var(--color3);
        border: 1px solid var(--color8);
        border-radius: 30px;
        margin-top: 10px;
    }

    .exch-mob-data-tbl-ro-titl{
        padding: 8px 10px;
        background: var(--color1);
        border-radius: 30px;
    }

    .exch-mob-data-tbl-ro-titl>h6{
        margin-bottom: 0px;
        color: var(--color3);
    }

    .exch-mob-data-tbl-card-wrp{
        padding: 10px 0px;
        border-bottom: 2px solid var(--color5);
    }

    .exch-mob-data-tbl-card-ro{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        width: 100%;
    }

    .exch-mob-data-tbl-card-wrp-a{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .exch-mob-data-tbl-card-dv>p{
        margin-bottom: 0px;
        font-size: 13px;
    }

    .exch-mob-data-tbl-card-dv2{
        display: flex;
        align-items: end;
        gap: 5px;
    }

    .exch-mob-data-tbl-card-dv2-spns>p{
        margin-bottom: 0px;
        line-height: 1.5;
    }

    .exch-mob-data-tbl-card-dv2-spns>span{
        background-color: var(--color2);
        color: var(--color3);
        height: 18px;
        width: 20px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
    }

    .exch-mob-data-tbl-card-dv2-spns>a{
        text-decoration: none;
        display: inline-flex;
    }

    .exch-mob-data-tbl-card-dv2-spns>button{
        border: none;
        background-color: transparent;
    }

    .exch-mob-data-tbl-card-ro2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        width: 100%;
    }
    
    .exch-mob-data-tbl-card-ro2-dv{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .data-pink-spntg{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        background-color: var(--color10);
        border-radius: 8px;
    }
    
    .data-blu-spntg{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        background-color: var(--color9);
        border-radius: 8px;
    }

    /* ---------- exchange PAGE ----------  */

    /* ---------- exchange PAGE INNER ----------  */
    .mbl-exch-inn-top-spot-optino-dv{
        padding: 10px 0px;
        overflow-x: scroll;
    }

    .table-data{
        grid-template-columns: repeat(1, 100px 1fr);
        position: relative;
    }

    .table-data-2-inn-col{
        grid-template-columns: repeat(1 , 1fr);
    }

    .table-data-2>.table-data-2-inn{
        display: grid;
        grid-template-columns: repeat(2 , 70px);
        gap: 10px;
        padding-bottom: 5px;
    }

    .nww-bet-slip-wrp-col1{
        width: 100%;
        gap: 10px;
        flex-wrap: wrap;
    }

    .nww-bet-slip-wrp-col2-inn{
        flex-wrap: wrap;
        justify-content: start;
    }

    .nww-bet-slip-wrp-col2-inn>span{
        font-size: 10px;
    }

    .my-exc-inn-colaps-txt-dv {
        margin: 0px 2px;
        position: relative;
    }
    
    .my-exc-inn-colaps-txt-body{
        width: 100%;
        padding: 10px 10px;
    }

    .nww-bet-slip-wrp-col1-txt{
        font-size: 12px;
    }

    .nww-bet-slip-wrp-col1-txt-icons{
        font-size: 12px;
    }
    
    .nww-bet-slip-wrp-col1-txt-num{
        font-size: 12px;
    }

    .nww-bet-slip-wrp-col1-txt-inn>.set-stake-form-input2{
        width: 80px;
    }

    /* ---------- exchange PAGE INNER ----------  */

    /* ---------- LIVE CASINO PAGE INNER ----------  */
    .mob-exchange-pg-main-col-ro{
        flex-direction: column;
    }

    .liv-casino-txt-ro-contnr{
        margin-bottom: 10px;
    }

    /* ---------- LIVE CASINO PAGE INNER ----------  */


    /* ---------- LOGEDINN INDEX PAGE INNER ----------  */
    .bet-blns-nav-wrp-amount-num>span{
        font-size: 10px;
    }

    .nav-login-regstr-btn-dv{
        gap: 5px;
    }

    .nav-login-regstr-btn{
        padding: 5px 5px;
    }

    /* ---------- LOGEDINN INDEX PAGE INNER ----------  */


    /* ---------- LOGEDINN SPORTS BOOK PAGE ----------  */
    .mbl-spotd-book-wrp{
        display: block;
    }
    /* ---------- LOGEDINN SPORTS BOOK PAGE ----------  */


    /* ---------- LOGEDINN SPORTS BOOK PAGE INNER ----------  */
    .mbl-spotd-book-walet-nav{
        padding-top: 10px;
    }

    .acount-stat-ro-titl{
        flex-wrap: nowrap;
        overflow-x: scroll;
        border-radius: 15px;
        padding: 10px 10px;
    }

    .featured-sec-ro--titl-txt{
        width: max-content;
    }
    
    .featured-sec-ro--titl-txt-tg2{
        width: max-content;
    }
    
    .acount-stat-ro-titlselect-dv2{
        width: max-content;
    }
    
    .sport-bok-mywalet-dv{
        width: max-content;
    }
    
    .sport-bok-mywalet-dv>span{
        width: max-content;
    }
    
    .acount-stat-ro-titl-form-btnn{
        width: max-content;
    }

    .mbl-spotd-book-card-wrp-col{
        padding: 10px;
        border-bottom: 2px solid var(--color5);
    }

    .mbl-spotd-book-card-wrp-col-a>p{
        margin-bottom: 0;
        font-size: 13px;
        padding-bottom: 10px;
    }

    .mbl-spotd-book-card-wrp-col-inn{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mbl-spotd-book-card-wrp-col-inndv>h6{
        margin-bottom: 0px;
        font-weight: 600;
    }

    .mbl-spotd-book-card-wrp-col-inndv>p{
        font-size: 13px;
    }

    .mbl-spotd-book-card-wrp-col-inndv2{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mbl-spotd-book-card-wrp-col-inndv2-inn{
        font-size: 13px;
        text-align: center;
    }

    .mbl-spotd-book-card-wrp-col-inndv2-inn>h6{
        font-weight: 600;
        color: var(--color2);
    }

    .mbl-spotd-book-card-wrp-col-inndv2-inn>span{
        height: 30px;
        width: 80px;
        background-color: var(--color7);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ---------- LOGEDINN SPORTS BOOK PAGE INNER ----------  */

    /* ---------- LOGEDINN SPORTS BOOK INNER PAGE INNER ----------  */
    .sports-bokinn-data-main{
        padding-top: 10px;
    }

    .sports-bokinn-data-main-ro{
        padding: 10px 10px;
        background-color: var(--color3);
        border: 1px solid var(--color8);
        border-radius: 30px;
    }

    .sports-bokinn-data-main-titl{
        padding: 10px 10px;
        border-radius: 15px;
        background: var(--color1);
        overflow-x: scroll;
    }

    .sports-bokinn-data-main-titl>h6{
        margin-bottom: 0px;
        color: var(--color3);
        width: max-content;
    }

    .sports-bokinn-data-tabdv{
        padding-top: 10px;
    }

    .sports-bokinn-data-tabul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sports-bokinn-data-tabli>button{
        font-size: 13px;
        padding: 5px 15px;
        color: var(--color4);
        background-color: var(--color5);
    }

    .sports-bokinn-data-tabli>.active{
        background: var(--color1);
    }

    .titl-bodr-lft-spn2{
        height: 20px;
        width: 5px;
    }

    .featured-sec-ro--titl-txt-tg2{
        font-size: 20px;
    }

    /* ---------- LOGEDINN SPORTS BOOK INNER PAGE INNER ----------  */

    /* ---------- LOGEDINN PROFILE PAGE INNER ----------  */
    .profile-pg-contnt-wrp{
        padding-top: 10px;
    }

    .profile-pg-contnt-ro{
        padding: 10px 10px;
        border-radius: 30px;
        background-color: var(--color3);
        border: 1px solid var(--color5);
    }

    .profile-pg-contnt-txt{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .profile-pg-contnt-txt-inn{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .profile-pg-contnt-txt-inn-a{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        padding: 5px;
        border-bottom: 1px solid var(--color5);
    }
    
    .profile-pg-contnt-txt-inntxt1{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .profile-pg-contnt-txt-inntxt1>span{
        height: 30px;
        width: 30px;
        border-radius: 40px;
        background-color: var(--color7);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-pg-contnt-txt-inntxt1>h6{
        margin-bottom: 0px;
        font-size: 15px;
    }

    .profile-pg-contnt-txt-inntxt1>i{
        margin-left: auto;
        color: var(--color2);
        font-size: 15px;
        font-weight: 600;
    }

    /* ---------- LOGEDINN PROFILE PAGE INNER ----------  */


    /* ---------- LOGEDINN ACCOUNT STATMENT PAGE INNER ----------  */
    .mbll-acount-stat-ro-titl{
        flex-wrap: wrap;
    }

    /* ---------- LOGEDINN ACCOUNT STATMENT PAGE INNER ----------  */

    /* ---------- LOGEDINN P/L STATMENT PAGE INNER ----------  */
    .acount-stat-ro-titl-form-btnn-nww{
        width: 100%;
    }

    /* ---------- LOGEDINN P/L STATMENT PAGE INNER ----------  */


    /* ---------- BINARY PAGE  ----------  */
    .binary-page-mob-data-main{
        display: block;
    }

    .binary-page-mob-data-contnr{
        padding-top: 10px;
    }

    .binary-mob-data-card-ro{
        padding: 10px 10px;
        background-color: var(--color3);
        border: 1px solid var(--color8);
        border-radius: 30px;
        margin-bottom: 10px;
    }

    .abinary-mob-dta-card-coldv{
        padding-top: 10px;
    }

    .binary-mob-data-card-tbldata{
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .binary-mob-data-card-tbldata1{
        display: flex;
        align-items: end;
        gap: 5px;
    }

    .binary-mob-data-card-tbldata1>.exch-mob-data-tbl-card-dv2-spns>p{
        text-align: center;
    }

    /* ---------- BINARY PAGE  ----------  */


    /* ---------- BINARY INNER PAGE  ----------  */
    .my-pos-rel-tr{
        position: relative;
    }

    /* ---------- BINARY INNER PAGE  ----------  */

    /* ---------- BASE BALL PAGE  ----------  */
    .exchange-pg-tranding-maches-nav-sec-innnww{
        overflow-x: scroll;
    }

    /* ---------- BASE BALL PAGE  ----------  */

    /* ---------- HORCE RIDING PAGE  ----------  */
    .exch-horce-ride-contnt-dv-a{
        gap: 25px;
    }

    /* ---------- HORCE RIDING PAGE  ----------  */

}

@media (max-width: 767px){
    .mob-sidevar-mnu-btn-dv {
        display: block;
        cursor: pointer;
    }

    .side-menu-show{
        display: block;
    }

    .nav2menu-dv{
        padding-top: 0px;
        display: block;
    }

    .mbl-exchange-pg-main-col-mini{
        display: none;
    }
    
    .mbl-see-no-exchange-pg-inn-banner-col{
        display: none;
    }

    .mbl-exc-inn-tab-dv{
        display: block;
        padding: 10px 10px;
        background-color: var(--color3);
        border: 1px solid var(--color8);
        border-radius: 30px;
    }

    .exc-pg-rit-tabdv-mbl{
        justify-content: space-between;
        gap: 10px;
    }

    .exc-pg-rit-tab-btn-mbl{
        padding: 5px 15px;
        font-size: 12px;
    }

    .exc-pg-rit-tabli-mbl>.active{
        padding: 5px 15px;
        font-size: 12px;
    }

    .exchange-pg-inn-banner-col2{
        display: none;
    }

    .titl-overflow-mbl-exc-inn{
        overflow-x: scroll;
    }

    .titl-overflow-mbl-exc-inn2{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        width: max-content;
        gap: 5px;
    }

    .exchange-pg-inn-banner-col-titi-txt-tim>h6{
        width: max-content;
    }

    .exchange-pg-inn-banner-col-titi-txt>h6{
        width: max-content;
    }

    .mbl-exc-inn-tbl-datadv{
        padding-top: 10px;
    }
    
    .mbl-exc-inn-tbl-datadv-wrp{
        display: block;
        padding: 10px 10px;
        background-color: var(--color3);
        border: 1px solid var(--color8);
        border-radius: 30px;
    }

    .exchange-pg-inn-tbl-marqq-dv-wrp{
        padding: 5px 5px;
    }

    .mbl-odt-sli-reltiv-dv{
        position: relative;
    }

    .show-bet-slip-mbl-data{
        display: block !important;
        opacity: 1 !important;
        transition: all 0.3s ease-in-out;
    }

    .mbl-odt-sli-wrp-dv{
        position: absolute;
        position: absolute;
        top: 40px;
        right: -145px;
        width: max-content;
        z-index: 999;
        display: none;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .mbl-odt-sli-wrp-dv-inn{
        position: relative;
        background-color: var(--color3);
        box-shadow: 0px 0px 2px;
        padding: 5px;
    }

    .exc-pg-rit-tabtxt-dat-ro2{
        flex-direction: column;
        justify-content: center;
    }
    
    .ecc-pg-rit-ods-data-ro{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: inline-flex;
    }

    .exc-pg-rit-tabtxt-data-stack-num-col>span{
        padding: 5px 10px;
    }

    .exc-pg-rit-tabtxt-data-stack-num-col{
        padding: 5px 5px;
    }

    .exc-pg-rit-tabtxt-data-place-bet-btndv{
        width: 100%;
    }

    .exchange-pg-inn-banner-col3{
        padding: 10px 10px;
        background-color: var(--color3);
        border: 1px solid var(--color8);
        border-radius: 30px;
        margin-top: 10px;
    }

    .exch-pg-inn-fancy-tab-ul{
        overflow-x: scroll;
    }

    .exch-pg-inn-fancy-tab-ul2-inn{
        display: flex;
        align-items: center;
        width: max-content;
    }

    .exch-pg-inn-fancy-tab-btn{
        width: max-content;
    }

    .tbl-bg-blu-spn{
        padding: 0px 10px;
        font-size: 12px;
    }
    
    .tbl-bg-pech-spn{
        padding: 0px 10px;
        font-size: 12px;
    }

    .mbl-exc-inn-tab-dv-main{
        display: block;
    }

    /* ---------- HOME PAGE ----------  */
    .hiro-banner-sec{
        display: none;
    }

    .mbl-hiro-banner{
        display: block;
    }

    .hiro-nanner-sec-slide-ro{
        padding: 8px 8px;
        z-index: 20;
        position: relative;
        display: flex;
    }

    .royalgaming-sec2{
        padding-top: 1em;
    }

    .featured-sec-ro{
        padding: 15px 15px;
    }

    /* ---------- HOME PAGE ----------  */

}

@media (min-width: 768px) and (max-width: 1152px){
    
    .my-nav-togl-btnn>span{
        color: var(--color3);
    }

    .my-nav-togl-btnn{
        border: none;
    }

    .my-nav-togl-btnn:focus{
        box-shadow: 0px 0px 10px var(--color3);
    }

    .my-nav-ul{
        border-radius: 10px;
        width: fit-content;
    }

    .my-nav-ul-dv{
        padding-bottom: 0px;
    }

    .nav-login-regstr-btn-dv{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ---------- HOME PAGE ----------  */
    
    .logo-col-dv{
        width: fit-content;
    }

    .my-navbrand{
        margin-right: 0px;
    }

    .bg-elemnt-dv{
        display: none;
    }

    /* .sidebar-main-sec{
        display: none;
    } */

    /* .mob-sidevar-mnu-btn-dv{
        display: block;
        position: relative;
    } */

    .mob-offcanvas-mnu{
        padding: 10px;
        color: var(--color3);
        font-size: 20px;
    }

    .mob-sidevar-mnu-offset-body{
        position: absolute;
        top: 45px;
        left: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-120px);
        transition: all 0.3s ease-in-out;
    }

    .mob-sidevar-mnu-offset-mnu-wrp{
        width: 120px;
        background-color: var(--color5);
        padding: 10px 0px;
        border-radius: 0px 15px 15px 0px;
        z-index: 10;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: -5px;
    }

    /* .mob-sidevar-mnu-offset-body::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #02020269;
        z-index: 1;
    } */

    .overlay-offset-mnu{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #02020269;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        /* transform: translateX(-120); */
    }

    .overlay-offset-mnu-on{
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }

    .featured-sec{
        padding: 1em 0em;
    }

    .our-casino-sec{
        padding-bottom: 1em;
    }
    
    .royalgaming-sec{
        padding-bottom: 1em;
    }
    
    .explore-sec{
        padding-bottom: 1em;
    }
    
    .services-sec{
        padding-bottom: 1em;
    }

    .footer-sec{
        padding-bottom: 1em;
        padding-top: 0px;
    }

    .mob-sidevar-mnu-offset-mnu-clos-btn-dv{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .mob-sidevar-mnu-offset-mnu-clos-btn-dv>span{
        display: inline-flex;
        padding: 7px 14px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: var(--color1);
        font-size: 10px;
        color: var(--color3);
        text-align: center;
    }

    .mbl-login-reg-btnn-dv{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .mbl-login-reg-btnn-dv-a{
        display: inline-flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 30px;
        background: #FFF;
        font-size: 10px;
        border: none;
    }

    .featured-sec-ro--titl-txt-tg{
        font-size: 20px;
    }

    .featured-sec-ro--titl-brows-all-btn{
        font-size: 12px;
    }

    .mbl-featured-sec-slide-ro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    
    .featured-sec-slide-ro{
        display: block;
    }

    .diss-no{
        display: none;
    }

    .featured-sec-card-col-img-dv{
        padding: 5px;
    }

    .explore-sec-col1-bg {
        padding: 2em 1em;
    }

    .explore-sec-col1-bg>h4{
        font-size: 18px;
    }

    .explore-sec-col-innro-col2{
        padding-left: 0px;
    }

    .explore-sec-col-innro-col{
        padding-right: 0px;
        padding-bottom: 10px;
    }

    .services-sec-card-ro{
        gap: 10px;
    }

    .pad-r-10{
        padding-right: 0px;
    }

    .pad-l-10 {
        padding-left: 0px;
    }

    .services-sec-card-wrp{
        padding: 2em 1em;
    }

    .footer-sec--payment-ro-wrp{
        padding: 0px 10px;
    }

    .mbl-botm-mnu-sec{
        display: inline-flex;
        position: fixed;
        bottom: 0;
        z-index: 999;
        width: 100%;
        background-color: var(--color3);
        /* border-radius: 40px 40px 0px 0px; */
    }

    .mbl-botm-mnu-sec-contnr{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: var(--color3);
        position: relative;
        
    }

    .mbl-botm-mnu-sec-wrp{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0px;
    }

    .mbl-botm-mnu-sec-wrp>span{
        text-align: center;
    }

    .mzin-mnu-botom{
        padding: 10px 10px;
        border-radius: 40px;
        background-color: var(--color2);
        position: relative;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .mbl-botm-mnu-wrp-dv{
        /* position: absolute;
        bottom: -350px;
        left: 50%;
        transform: translate(-50%); */
        display: block;
        transition: all 0.3s ease-in-out;
    }

    .mbl-botm-mnu-wrp-dv-txt{
        padding: 10px 20px;
        background-color: var(--color3);
        border-radius: 20px;
        width: fit-content;
    }

    .mbl-botm-mnu-wrp-dv-txt>ul{
        list-style: none;
        padding-left: 0px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 0px;
        border-radius: 20px;
    }

    .mbl-botm-mnu-wrp-dv-txt>ul>li>a{
        padding: 2px 10px;
    }

    .botom-mnu-active{
        background-color: var(--color2);
        color: var(--color3);
        border-radius: 30px;
    }

    .botom-mnu-wrp{
        bottom: 20%;
        transform: translate(-50%, -20%);
        transition: all 0.3s ease-in-out;
    }

    .my-off-canvas-botm-mnu{
        bottom: 100px;
        height: fit-content !important;
        background-color: transparent;
        border: none;
    }

    .my-offcanvas-body{
        padding: 0px;
    }

    .mbl-botm-mnu-wrp-dv-inn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mbl-botom-mnu-spacer{
        padding: 2em 0em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px 40px 0px 0px;
    }

    /* ---------- HOME PAGE MODEL ----------  */
    .myloginmodl-body-txt-ro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px;
    }

    .mymodelloginimg{
        display: none;
    }

    .mymodelloginimg-mbl{
        display: block;
    }

    .liv-casino-txt-ro-aded{
        justify-content: center;
        padding-top: 10px;
    }

    /* ---------- HOME PAGE MODEL ----------  */

    /* ---------- HOME PAGE ----------  */


    /* ---------- CARDS PAGE ----------  */

    .cards-pg-sec{
        padding: 1em 0em;
    }

    /* ---------- CARDS PAGE ----------  */


    /* ---------- ROYAL CASINO PAGE ----------  */
    .royal-cassino-pg-sec{
        padding: 1em 0em;
    }
    /* ---------- ROYAL CASINO PAGE ----------  */
    
    
    /* ---------- OTHER GAMES PAGE ----------  */
    .other-games-pg-content-sec{
        padding: 1em 0em;
    }
    /* ---------- OTHER GAMES PAGE ----------  */


    /* ---------- LIVE CASINO PAGE ----------  */
    .live-casino-pg-sec{
        padding: 0em 0em;
    }

    .live-casino-tab-sec{
        padding: 1em 0em;
    }

    .exchange-pg-main-contnr{
        justify-content: center;
    }

    .exc-pg-rit-tab-btn{
        padding: 5px 10px;
        font-size: 13px;
    }
    
    .exc-pg-rit-tabli>.active{
        padding: 5px 20px;
        font-size: 13px;
    }

    /* ---------- LIVE CASINO PAGE ----------  */


    /* ---------- EXCHANGE PAGE PAGE ----------  */
    .exchange-pg-main-sec{
        justify-content: center;
    }

    .exchange-pg-inn-banner-col{
        top: 4.5%;
    }

    .exchange-pg-rit-ro-livetv-titl>h5{
        font-size: 13px;
    }

    .nav2menu-dv2{
        display: none;
    }
    
    .exchange-pg-tranding-maches-nav-sec{
        display: none;
    }

    /* ---------- EXCHANGE PAGE PAGE ----------  */

}

@media (min-width: 991px) and (max-width: 1152px){


}

@media (min-width: 1084px) and (max-width: 1300px){

    .my-nav-ul-li-a{
        font-size: 10px;
    }

    .nav-login-regstr-btn{
        font-size: 10px;
    }

}

@media (min-width: 991px) and (max-width: 1084px){

    .my-nav-ul-li-a{
        font-size: 10px;
    }

    .nav-login-regstr-btn{
        font-size: 10px;
    }

}

/* MOBILE DEVICE  */


/* TABLATE DEVICE  */

@media (min-width: 767px) and (max-width: 1100px){
    
    .my-nav-togl-btnn>span{
        color: var(--color3);
    }

    .my-nav-togl-btnn{
        border: none;
    }

    .my-nav-togl-btnn:focus{
        box-shadow: 0px 0px 10px var(--color3);
    }

    .my-nav-ul{
        border-radius: 10px;
        width: fit-content;
    }

    .my-nav-ul-dv{
        padding-bottom: 0px;
    }

    .nav-login-regstr-btn-dv{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }

}

/* TABLATE DEVICE  */


/* DESCTOP DEVICE  */

@media (min-width: 992px) and (max-width: 1152px){
    .w-100-md{
        width: 100%;
    }

    .mbl-featured-sec-card-col-dv {
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1180px){
    .mbl-login-reg-btnn-dv {
        display: none;
    }

    .mbl-botm-mnu-sec {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1125px){
    .explore-sec-col-innro-col2{
        padding: 5px;
    }

    .services-sec-card-wrp {
        padding: 1em 1em;
    }

    .mbl-featured-sec-card-col-dv {
        text-align: center;
    }
    
    .featured-sec-card-col-dv {
        text-align: center;
    }
}

/* DESCTOP DEVICE  */


/* EXTRA LARGE DESCTOP DEVICE  */

@media (min-width: 1100px) and (max-width: 1300px){

}

/* EXTRA LARGE DESCTOP DEVICE  */


/* --------------------------------------------------------------------------------------
============================ LOGGEDIN PAGE STYLE ========================================
-------------------------------------------------------------------------------------- */

@media (min-width: 360px) and (max-width: 767px){

    .my-nav-logo {
        width: 120px;
        transition: all 0.3s ease-in-out;
    }

    .my-nav-bg>.my-nav-contnr{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .acount-stat-ro2{
        overflow-x: scroll;
    }

    .acount-stat-tbl-txt-wrp{
        width: max-content;
        margin: 0 auto;
    }

    .acount-stat-tbl-hed-tr>th{
        padding: 10px 10px;
        font-size: 13px;
        font-weight: 400;
    }

    .acount-stat-tbl-body-tr>td{
        font-size: 12px;
    }

    .dropdown-menu[data-bs-popper] {
        top: 100%;
        right: 0;
        margin-top: var(--bs-dropdown-spacer);
    }

    .profile-contnt-wrper-ro {
        padding: 0px 10px;
        width: fit-content;
        flex-direction: column;
        display: inline-flex;
    }

    
}

@media (min-width: 768px) and (max-width: 1152px){

}

/* --------------------------------------------------------------------------------------
============================ LOGGEDIN PAGE STYLE ========================================
-------------------------------------------------------------------------------------- */


/* / EXCHANGE LIVE STREAM I-FREAM  / */
/* @media (min-width: 767px) and (max-width: 896px){
    .my-live-streacoldv{
        width: 500px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .my-livestrem-ifream {
        height: 270px;
        width: 100%;
    }
}

@media (min-width: 896px) and (max-width: 991px){
    .my-live-streacoldv{
        width: 500px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .my-livestrem-ifream {
        height: 270px;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1100px){
    .my-live-streacoldv {
        width: 200px;
    }

    .my-livestrem-ifream {
        height: 100px;
        width: 100%;
    }
}

@media (min-width: 1100px) and (max-width: 1200px){
    .my-live-streacoldv {
        width: 240px;
    }

    .my-livestrem-ifream {
        height: 120px;
        width: 100%;
    }
}

@media (min-width: 1200px) and (max-width: 1300px){
    .my-live-streacoldv {
        width: 260px;
    }

    .my-livestrem-ifream {
        height: 130px;
        width: 100%;
    }
}

@media (min-width: 1300px) and (max-width: 1400px){
    .my-live-streacoldv {
        width: 290px;
    }

    .my-livestrem-ifream {
        height: 150px;
        width: 100%;
    }
}

@media (min-width: 1400px) and (max-width: 1500px){
    

    .my-livestrem-ifream {
        height: 180px;
        width: 100%;
    }
}

@media (min-width: 1500px) and (max-width: 1600px){
    .my-livestrem-ifream {
        height: 190px;
        width: 100%;
    }
}

@media (min-width: 1600px) and (max-width: 1700px){
    .my-livestrem-ifream {
        height: 200px;
        width: 100%;
    }
}

@media (min-width: 1700px) and (max-width: 1800px){
    .my-livestrem-ifream {
        height: 220px;
        width: 100%;
    }
}

@media (min-width: 1800px) and (max-width: 1900px){
    .my-livestrem-ifream {
        height: 230px;
        width: 100%;
    }
}

@media (min-width: 1900px) and (max-width: 2000px){
    .my-livestrem-ifream {
        height: 240px;
        width: 100%;
    }
}

@media (min-width: 2000px) and (max-width: 2100px){
    .my-livestrem-ifream {
        height: 250px;
        width: 100%;
    }
}

@media (min-width: 2100px) and (max-width: 2200px){
    .my-livestrem-ifream {
        height: 270px;
        width: 100%;
    }
}

@media (min-width: 2200px) and (max-width: 2300px){
    .my-livestrem-ifream {
        height: 280px;
        width: 100%;
    }
}

@media (min-width: 2300px) and (max-width: 2400px){
    .my-livestrem-ifream {
        height: 290px;
        width: 100%;
    }
}

@media (min-width: 2400px) and (max-width: 2500px){
    .my-livestrem-ifream {
        height: 310px;
        width: 100%;
    }
}

@media (min-width: 2500px) and (max-width: 2600px){
    .my-livestrem-ifream {
        height: 330px;
        width: 100%;
    }
}

@media (min-width: 2600px) and (max-width: 2700px){
    .my-livestrem-ifream {
        height: 335px;
        width: 100%;
    }
}

@media (min-width: 2700px) and (max-width: 2800px){
    .my-livestrem-ifream {
        height: 350px;
        width: 100%;
    }
}

@media (min-width: 2800px) and (max-width: 2900px){
    .my-livestrem-ifream {
        height: 360px;
        width: 100%;
    }
}

@media (min-width: 2900px) and (max-width: 3000px){
    .my-livestrem-ifream {
        height: 370px;
        width: 100%;
    }
}

@media (min-width: 3000px) and (max-width: 3100px){
    .my-livestrem-ifream {
        height: 385px;
        width: 100%;
    }
}

@media (min-width: 3100px) and (max-width: 3200px){
    .my-livestrem-ifream {
        height: 395px;
        width: 100%;
    }
}

@media (min-width: 3200px) and (max-width: 3300px){
    .my-livestrem-ifream {
        height: 410px;
        width: 100%;
    }
}

@media (min-width: 3300px) and (max-width: 3400px){
    .my-livestrem-ifream {
        height: 425px;
        width: 100%;
    }
}

@media (min-width: 3400px) and (max-width: 3500px){
    .my-livestrem-ifream {
        height: 435px;
        width: 100%;
    }
}

@media (min-width: 3500px) and (max-width: 3600px){
    .my-livestrem-ifream {
        height: 445px;
        width: 100%;
    }
}

@media (min-width: 3600px) and (max-width: 3700px){
    .my-livestrem-ifream {
        height: 455px;
        width: 100%;
    }
}

@media (min-width: 3700px) and (max-width: 3800px){
    .my-livestrem-ifream {
        height: 470px;
        width: 100%;
    }
}

@media (min-width: 3800px) and (max-width: 3900px){
    .my-livestrem-ifream {
        height: 490px;
        width: 100%;
    }
}

@media (min-width: 3900px) and (max-width: 4000px){
    .my-livestrem-ifream {
        height: 500px;
        width: 100%;
    }
} */
iframe.my-livestrem-ifream { width: 100%; height: 220px; }
@media (min-width: 1921px) {
	iframe.my-livestrem-ifream { width: 100%; height: 46vh; }
}

/* / EXCHANGE LIVE STREAM I-FREAM  / */