<table>
    <thead>
        <tr style="text-align: center;font-size: 11px;">
          <th>User Name</th>
          <th>Won</th>
          <th>Lost</th>
          <th>Profit/Lost</th>
        </tr>
    </thead>
    <tbody class="new-body" style="font-size: 11px;">
        <%for(let i = 0; i < users.length; i++){%>
            <%if((i%2) == 0){%>
                <tr style="text-align: center;" class="blue">
            <%}else{%>
                <tr style="text-align: center;">
            <%}%>
            <td><%=users[i].userName%></td>
            <td><%=users[i].Won%></td>
            <td><%=users[i].Loss%></td>
            <td><%=users[i].myPL%></td>
            </tr>
        <%}%>
      
      
    </tbody>
  </table>