<table>
    <thead>
        <tr style="text-align: center;font-size: 11px;">
          <th>User Name</th>
          <th>Won</th>
          <th>Lost</th>
          <th>Profit/Lost</th>
        </tr>
    </thead>
    <tbody class="new-body" style="font-size: 11px;">
      <tr style="text-align: center;" class="blue">
        <td>bettest5</td>
        <td>Sport</td>
        <td>15</td>
        <td>10</td>
        <td style="color: #46BCAA;">5000</td>
        
      </tr>
      <tr style="text-align: center;">
        <td>bettest5</td>
        <td>Livecasino</td>
        <td>15</td>
        <td>10</td>
        <td style="color: #FE3030;">-2045</td>
      </tr>
      <tr style="text-align: center;" class="blue">
        <td>bettest5</td>
        <td>SportsBook</td>
        <td>15</td>
        <td>10</td>
        <td style="color: #FE3030;">-3510</td>
        
      </tr>
      <tr style="text-align: center;">
        <td>bettest5</td>
        <td>Indian Casion</td>
        <td>15</td>
        <td>10</td>
        <td style="color: #46BCAA;">1099</td>
      </tr>
      
    </tbody>
  </table>