<section class="our-casino-sec">
  <div class="container-fluid featured-sec-contnr">
    <div class="featured-sec-coldv col-lg-11 col-md-11 col-12">
      <div class="featured-sec-ro">
        <div class="featured-sec-ro--titl">
          <div class="featured-sec-ro--titl1">
            <div class="featured-sec-ro--titl-txt">
              <span class="titl-bodr-lft-spn"></span>
              <h3 class="featured-sec-ro--titl-txt-tg">OUR CASINO</h3>
              <!-- <span class="titl-bhind-txt-spn">featured sports</span> -->
            </div>
          </div>
          <div class="featured-sec-ro--titl2">
            <div class="featured-sec-ro--titl-brows-all-btn-dv">
              <a class="featured-sec-ro--titl-brows-all-btn" href="">BROWSE ALL</a>
            </div>
          </div>
          <div class="bg-elemnt-dv">
            <h2 class="bg-elemnt-dv-titl">OUR CASINO</h2>
            <img class="bg-elemnt-dv-img img-fluid" src="assets/img/home/ourcasino-back-element.png" alt="">
          </div>
        </div>

        <div class="ourcasino-sec-slide-ro">

          <div class="featured-sec-card-col-dv col-lg-2 col-md-2 col-6 pad-r-5 mb-2">
            <div class="featured-sec-card-col-inn">
              <div class="featured-sec-card-col-img-dv">
                <a class="ourcasino-sec-slide-a" href="#">
                  <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/our-casinoimg01.png" alt="">
                </a>
              </div>
            </div>
          </div>
          
          <div class="featured-sec-card-col-dv col-lg-2 col-md-2 col-6 pad-l-5 mb-2">
            <div class="featured-sec-card-col-inn">
              <div class="featured-sec-card-col-img-dv">
                <a class="ourcasino-sec-slide-a" href="#">
                  <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/our-casinoimg02.png" alt="">
                </a>
              </div>
            </div>
          </div>
          
          <div class="featured-sec-card-col-dv col-lg-2 col-md-2 col-6 pad-r-5">
            <div class="featured-sec-card-col-inn">
              <div class="featured-sec-card-col-img-dv">
                <a class="ourcasino-sec-slide-a" href="#">
                  <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/our-casinoimg03.png" alt="">
                </a>
              </div>
            </div>
          </div>
          
          <div class="featured-sec-card-col-dv col-lg-2 col-md-2 col-6 pad-l-5">
            <div class="featured-sec-card-col-inn">
              <div class="featured-sec-card-col-img-dv">
                <a class="ourcasino-sec-slide-a" href="#">
                  <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/our-casinoimg04.png" alt="">
                </a>
              </div>
            </div>
          </div>
          
          <div class="featured-sec-card-col-dv col-lg-2 col-md-2 col-6 diss-no">
            <div class="featured-sec-card-col-inn">
              <div class="featured-sec-card-col-img-dv">
                <a class="ourcasino-sec-slide-a" href="#">
                  <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/our-casinoimg05.png" alt="">
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>