<section class="explore-sec">
    <div class="explore-sec-contnr container-fluid">
      <div class="explore-sec-col-dv col-lg-11 col-md-11 col-12">
        <div class="explore-sec-col-inn--ro">

          <div class="explore-sec-col-innro-col col-lg-6 col-md-6 col-12">
            <div class="explore-sec-col1-wrp">
              <div class="explore-sec-col1-bg">
                <h4>
                  EXPLORE MORE THAN <br>
                  250 CASINO GAMES
                </h4>
                <div class="explore-sec-col1-btn-dv">
                  <a href="#">BROWSE CASINO</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="explore-sec-col-innro-col2 col-lg-6 col-md-6 col-12">
            <div class="explore-sec-col1-wrp2">
              <div class="explore-sec-col1-bg">
                <h4>
                  PLACE A BET ON ANY <br>
                  SPORT AND MAKE MONEY  
                </h4>
                <div class="explore-sec-col1-btn-dv">
                  <a href="#">BROWSE CASINO</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>