<section class="explore-sec">
    <div class="explore-sec-contnr container-fluid">
      <div class="explore-sec-col-dv col-lg-11 col-md-11 col-12">
        <div class="explore-sec-col-inn--ro">
          
          <% let banner1 = data.find(item => item.position == "homePosition1") %> 
          <%if(banner1.status){%>
            <div class="explore-sec-col-innro-col col-lg-6 col-md-6 col-12">
              <div class="explore-sec-col1-wrp">
                <img src="../img/homePosition1.webp" alt="">
                <div class="explore-sec-col1-bg">
                  <h4>
                    EXPLORE MORE THAN <br>
                    250 CASINO GAMES
                  </h4>
                  <div class="explore-sec-col1-btn-dv">
                          <a href="<%=banner1.link%>" class="promotionLink" id="<%=banner1._id%>">BROWSE CASINO</a>
                  </div>
                </div>
              </div>
            </div>
          <%}%>
          
          <% let banner2 = data.find(item => item.position == "homePosition2") %>
          <% if(banner2.status){%> 
            <div class="explore-sec-col-innro-col2 col-lg-6 col-md-6 col-12">
              <div class="explore-sec-col1-wrp2">
                <img src="../img/homePosition2.webp" alt="">
                <div class="explore-sec-col1-bg">
                  <h4>
                    PLACE A BET ON ANY <br>
                    SPORT AND MAKE MONEY  
                  </h4>
                  <div class="explore-sec-col1-btn-dv">
                    <a href="<%=banner2.link%>" class="promotionLink" id="<%=banner2._id%>">BROWSE CASINO</a>
                  </div>
                </div>
              </div>
            </div>
          <%}%>

        </div>
      </div>
    </div>
  </section>