<section class="royalgaming-sec">
    <div class="container-fluid featured-sec-contnr">
      <div class="featured-sec-coldv col-lg-11 col-md-11 col-12">
        <div class="featured-sec-ro">
          <div class="featured-sec-ro--titl">
            <div class="featured-sec-ro--titl1">
              <div class="featured-sec-ro--titl-txt">
                <span class="titl-bodr-lft-spn"></span>
                <h3 class="featured-sec-ro--titl-txt-tg">ROYAL GAMING</h3>
                <!-- <span class="titl-bhind-txt-spn">featured sports</span> -->
              </div>
            </div>
            <div class="featured-sec-ro--titl2">
              <div class="featured-sec-ro--titl-brows-all-btn-dv">
                <a class="featured-sec-ro--titl-brows-all-btn" href="">BROWSE ALL</a>
              </div>
            </div>
            <div class="bg-elemnt-dv">
              <h2 class="bg-elemnt-dv-titl">ROYAL GAMING</h2>
              <img class="bg-elemnt-dv-img img-fluid" src="assets/img/home/royalgaming-back-element.png" alt="">
            </div>
          </div>

          <div class="featured-sec-slide-ro hiroslide">

            <div class="featured-sec-card-col-dv">
              <div class="featured-sec-card-col-inn">
                <div class="featured-sec-card-col-img-dv">
                  <a href="#">
                    <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/royalgaming-img01.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            
            <div class="featured-sec-card-col-dv">
              <div class="featured-sec-card-col-inn">
                <div class="featured-sec-card-col-img-dv">
                  <a href="#">
                    <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/royalgaming-img02.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            
            <div class="featured-sec-card-col-dv">
              <div class="featured-sec-card-col-inn">
                <div class="featured-sec-card-col-img-dv">
                  <a href="#">
                    <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/royalgaming-img01.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            
            <div class="featured-sec-card-col-dv">
              <div class="featured-sec-card-col-inn">
                <div class="featured-sec-card-col-img-dv">
                  <a href="#">
                    <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/royalgaming-img02.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            
            <div class="featured-sec-card-col-dv">
              <div class="featured-sec-card-col-inn">
                <div class="featured-sec-card-col-img-dv">
                  <a href="#">
                    <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/royalgaming-img01.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            
            <div class="featured-sec-card-col-dv">
              <div class="featured-sec-card-col-inn">
                <div class="featured-sec-card-col-img-dv">
                  <a href="#">
                    <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/royalgaming-img02.png" alt="">
                  </a>
                </div>
              </div>
            </div>

          </div>

          <div class="mbl-featured-sec-slide-ro">
            <div class="mbl-featured-sec-card-col-dv col-6 pad-r-5 mb-2">
              <div class="mbl-featured-sec-card-col-dv-inn">
                <a href="#">
                  <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/royalgaming-img01.png" alt="">
                </a>
              </div>
            </div>
            <div class="mbl-featured-sec-card-col-dv col-6 pad-l-5 mb-2">
              <div class="mbl-featured-sec-card-col-dv-inn">
                <a href="#">
                  <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/royalgaming-img02.png" alt="">
                </a>
              </div>
            </div>
            <div class="mbl-featured-sec-card-col-dv col-6 pad-r-5">
              <div class="mbl-featured-sec-card-col-dv-inn">
                <a href="#">
                  <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/royalgaming-img01.png" alt="">
                </a>
              </div>
            </div>
            <div class="mbl-featured-sec-card-col-dv col-6 pad-l-5">
              <div class="mbl-featured-sec-card-col-dv-inn">
                <a href="#">
                  <img class="img-fluid featured-sec-card-col-img-tg" src="assets/img/home/royalgaming-img02.png" alt="">
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>