<section class="featured-sec">
    <div class="container-fluid featured-sec-contnr">
      <div class="featured-sec-coldv col-lg-11 col-md-11 col-12">
        <div class="featured-sec-ro">
          <div class="featured-sec-ro--titl">
            <div class="featured-sec-ro--titl1">
              <div class="featured-sec-ro--titl-txt">
                <span class="titl-bodr-lft-spn"></span>
                <h3 class="featured-sec-ro--titl-txt-tg">FEATURED SPORTS</h3>
                <!-- <span class="titl-bhind-txt-spn">featured sports</span> -->
              </div>
            </div>
            <%let Sports = sliders.find(item => item.name == "Sport")%>
            <div class="featured-sec-ro--titl2">
              <div class="featured-sec-ro--titl-brows-all-btn-dv">
                <a class="featured-sec-ro--titl-brows-all-btn" href="<%=Sports.mainUrl%>">BROWSE ALL</a>
              </div>
            </div>
            <div class="bg-elemnt-dv">
              <h2 class="bg-elemnt-dv-titl">featured sports</h2>
              <img class="bg-elemnt-dv-img img-fluid" src="assets/img/home/featured-back-element.png" alt="">
            </div>
          </div>

          <div class="featured-sec-slide-ro hiroslide">
            <%for(let i = 0; i < Sports.images.length; i++){%>
                <div class="featured-sec-card-col-dv">
                  <div class="featured-sec-card-col-inn">
                    <div class="featured-sec-card-col-img-dv">
                      <a href="<%=Sports.images[i].url%>">
                        <img class="img-fluid featured-sec-card-col-img-tg" src="sliderImages/<%=Sports.images[i].name%>.png" alt="">
                      </a>
                    </div>
                  </div>
                </div>
            <%}%>

            
            

          </div>

         

        </div>
      </div>
    </div>
  </section>