<table>
    <thead>
        <tr>
          <th>User Name</th>
          <th>Amount</th>
          <th>Note</th>
          <th>Request Date</th>
          <th>Request Status</th>
          <th>Bank Details</th>
          <th>Actions</th>                      
        </tr>
    </thead>
    <tbody class="new-body tbody">
        <%if(data.length < 0){%>
        <%for(let i = 0; i < data.length; i++){%>
        
        <%}%>
        <%}else{%>
            <tr class="empty_table"><td>No record found</td></tr>
        <%}%>
    </tbody>
  </table>