<%
let multiTrue = true;
for(let i = 0; i < multimarket.marketIds.length; i++){
    let result
    let isBookmaker = false
    let isToss = false
    result = sportData[0].gameList[0].eventList.find(item => item.marketList.match_odd != null&&  item.marketList.match_odd.marketId == multimarket.marketIds[i])
    if(!result){
        let footBall = sportData[1].gameList.find(item => item.sport_name === "Football")
        footBall = footBall.eventList
        result = footBall.find(item => item.marketList.match_odd != null&&  item.marketList.match_odd.marketId == multimarket.marketIds[i])
        if(!result){
            let Tennis = sportData[1].gameList.find(item => item.sport_name === "Tennis")
            Tennis = Tennis.eventList
            result = Tennis.find(item => item.marketList.match_odd != null&&  item.marketList.match_odd.marketId == multimarket.marketIds[i])
            if(!result){
              result = sportData[0].gameList[0].eventList.find(item => item.marketList.bookmaker != null&&  item.marketList.bookmaker[0].marketId == multimarket.marketIds[i])
              if(result){
                isBookmaker = true
              }else{
              result = sportData[0].gameList[0].eventList.find(item => item.marketList.bookmaker != null&&  item.marketList.bookmaker[1].marketId == multimarket.marketIds[i])
              if(result){
                isToss = true
              }
              }
            }
        }
    }
%>

<%console.log(result) %>

<%if(multiTrue){%>
  <p>There are currently no followed multi markets.</p>
<%} %>