<%- include("../header") %>
  <!--Container Main start-->
  <div class="dashboard-main-wraper">
  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head bet-limit-breadcrum"> 
          <div class="bredcum-container">
            <ul>
                <li><a href="/admin/betlimit" class="active">Bet Limit</a></li>
                
                  <li class="active"><a href="/admin/betlimit/sport">Sport</a></li>
                
            </ul>
          </div>
          <form action="">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" id="searchEvents" list="text_editors" class="form-control searchEvents" placeholder="search event" aria-label="Event" aria-describedby="basic-addon1" autocomplete="off">
              <div class="wrapper">
                <ul id="search" class="users">
              
                </ul>
              </div>
              
            </div>
          </form>            
      </div>
    <%- include("../loginUserAdminsideDetails") %>
  </section>
 
  <%- include("./table.ejs") %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function() {
      $('.bet-list-dropdown span').click(function() {
        $(this).toggleClass('open');
        $(this).parents('tr').nextUntil('tr:not(.hide-row)').toggleClass('show');
      });
    });
</script>
</div>


<!--  -->
<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header" >
        <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
        <h4 class="modal-title">Change Bet Limit</h4>
      </div>
      <div class="modal-body">
        <form class="form-data form-betLimit">
          <div class="row">
              <div class="col">
                <label for="">Type</label>
                <input type="text" class="form-control ml0" placeholder="0" name="type" >
                <input type="hidden" class="form-control ml0" placeholder="0" name="id">
              </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Min Stake</label>
              <input type="text" class="form-control ml0" placeholder="10000000" name="min_stake">
            </div>
            <div class="col">
              <label for="">Max Stake</label>
              <input type="text" class="form-control ml0" placeholder="0" name="max_stake">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Max Profit</label>
              <input type="text" class="form-control ml0" placeholder="0" name="max_profit">
            </div>
            <div class="col">
              <label for="">Max Odd</label>
              <input type="text" class="form-control ml0" placeholder="0" name="max_odd">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Delay</label>
              <input type="text" class="form-control ml0" placeholder="0" name="delay">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="">Transcation Password</label>
              <input type="password" class="form-control ml0" required name="password">
            </div>
          </div>
        <button type="submit" class="btn-submit mt-3 ">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(document).ready(function($) {
      $(".tbl-data-href").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>

<script src="/js/bundle.js"></script>
<script src="http://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script type="text/javascript" src="../../js/bundle.js"></script>


</body>
</html>