<table>
    <thead>
        <tr >
          <th>Market</th>
          <th>Status</th>
        </tr>
    </thead>
    <tbody class="new-body" id="markets">
      <tr class="empty_table"><td>No record found</td></tr>
      </tbody>
  </table>