<div class="services-sec-card-col col-lg-4 col-md-4 col-12 pad-l-10">
    <div class="services-sec-card-wrp">
      <div class="services-sec-card-img-dv">
        <span>
          <img class="img-fluid" src="assets/img/home/services-icon03.svg" alt="services">
        </span>
      </div>
      <h5>100% SECURE</h5>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
      </p>
    </div>
  </div>