<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../images/logo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<title>Balaji Dashboard</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.css">
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js" integrity="sha256-6ec2OYfOEVNM4UoRBRGoUP5SRgKyf/FhNoOjTwtqD3k=" crossorigin="anonymous"></script>
<style>

select {
  word-wrap: normal;
    padding: 6px 12px;
    margin: 4px 0px !important;
    background-color: #ffff;
    border-radius: 10px;
    border: none;
    color: #000;
    border: 2px solid #EAEEF7;
}
</style>
</head>
<body id="body-pd" class="fix-width-body" style="background-color:#EAEEF7;">
  <header class="header" id="header">
      <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> 
        <span class="datre-time">Date 21-12-22  &nbsp;&nbsp;  Time-11:08</span>
      </div>
      
      <div>
      
        <div class="social-media">
          <!-- <span>Follow us: </span> -->
          <span><a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa-solid fa-moon"></i></a></span> 
          <span> <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa-solid fa-bell"></i></a></span> 
          <span> <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa-solid fa-message"></i></a></span> 
          <span> <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa-solid fa-gear"></i></a></span> 
        </div>
      </div>
  </header>
  <div class="l-navbar" id="nav-bar" style="background-color: #FFFFFF;">
      <nav class="nav">
        
        <div class="nav_list"> 
          <a href="index" class="nav_link active"> <img src="../images/dash.png" alt=""> <span class="nav_name">Dashboard</span> </a> 
          <a href="/about" class="nav_link"> <img src="../images/user.png" alt=""> <span class="nav_name">User Mangement</span> </a> 
          <a href="/operation" class="nav_link"> <img src="../images/222.png" alt=""> <span class="nav_name">Operation</span> </a> 
          <a href="/livemarket" class="nav_link"> <img src="../images/333.png" alt=""> <span class="nav_name">Live Market</span> </a> 
          <a href="/casinocontrol" class="nav_link"> <img src="../images/44.png" alt=""> <span class="nav_name">Casino Control</span> </a> 
          <a href="/reports" class="nav_link"> <img src="../images/55.png" alt=""> <span class="nav_name">Reports</span> </a> 
          <a href="/payment" class="nav_link"> <img src="../images/66.png" alt=""> <span class="nav_name">Payments Gateway Option</span> </a>
          <a href="/promotion" class="nav_link"> <img src="../images/77.png" alt=""> <span class="nav_name">Promotion</span> </a>
          <a href="/cms" class="nav_link"> <img src="../images/88.png" alt=""> <span class="nav_name">Cms</span> </a>
        </div>
          
      </nav>
  </div>
  <!--Container Main start-->
  <div class="height-100" style="background-color: #EAEEF7;">

  <section class="pad-top-bottom" style="padding:70px 0px 10px;">
    <div class="container-fluid">
    <section>
      <div class="align-fix"> 
          <h1 class="main-heading">Notification</h1>
          <form action="" style="display: flex;height: 30px;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search or type  a URL" aria-label="Username" aria-describedby="basic-addon1" style="margin-right: 13px;height: 32px;">
              
            </div>
            <button class="btn-filter"><i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
          </form>
      </div>
    </section>
    <div class=""> 
       
        <div class="main">
          <div class="skin-data green">
              <h5>Credit Reference</h5>
              <h6>21,00,00,01,100.00</h6>
          </div>
          <div class="skin-data green">
              <h5>Balance</h5>
              <h6>21,00,91,42,890.00</h6>
          </div>
          <div class="skin-data green">
              <h5>Available Balance</h5>
              <h6>5,14,94,44,334.48</h6>
          </div>
          <div class="skin-data green">
              <h5>Downline Balance</h5>
              <h6>15,85,96,98,555.52</h6>
          </div>

          <div class="skin-data red">
              <h5>MY P/L</h5>
              <h6>-91,41,790.00</h6>
          </div>
          <div class="skin-data red">
              <h5>Upline P/L</h5>
              <h6>-54,58,455.00</h6>
          </div>
          <div class="skin-data green">
              <h5>Client P/L</h5>
              <h6>91,41,790.00</h6>
          </div>
      </div>
    </div>
  </div>
  </section>

  <section style="padding: 15px 0px;">
    <div class="container-fluid">
    <div class="row" style="background-color: #fff;padding: 15px 0px;border-radius: 10px;margin: auto;">
      <div class="">
        
      <h3 class="fix-h3"><img src="../images/c-user.png" alt=""> &nbsp;Bet Monitoring</h3>
    </div>
    <div class="header-front">
    <div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Bets Monitaring
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/operation">House Management</a></li>
          <li><a class="dropdown-item " href="/setalment">Settlements</a></li>
          <li><a class="dropdown-item " href="/gameanalysis">Game Analysis</a></li>
          <li><a class="dropdown-item" href="/streammanagement">Stream Managements</a></li>
          <li><a class="dropdown-item active" href="/Notification">Notification</a></li>
          <li><a class="dropdown-item" href="/betmoniter">Bets Monitaring</a></li>
          <li><a class="dropdown-item" href="/alertbet">Alert Bets</a></li>
          <li><a class="dropdown-item" href="/betlimit">Bet Limits</a></li>
          <li><a class="dropdown-item" href="/suspend">Suspend Managements</a></li>

          
        </ul>
      </div>
    </div>
    <div>
      <span class="up-down-form">Select Sports</span>
      <form action="">
        <select name="" id="">
          <option value="">Cricket</option>
          <option value="">FOOTBALL</option>
          <option value="">TENNIS</option>
          <option value="">BASKETBALL</option>
          <option value="">BASEBALL</option>
         
        </select>
      </form>
    </div>
    <div>
      <span class="up-down-form">Select Market</span>

      <form action="">
        <select name="" id="">
          <option value="">All</option>
          <option value="">Match Odds</option>
          <option value="">BookMaker</option>
          <option value="">Fancy</option>
          <option value="">GoalMarket</option>
         
        </select>
      </form>
    </div>
    <div>
      <span class="up-down-form">Select Event</span>
      <form action="">
        <select name="" id="">
          <option value="">Cricket</option>
          <option value="">FOOTBALL</option>
          <option value="">TENNIS</option>
          <option value="">BASKETBALL</option>
          <option value="">BASEBALL</option>
         
        </select>
      </form>
    </div>
      <div>
        <span class="up-down-form">From Date</span>
      <form action="">
        
          <input type = "date" style="border-radius: 10px;padding: 5px;border: 2px solid #EAEEF7;"> 
      </form>
        </div>
        <div>
          <span class="up-down-form">To Date</span>  
          <form action="">
          <input type = "date" style="border-radius: 10px;padding: 5px;border: 2px solid #EAEEF7;"> 
          </form>
          </div>
      <div  class="loc"style="">
      <button class="btn-filter"><i class="fa-solid fa-download"></i> &nbsp; Refresh</button>
    </div>
  </div>


  <div class="header-frontq">
    <div class="dis-flex">
      
    </div>
    <div>
      <form action="">
        <select name="" id="">
          <option value="">Unsettled</option>
          <option value="">FOOTBALL</option>
          <option value="">TENNIS</option>
          <option value="">BASKETBALL</option>
          <option value="">BASEBALL</option>
         
        </select>
      </form>
    </div>
    <div>

      <form action="">
        <select name="" id="">
          <option value="">Select One</option>
          <option value="">Match Odds</option>
          <option value="">BookMaker</option>
          <option value="">Fancy</option>
          <option value="">GoalMarket</option>
         
        </select>
      </form>
    </div>
    <div>
      <form action="">
        <select name="" id="">
          <option value="">All</option>
          <option value="">FOOTBALL</option>
          <option value="">TENNIS</option>
          <option value="">BASKETBALL</option>
          <option value="">BASEBALL</option>
         
        </select>
      </form>
    </div>
 
  </div>


  <section class="">
    <div class="">
      <br>
      <div class="table_data_details_ col-lg-12">
    
              <table>
                <thead>
                    <tr style="text-align: center;font-size: 11px;">
                      <th>S.No</th>
                      <th>Date</th>
                      <th>Parent </th>
                      <th>User Name</th>
                      <th>Sport</th>
                      <th>Event</th>
                      <th>Market </th>
                      <th>Odds</th>
                      <th>Stake</th>
                      <th>Result</th>
                      <th>State </th>
                      <th>P/L</th>
                      <th>IP </th>
                      <th>Action</th>
                      
                    </tr>
                </thead>
                <tbody class="new-body">
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>22-12-2022, 03:05 </td>
                    <td>10</td>
                    <td>Betting123 </td>
                    <td>Cricket</td>
                    <td>Vivo </td>
                    <td>27</td>
                    <td>23 </td>
                    <td>15</td>
                    <td>23 </td>
                    <td>Delhi</td>
                    <td>27 </td>
                    <td>000001156</td>
                    <td>20 </td>
                    
                  </tr>
                  <tr style="text-align: center;">
                    <td>1</td>
                    <td>22-12-2022, 03:05 </td>
                    <td>10</td>
                    <td>Betting123 </td>
                    <td>Cricket</td>
                    <td>Vivo </td>
                    <td>27</td>
                    <td>23 </td>
                    <td>15</td>
                    <td>23 </td>
                    <td>Delhi</td>
                    <td>27 </td>
                    <td>000001156</td>
                    <td>20 </td>
                  </tr>
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>22-12-2022, 03:05 </td>
                    <td>10</td>
                    <td>Betting123 </td>
                    <td>Cricket</td>
                    <td>Vivo </td>
                    <td>27</td>
                    <td>23 </td>
                    <td>15</td>
                    <td>23 </td>
                    <td>Delhi</td>
                    <td>27 </td>
                    <td>000001156</td>
                    <td>20 </td>
                    
                  </tr>
                  <tr style="text-align: center;">
                    <td>1</td>
                    <td>22-12-2022, 03:05 </td>
                    <td>10</td>
                    <td>Betting123 </td>
                    <td>Cricket</td>
                    <td>Vivo </td>
                    <td>27</td>
                    <td>23 </td>
                    <td>15</td>
                    <td>23 </td>
                    <td>Delhi</td>
                    <td>27 </td>
                    <td>000001156</td>
                    <td>20 </td>
                  </tr>
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>22-12-2022, 03:05 </td>
                    <td>10</td>
                    <td>Betting123 </td>
                    <td>Cricket</td>
                    <td>Vivo </td>
                    <td>27</td>
                    <td>23 </td>
                    <td>15</td>
                    <td>23 </td>
                    <td>Delhi</td>
                    <td>27 </td>
                    <td>000001156</td>
                    <td>20 </td>
                    
                  </tr>
                  <tr style="text-align: center;">
                    <td>1</td>
                    <td>22-12-2022, 03:05 </td>
                    <td>10</td>
                    <td>Betting123 </td>
                    <td>Cricket</td>
                    <td>Vivo </td>
                    <td>27</td>
                    <td>23 </td>
                    <td>15</td>
                    <td>23 </td>
                    <td>Delhi</td>
                    <td>27 </td>
                    <td>000001156</td>
                    <td>20 </td>
                  </tr>
                  <tr style="text-align: center;" class="blue">
                    <td>1</td>
                    <td>22-12-2022, 03:05 </td>
                    <td>10</td>
                    <td>Betting123 </td>
                    <td>Cricket</td>
                    <td>Vivo </td>
                    <td>27</td>
                    <td>23 </td>
                    <td>15</td>
                    <td>23 </td>
                    <td>Delhi</td>
                    <td>27 </td>
                    <td>000001156</td>
                    <td>20 </td>
                    
                  </tr>
                  <tr style="text-align: center;">
                    <td>1</td>
                    <td>22-12-2022, 03:05 </td>
                    <td>10</td>
                    <td>Betting123 </td>
                    <td>Cricket</td>
                    <td>Vivo </td>
                    <td>27</td>
                    <td>23 </td>
                    <td>15</td>
                    <td>23 </td>
                    <td>Delhi</td>
                    <td>27 </td>
                    <td>000001156</td>
                    <td>20 </td>
                  </tr>
                  
                 
                </tbody>
              </table>
              </div>
            </div>

            </div>
          </div>
        </section>
<!-- seling section -->

<!--  -->

<!--  -->
<div class="modal fade" id="myModaladduser" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header" style="text-align: center;">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title" style="color: #fff;">Add HouseFunds</h4>
      </div>
      <div class="modal-body">
        <form class="form-data">
          <div class="row">
            <div class="col">
              <label for="">Amounts</label>
              <input type="text" class="form-control ml0" placeholder="1000000" name="email">
            </div>
            <div class="col">

            </div>
          </div>
                   <button type="button" class="btn-submit mt-3">AddFunds &nbsp; <img src="../images/sub.png" alt=""></button>
        </form>
      </div>
    </div>
    
  </div>
</div>
  </div>
    
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>

</body>
    </html>