<section>
    <div class="container-fluid">
        <div class="table-data-section">
            <div class="table-heading">
                <h3>Bet Limits</h3>
            </div>
            <div class="data-table">
              <div class="rowId" data-rowid="1"></div>
  <table class="bet-list-table">
      <%if(series.length > 0){%>
        <thead>
            <tr>
                <th>Competition</th>
                <th>Min Stake</th>
                <th>Max Stake </th>
                <th>Max Profit</th>
                <th>Max Odd</th>
                <th>Delay</th>
                <th>Actions </th>
                </tr>
        </thead>
        <tbody class="new-body">
  
  
  
  
            <!-- CRICKET -->
            <%for(let i = 0; i < series.length; i++){%>
                <tr id="<%=i + 1%>">
                    <td class="btn-filter"><%=series[i].series%></td>
                    <td><input type="text" class="form-datas" readonly></td>
                    <td><input type="text" class="form-datas" readonly></td>
                    <td><input type="text" class="form-datas" readonly></td>
                    <td><input type="text" class="form-datas" readonly></td>
                    <td><input type="text" class="form-datas" readonly></td>
                    <td>
                      <div class="btn-group">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#myModal2"class="btn update updateBetLimit">Update</button>
                      </div>
                    </td>
                  </tr>
            <%}%>
        </tbody>
    <%}else{%>
        <tr class="empty_table"><td>No <%=gameName%> Series! </td></tr>
    <%}%>
  </table>
            </div>
        </div>
    </div>
  </section>