<div class="nww-bet-slip-wrp">
    <div class="nww-bet-slip-wrp-col1">
      <div class="nww-bet-slip-wrp-col1-txt">
        <span>Profit <b class="c-gren">2000.00</b></span>
      </div>

      <div class="nww-bet-slip-wrp-col1-txt">
        <span class="nww-bet-slip-wrp-col1-txt-icons">
          <i class="fa-solid fa-plus"></i>
        </span>
        <span class="nww-bet-slip-wrp-col1-txt-num">1.75</span>
        <span class="nww-bet-slip-wrp-col1-txt-icons">
          <i class="fa-solid fa-minus"></i>
        </span>
      </div>

      <div class="nww-bet-slip-wrp-col1-txt">
        <div class="nww-bet-slip-wrp-col1-txt-inn input-group-sm">
          <input type="number" class="form-control set-stake-form-input2" placeholder="Custom" aria-label="Last name">
        </div>
      </div>
    </div>

    <div class="nww-bet-slip-wrp-col2">
      <div class="nww-bet-slip-wrp-col2-inn">
        <span>500</span>
        <span>1000</span>
        <span>2000</span>
        <span>5000</span>
        <span>10000</span>
        <span>20000</span>
        <span>50000</span>
        <span>100000</span>
        <span>200000</span>
      </div>
    </div>

    <div class="nww-bet-slip-wrp-col3">
      <div class="nww-bet-slip-wrp-col3-txt1">
        <p>
          Please select a Stake Amount. Enter a custom amount by clicking on the custom box.
        </p>
      </div>

      <div class="nww-bet-slip-wrp-col3-txt1">
        <a href="#"> Place Bet </a>
      </div>

    </div>

  </div>