<div class="exchange-pg-inn-banner-col">
    <div class="exchange-pg-inn-banner-col-titi">
        <div class="exchange-pg-inn-banner-col-titi-txt">
            <h6>Test Matches / <span>Bangladesh v Afghanistan</span></h6>
        </div>
        <div class="exchange-pg-inn-banner-col-titi-txt-tim">
            <i class="fa-regular fa-clock"></i>
            <h6>16 June 2023, 9:30 AM</h6>
        </div>
    </div>
    <div class="exchange-pg-inn-banner-tv">
        <div class="exchange-pg-inn-banner-tv-inn">
            
        </div>
    </div>
</div>