<div class="exchange-pg-inn-banner-col2">
    <div class="exchange-pg-inn-banner-col-titi">
        <div class="exchange-pg-inn-banner-col-titi-txt">
            <h6><span>Match Odds</span> &nbsp; <i class="fa-solid fa-circle-info"></i></h6>
        </div>
        <div class="exchange-pg-inn-banner-col-titi-txt-tim">
            <h6><b>Min : 100, Max : 5K</b></h6>
        </div>
    </div>

    <div class="exchange-pg-inn-tbl">
        <table class="acount-stat-tbl">

            <thead class="acount-stat-tbl-hed2">
                <tr class="acount-stat-tbl-hed-tr2" >
                    <th style="text-align: left;" class="bod-red-lft ">Market</th>
                    <th style="text-align: center;" colspan="3">Back</th>
                    <th style="text-align: center;" colspan="3" class="bod-red-rit">Lay</th>
                </tr>
            </thead>

            <tbody class="acount-stat-tbl-body">
                <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                    <td style=" text-align: left;">
                        Bangladesh
                    </td>
                    
                    <td >
                        <span class="tbl-bg-blu-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>

                    <td >
                        <span class="tbl-bg-blu-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>

                    <td >
                        <span class="tbl-bg-blu-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>

                    <td >
                        <span class="tbl-bg-pech-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>
                    
                    <td >
                        <span class="tbl-bg-pech-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>
                    
                    <td >
                        <span class="tbl-bg-pech-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>
                    
                </tr>
                <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                    <td style=" text-align: left;">
                        Bangladesh
                    </td>
                    
                    <td >
                        <span class="tbl-bg-blu-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>

                    <td >
                        <span class="tbl-bg-blu-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>

                    <td >
                        <span class="tbl-bg-blu-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>

                    <td >
                        <span class="tbl-bg-pech-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>
                    
                    <td >
                        <span class="tbl-bg-pech-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>
                    
                    <td >
                        <span class="tbl-bg-pech-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>
                    
                </tr>
                <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                    <td style=" text-align: left;">
                        Bangladesh
                    </td>
                    
                    <td >
                        <span class="tbl-bg-blu-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>

                    <td >
                        <span class="tbl-bg-blu-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>

                    <td >
                        <span class="tbl-bg-blu-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>

                    <td >
                        <span class="tbl-bg-pech-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>
                    
                    <td >
                        <span class="tbl-bg-pech-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>
                    
                    <td >
                        <span class="tbl-bg-pech-spn">
                            <span><b>75.5</b></span> 
                            <span>517.00</span>
                        </span> 
                    </td>
                    
                </tr>
                
            </tbody>

          </table>
    </div>

    <div class="exchange-pg-inn-tbl-marqq-dv">
        <div class="exchange-pg-inn-tbl-marqq-dv-wrp">
            <marquee>West Indies Women vs Ireland Women : Advance Toss & Fancy Bets Started in Our Exchange 🏏</marquee>
        </div>
    </div>

</div>