<%- include("../header") %>
  <!--Container Main start-->
  <div class="dashboard-main-wraper">
  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head"> 
          <h3 class="main-heading">Stream Management</h3>
          <div class="form">
            
          </div>
      </div>
  </section>

  <section>
    <div class="container-fluid">
        <div class="table-data-section">
            <div class="table-heading">
                <h3>Stream Management</h3>
                <div class="rowId" data-rowid="1"></div>
                <div class="table-heading-btn">
                  
                </div>
            </div>
            <div class="data-table">
              <table>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Sport</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="new-body">
                    <% for(let i = 0; i < sportList.length; i++){%>
                    <%if((i%2)==0){%>
                    <tr>
                        <%}else{%>
                        <tr>
                            <%}%>
                            <td><%=i + 1%></td>
                            <td><%=sportList[i].sport_name%></td>
                            <td>
                                <div class="btn-group">
                                    <button class="series_list"> <a href="/admin/streammanagement/event?sportId=<%=sportList[i].sportId%>">Event List</a></button>
                                </div>
                            </td>
                            <%}%>
                        </tr>
                    </tr>
                </tbody>
            </table>
             
            </div>
        </div>
    </div>
</section>
</div>

<div class="modal fade" id="myModaladduser" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header" style="text-align: center;">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title" style="color: #fff;">Edit Stream</h4>
      </div>
      <div class="modal-body">
        <form class="form-data">
          <div class="row">
            <div class="col">
              <label for="">Amounts</label>
              <input type="text" class="form-control ml0" placeholder="1000000" name="email">
            </div>
          </div>
          <button type="button" class="btn-submit mt-3">AddFunds &nbsp; <img src="../images/sub.png" alt=""></button>
        </form>
      </div>
    </div>
    
  </div>
</div>

    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script type="text/javascript" src="../js/bundle.js"></script>


</body>
    </html>